<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Broad Spectrum CBD vs Full Spectrum</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Full Spectrum CBD contains all compounds from the cannabis plant, including trace amounts of THC. Broad Spectrum CBD retains these same compounds and phytonutrients, but does not contain any THC.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What products are best for beginners?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                If you’re new to CBD, you should be starting out with our Regular or <a hraf="https://www.rrmeds.com/collections/extra-strength">Extra</a> Strength product options so you can get a feel for how your body reacts to CBD. Everyone responds differently to cannabinoids, with some people being more sensitive than others (but remember, CBD doesn’t come with the harsh side effects of other pharmaceuticals).
                <br><br>
                Once you understand your body’s needs, you’ll be able to adjust your dose and graduate to higher potency options.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What if I’m not feeling any effects?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Some people are less sensitive to CBD than others, so if you’re not feeling anything after your first few doses, don’t worry! CBD builds up cumulatively in your system over time, so the more you take, the greater the effects may be.
                <br><br>
                Continue taking between 1-2 doses every day for at least a couple of weeks. Consistent dosing is crucial to experiencing benefits.
                <br><br>
                If after 2 weeks of regular dosing you’re still not feeling any effects, get in touch with us and we will help you find another product that may be better suited to you, or we’ll give you a full refund.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What strength is best for me?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                If you’re new to CBD, start out with our Regular or <a hraf="https://www.rrmeds.com/collections/extra-strength">Extra-Strength</a> options.
                <br><br>
                Our <a href="https://www.rrmeds.com/collections/maximum-strength">Maximum-Strength</a> products are ideal for those who are looking for the strongest relief available.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Do you offer any refunds?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                We offer a 60-day Money-Back Guarantee to those who have tried their CBD products consistently (between 1-2 times per day) for at least a couple of weeks. This is the time it takes for some people to begin experiencing effects.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Is your shipping fast?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Our standard shipping may take up to seven days to arrive, though they usually arrive in around five days. We do offer expedited and more premium options for faster shipping at checkout, too, such as 2-day shipping. International shipping can take a longer period of time depending on the destination, and those options are also provided at checkout.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How does a multifunctional product work?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                <a href="https://www.rrmeds.com/collections/multifunctional">Multifunctional</a> products work to address a range of issues all at once. CBD interacts naturally with your system to restore balance to your body and mind, helping to regulate sleep cycles, reduce inflammation and the perception of pain, and promote feelings of calm. Our Multifunctional line offers all this relief in every single product.
            </div>
        </div>
    </div>
</div>
