<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Full Spectrum CBD vs Broad Spectrum CBD: Which should I be taking?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Full Spectrum CBD denotes our formula that has a wealth of other cannabinoids and phytonutrients present, including trace amounts of THC.
                <br><br>
                Broad Spectrum offerings indicate that the THC has been removed from the formula while preserving the rest of the phytonutrient profile.
                <br><br>
                If you wish to avoid consuming any THC, then opt for Broad Spectrum formulations.
                <br><br>
                R&R’s Broad and Full Spectrum formulas offer nearly identical cannabinoid and phytonutrient profiles, so you can’t go wrong with either in terms of potential benefits!*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Will CBD show on drug tests?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                CBD itself isn't typically the target of standard drug tests, which typically test for the presence of THC, the psychoactive compound in cannabis.
                <br><br>
                Complications arise when it comes to Full Spectrum CBD products since these can contain trace amounts of THC, as R&R’s Full Spectrum products do. Even these small amounts of THC could accumulate in the body with regular use and potentially result in a positive test.
                <br><br>
                To be more cautious about drug testing and CBD use, you can opt for Broad Spectrum products. However, to be totally on the safe side, abstain from using any cannabis products whatsoever as other minor cannabinoids may trigger a false-positive result for THC. We recommend speaking with your employer about their CBD and cannabis policy before taking any hemp product, and to not take them at all if you are subject to testing.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How do I choose the right strength?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                When deciding on the right CBD strength, start by clarifying your goals.
                <br><br>
                For general wellness, a lower strength might suffice. For more pressing concerns, such as pain or anxiety, a higher concentration will likely be more effective. Keep in mind that value increases as potency increases, and you can always take less!
                <br><br>
                Sensitivity to CBD varies from person to person. Consider your body weight, metabolism, and tolerance, as these factors can influence how you react to CBD. As a rule of thumb, it's wise to start with a lower dose and gradually increase until you find the amount that works best for you.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What if I need a stronger dose?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                If you’ve tried our <a href="https://www.rrmeds.com/collections/regular-strength">Regular</a> and Extra Strength options and would like even more relief, give our <a href="https://www.rrmeds.com/collections/maximum-strength">Maximum Strength</a> options a try. Not only can these products be extremely effective, but they are the best value, too.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Can you help me tailor my routine?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                We’d love to! You can schedule a personalized call with one of our Relief Experts by <a target="_blank" href="https://calendly.com/r-r-client-service/personalized-call?month=2023-09">clicking here</a>.
                <br><br>
                You can also email us at <a href="mailto:contact@rrmeds.com">contact@rrmeds.com</a> or text us at 303-529-7695.
                <br><br>
                We’re here to help!
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What if your products don’t work?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                If you don’t notice any effects the first time you take one of our products, don’t worry! This is completely normal. Some people are less sensitive to CBD than others–but if you take it consistently (between 1-2 times per day) you will most likely begin feeling effects after a few days, or even sometimes a week or two. Stick with it and it should work!
                <br><br>
                We’re always here to guide you, answer questions you have, and ensure you’re taking the product correctly for best performance - if you ever run into any issues, give us a text, call, or email and we'll be here to help!*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How long will my order take to arrive?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                For U.S. orders with standard shipping, you can expect packages to arrive in up to seven days, though they often arrive in around five days. We also offer expedited options at checkout.
                <br><br>
                International shipping can vary a little more depending on destination. International shipping options are available to view at checkout, and it typically arrives within one month.
            </div>
        </div>
    </div>
</div>
