<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What’s the difference between THC-Free and Full Spectrum?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                R&R’s Full Spectrum CBD captures the entire botanical footprint of the cannabis plant. This includes over 100 different cannabinoids, including trace amounts of THC, as well as a myriad of terpenes, flavonoids, and antioxidants. Our Broad Spectrum (THC-Free) formulas do not contain any THC, though all other naturally occurring compounds are preserved.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Should I use Full Spectrum vs Broad Spectrum CBD for dogs?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Full spectrum CBD contains all of the natural compounds found in cannabis, including trace amounts of THC. Many believe that these compounds work together to enhance the therapeutic benefits in a phenomenon known as the "entourage effect". This is why R&R’s Pet Tincture comes in Full Spectrum, in order to maximize benefits. The amount of THC retained is minor, and will not get your dog “high” if dosed properly.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What’s the CBD dosage for dogs?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                We offer two products that will be perfect for your pooch.
                <br><br>
                Follow the directions below for our Pet Chews:
                <br><br>
                For pets who are between 1 to 25 pounds, give them 1 Chew.
                <br>
                For pets who are 26 pounds or heavier, give them 2 Chews.
                <br><br>
                For our Pet Tincture, we recommend the following dosage:
                <br><br>
                For pets who are between 1 to 25 pounds, administer a dose of 0.25 mL.
                <br>
                For those who weigh between 26-50 pounds, give them 0.25-0.50mL.
                <br>
                For pets between 51 pounds to 100 and over, we suggest 0.50-1.0mL.
                <br><br>
                Our graduated Tincture dropper makes precise dosing easy with markings at each .25mL level. Also, note that CBD is most effective when taken consistently, so be sure to dose your pet between 1-2 times daily.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Does CBD help dogs with fireworks?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Yes! We’ve designed our CBD pet products to soothe and calm dogs during stressful situations, including fireworks.
                <br><br>
                We recommend beginning to dose your dog at least a few days before the scheduled fireworks to enable the CBD to build up within your dog’s system since the CBD will be more effective on the day of.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How long does CBD take to work on cats?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                When CBD is administered orally to cats, either directly into their mouths or mixed with food, it generally takes about 5 minutes to 2 hours for the effects to be noticeable.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How does CBD work on pets?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                CBD's influence on pets, much like in humans, is primarily attributed to its interaction with the endocannabinoid system, a complex cell-signaling system present in all mammals, playing a pivotal role in regulating various physiological processes like cortisol release, mood, pain sensation, appetite, and sleep.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How to administer CBD oil for dogs?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                We designed our CBD Pet Tincture to be highly versatile to accommodate different dosing techniques.
                <br><br>
                For the most potent, fastest-acting method, drip the oil directly into your dog’s mouth. This way, more of the Tincture can be absorbed directly into your pet’s bloodstream without needing to go through the digestive system.
                <br><br>
                If your dog doesn’t love the taste of the Tincture and dosing orally becomes challenging, you can drip it onto their food or a treat to make dosing easier on you both.
                <br><br>
                We also offer <a href="https://www.rrmeds.com/products/5mg-hemp-extract-dog-chews-chicken-flavored">CBD Dog Chews</a> that are dog-approved! These tasty treats go over well even for pickier pooches.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How long will my products take to arrive?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                We use USPS, FedEx, and other reputable services to ship our products in the most timely manner possible. Packages ordered with standard shipping may take up to seven days to arrive, though they usually arrive in up to five days. International shipping options are provided at checkout.
            </div>
        </div>
    </div>
</div>
