<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Which is better: CBD Full Spectrum vs Broad Spectrum?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Both Broad and Full Spectrum CBD can be very beneficial: what you choose should come down to your personal preference.
                <br><br>
                R&R’s Full Spectrum CBD contains a full cannabinoid profile that includes CBD, minor cannabinoids like CBG and CBN, and trace amounts of THC. Our Broad Spectrum formulas go through an additional processing step to remove all traces of THC but still retain the other beneficial cannabinoids.
                <br><br>
                You should select Broad Spectrum products if you are explicitly looking to avoid THC for whatever reason.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How does CBD work for stress?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                CBD's potential to manage stress is believed to come from its interactions with the central nervous system and specific neurotransmitter systems.
                <br><br>
                When CBD is introduced into the body, it interacts with the endocannabinoid system (ECS), which plays a pivotal role in mood regulation, cortisol release, and stress response. By modulating the activity of the ECS, CBD may <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8704602/">enhance</a> the levels of endocannabinoids, particularly anandamide, often referred to as the "bliss molecule" due to its role in promoting feelings of well-being and happiness.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What’s the best product for quick stress relief?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                If you’re experiencing anxiety and want relief fast, turn to our <a href="/products/cbd-cbn-cbg-de-stress-gummies?variant=42853261148358">De-Stress Gummies</a>. Formulated with naturally relaxing botanicals and adaptogens, these Gummies are designed to stop racing thoughts and promote feelings of calm.
                <br><br>
                Another option to explore is our <a href="/collections/tinctures">CBD Tinctures</a>. These solutions are our fastest-acting when taken beneath your tongue and held there for at least 60 seconds. This allows the CBD to be absorbed directly into your bloodstream instead of having to pass through your digestive system. You can feel the effects of our Tinctures in as little as 5 minutes.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">When to take CBD gummies for anxiety?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Take <a href="/products/cbd-cbn-cbg-de-stress-gummies?variant=42853261148358">De-Stress Gummies</a> about 30 minutes to 1 hour before a stressful event that you know will cause an anxiety flare-up.
                <br><br>
                Additionally, we strongly recommend taking between 1-2 doses every single day in order to experience the most benefits. CBD builds up cumulatively in your system, meaning that the more you take, the less anxiety you may feel. That’s why a CBD routine is so important, and why we offer Subscriptions: we take over ordering for you, ensuring you never miss a dose. Plus, you’ll receive 20% off every order and all U.S. Subscriptions ship free!*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How much CBD should I be taking?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                We recommend between 1-2 doses per day, every day. Consistent dosing is key to reaping the biggest benefits from CBD since the cannabinoid accumulates in your body over time. The more you take, the more effects you may experience.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How do I manage everyday stress with CBD?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Managing everyday stress can be possible with CBD. Once you select a product that suits your lifestyle, take 1-2 doses every day. CBD builds up in your system over time, so the more you take, the greater the benefits you may experience.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How can I sign up for a Subscription?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Our Subscribe & Save products are the default option while you're shopping—that's because a consistent routine with CBD will get you the best results. Select your order amount and the frequency you wish to receive your products.
                <br><br>
                You can make changes to your Subscription at any time, plus add one-time products, from your Account page.
            </div>
        </div>
    </div>
</div>
