<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What is a CBD tincture made of?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                R&R’s CBD Tinctures begin with our potent and effective CBD hemp extract, available in Full or Broad Spectrum - all certified USDA Organic. We add organic MCT coconut oil to act as a carrier oil and to aid with CBD absorption. Our Fresh Mint Tinctures also include organic natural mint flavoring.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How is Full Spectrum and Broad Spectrum CBD different?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Full Spectrum CBD provides a “whole plant” experience, offering a comprehensive wellness profile reflecting the plant's full suite of cannabinoids, terpenes, and even trace amounts of THC. The only difference with broad spectrum CBD is that it has undergone a process that removes any THC, which is why broad spectrum is also known as “THC-free” CBD.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How to use CBD Tincture?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                CBD Tinctures are highly versatile, meaning you can take them in a number of ways. We recommend sublingual administration: this means you should place the oil beneath your tongue and hold it there for as long as you can, or at least 60 seconds. Sublingual administration is the most efficient and direct way to deliver CBD to your bloodstream, so if you’re looking for the fastest-acting relief, this is the way to go.
                <br><br>
                You can also combine your Tincture with food or drinks, although this will take longer for the body to absorb the CBD and allow it to enter your bloodstream.
                <br><br>
                Regardless, take your Tincture consistently: we recommend 1-2 doses every day, plus a dose an hour before an activity that may cause flare-ups and any time you’re feeling pain or are stressed. Consistent dosing is key to maximizing the beneficial effects.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How long does CBD tincture last in your system?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                The presence of CBD in the bloodstream after consuming a tincture can typically range from 2 to 5 days and gradually reduces over time.
                <br><br>
                However, this duration is a general estimate and can vary based on individual factors. The dosage plays a role; higher doses of CBD tend to linger in the system longer than smaller ones.
                <br><br>
                Additionally, how frequently someone uses CBD also impacts its longevity in the body. Regular consumers of CBD might find that the compound stays detectable in their system for an extended period compared to those who use it less frequently.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How much CBD tincture should I take?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Once you’ve decided on the potency you’d like, we recommend taking 1-2 servings (1-2 mL) per dose and dosing between 1-2 times per day, every day, for best results. For a greater impact, we suggest gradually increasing your dose until you find what works best for you and your symptoms.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Does CBD tincture expire?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                R&R’s CBD Tinctures come with a “best by” date of 2 years after production.
                <br><br>
                Factors that can contribute to a tincture's degradation include exposure to light, heat, and air, so be sure to store your Tinctures in a cool, dark place away from direct sunlight.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What if it’s not working?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Everyone reacts differently to CBD. Some people will notice effects right away, while others require 5 days (and sometimes more) of consistent dosing in order to begin feeling benefits.
                <br><br>
                So, if it’s not working for you right away, be patient! Keep dosing regularly between 1-2 doses per day. Experiment with increasing your dose size as well.
                <br><br>
                If after a few weeks of consistent, daily dosing, you still do not experience any effects, contact us and we can help you find a more suitable product, or we will refund your money.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Does CBD give you the munchies?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                CBD will not give you the munchies. This phenomenon is associated with the psychoactive cannabinoid THC. Although our Full Spectrum products contain trace amounts of THC, it is in such small quantities that you will not experience any psychoactive effects, including the munchies.
            </div>
        </div>
    </div>
</div>
