<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Full Spectrum CBD vs Broad Spectrum: Is there a big difference?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                There is not a big difference in the overall effects between our Full and Broad Spectrum offerings.
                <br><br>
                R&R’s Full and Broad Spectrum CBD products preserve the naturally occurring cannabinoid and phytonutrients profiles found in the cannabis plant, which contribute to the aroma, flavor, and potential added therapeutic effects.
                <br><br>
                The difference with our Broad Spectrum offerings is that we remove all trace amounts of THC from the formula while still preserving the robust cannabinoid and phytonutrient profiles of Full Spectrum.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How does CBD help with sleep?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                CBD works by interacting with the endocannabinoid system, which helps keep our body's functions in balance, including sleep. When taken daily an hour before bed, CBD can help balance sleep patterns to help you fall asleep and stay asleep all night long.
                <br><br>
                Plus, if pain or stress is keeping you up at night, or makes it difficult to fall asleep, CBD is known to ease anxiety and reduce inflammation, making it easier to wind down and get needed rest.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How many CBD gummies should I take for sleep?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                We recommend taking between 1-2 of our <a href="/products/25mg-cbd-5mg-cbn-sleep-gummies?variant=42710192783558">Sleep Gummies</a> about an hour before bed each night to reap the most benefits and get the best sleep.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">CBD vs melatonin–which is better?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Both CBD and melatonin can be useful for helping you develop healthy sleep cycles. CBD naturally interacts with the body’s endocannabinoid system to help you get to sleep faster and stay asleep all night long and doesn’t come with any harsh side effects.
                <br><br>
                Melatonin is produced by the pineal glands in our bodies. While supplementing this can be an effective sleep aid, the drawback is that it can interrupt the body’s natural melatonin production and cause an unwanted dependence on supplemental melatonin. Melatonin is also known to give a strong groggy effect in the morning, so we deliberately exclude it from our products.
                <br><br>
                If you’re looking for an all-natural solution with no harsh side effects that don’t affect the body’s natural hormone production, CBD is the way to go!*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Which product works best for falling asleep?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                We recommend our <a href="/products/25mg-cbd-5mg-cbn-sleep-gummies?variant=42710192783558">Sleep Gummies</a> for help with falling asleep and staying asleep all night long. In addition to CBD, these Gummies are formulated with CBN, another cannabinoid known for its sleep-promoting qualities.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">When do I take CBD to impact my sleep?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Take your CBD dose one hour before bedtime to help regulate your sleep cycles and get better, more refreshing sleep.
                <br><br>
                Try to take your dose every night at around the same time as you begin to wind down to help your body get used to the routine. This will help you maximize the benefits you receive from your CBD products.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How long does CBD take to improve my sleep?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                CBD can take up to two hours to begin taking effect in the body, and this will depend upon individual factors such as your metabolism, when you last ate, and other lifestyle factors.
                <br><br>
                Some people begin noticing effects in as little as 5 minutes, while others require regular dosing over several days. Regardless, developing a consistent dosing routine is likely to help you get the most out of your CBD sleep product.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Do you offer a money-back guarantee?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Yes! We offer a 60-day money-back guarantee on all our products. If after consistent use, you're not experiencing results, our Relief Experts will recommend a stronger dose or another product that may be better suited to your needs, or give you a full refund with our 60-day money-back guarantee.
            </div>
        </div>
    </div>
</div>
