<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">CBD and employer drug testing–what do I need to know?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Most workplace drug tests are designed to detect THC, the psychoactive component in marijuana, rather than CBD. However, Full Spectrum CBD products have trace amounts (usually up to 0.3%) of THC which might lead to a positive test result especially if taken frequently, since cannabinoids build up in your system over time.
                <br><br>
                R&R’s Full Spectrum products do contain THC. We advise you not to take any cannabis products if you know you will be subjected to testing in the near future and speaking with your employer about their cannabis policy.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How does CBD work in the body?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                CBD can naturally affect and influence the endocannabinoid system (ECS) in human bodies, which plays a role in regulating a range of physiological processes such as mood, cortisol release, appetite, sleep, and immune response. In fact, we produce our own cannabinoids in our bodies, which is why phytocannabinoids (from the hemp and cannabis plants) work so well in our system - the compounds mate perfectly with our receptors, which gives cannabinoids their high efficacy.
                <br><br>
                CBD’s interaction with the ECS helps maintain proper functioning across various systems, often producing feelings of calm, promoting healthy sleep cycles, and reducing the experience of pain and inflammation.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What strength is right for me?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                If you’re new to CBD, we recommend starting out with our <a href="https://www.rrmeds.com/collections/regular-strength">Regular</a> or <a href="https://www.rrmeds.com/collections/extra-strength">Extra</a> Strength options before graduating to higher doses once you know how your body reacts.
                <br><br>
                If you’ve tried out CBD and you know what effects you want to experience, opt for Extra Strength. If you’re looking for the highest potency, try our Maximum Strength options (these are also our best value).
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How long will it take to begin feeling the effects?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Everyone is different and reacts to CBD differently based on factors including metabolism, body weight, lifestyle, and sensitivity to cannabinoids.
                <br><br>
                Some people notice effects in as little as 5 minutes, while for others, it takes a few days, or even a couple of weeks, for effects to become noticeable.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How do I get the most value from my CBD purchase?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Consistent dosing is the best way to ensure you’re getting the most benefit from your products. That’s why we recommend starting up a Subscription to ensure you never miss a dose. Plus, you’ll save 20% on every Subscription order and enjoy free shipping in the U.S.
                <br><br>
                Our Maximum Strength products are also the best value, providing the most CBD per dollar.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What if I want a refund?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                We offer a 60-day money-back guarantee. We encourage you to try your product at least 1-2 times per day for a period of a couple of weeks since this is how long it sometimes takes to begin noticing effects.
                <br><br>
                If you’ve tried consistent dosing and it’s still not working for you, we’ll give you a full refund.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Where does your hemp come from?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Our hemp is USDA organic-certified and grown with our partner family farms in Oregon and Colorado. We carefully select our plant genetics with trained biochemists and scientists to ensure our cannabinoids yields are second-to-none in the industry. The robust cannabinoid profile in our hemp contains 9 cannabinoids (much more than just CBD) and 11 terpenes, which helps set R&R apart when it comes to meaningful results.*
            </div>
        </div>
    </div>
</div>
