<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Which is better, Full Spectrum vs Broad Spectrum CBD?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Full Spectrum CBD, due to its comprehensive phytonutrient profile of terpenes, flavonoids, antioxidants, and other cannabinoids, is thought to offer more extensive potential benefits for conditions like inflammation, pain, or anxiety. CBD is thought to become more effective when consumed with THC and other phytonutrients.
                <br><br>
                Broad Spectrum provides this same spectrum of benefits, only without any THC. Broad Spectrum products are suitable for those prioritizing a THC-free regimen.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Do your THC Free CBD Gummies really work?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Our THC Free CBD Gummies have worked wonders for people–there’s a reason they are one of our best sellers!
                <br><br>
                Featuring a potent and effective Broad Spectrum formula that enables the entourage effect, our Gummies have helped people manage their anxiety, reduce their pain, and help them feel like their best selves.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What product should I choose?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Depends on what you're trying to achieve! Our customers tend to opt for our Functional products if they have only one issue they're looking to tackle. The formulas for our Functional line contain a proprietary blend of botanicals and adaptogens to provide targeted relief for stress, pain, or sleeping issues.
                <br><br>
                If you struggle with multiple issues, like pain and stress, our Multifunctional products will be your best bet. These formulas work with the endocannabinoid system to bring balance to the body, promoting holistic body-mind wellness. Plus, with these products, you can cut down on your regimen since one product can tackle multiple issues. You can further tailor your experience by choosing from our Regular, Extra, and Maximum Strength offerings to address symptoms ranging from mild to more severe.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Should I take CBD on an empty stomach?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Yes. We recommend taking CBD on an empty stomach since we find it’s the best way to experience maximum benefits from your products. We also suggest eating a meal about 30 minutes after your dose to help ensure that as much CBD is getting absorbed into your system as possible. However, this isn’t a requirement and you’ll still reap the benefits of CBD if taken after a meal or regardless of timing - this just ensures the most consistent experience each time.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Will CBD show up in urine drug tests?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Urine drug tests typically do not test for CBD. These tests are instead aimed at detecting THC, the psychoactive compound found in cannabis.
                <br><br>
                THC-free CBD products are a safer bet when it comes to eliminating detectable levels of THC in the body. Still, we recommend not using any cannabis products whatsoever if you know you’re going to be tested in the near future as many tests may yield a “false positive” for THC from other cannabinoids. We recommend speaking with your employer before starting any CBD regimen to understand their policy around hemp and cannabis products.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How quickly will your products ship?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                R&R CBD utilizes USPS, FedEx, and other services for shipping. We are proud to offer free shipping on any U.S. subscription orders and on all U.S. orders of $60 or more. Packages ordered with standard shipping may take up to seven days to arrive, though they usually arrive in up to five days. International shipping options are provided at checkout.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Do you ship to other countries?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                We ship to many countries. Here’s a complete list:
                <br><br>
                United States<br>
                Australia<br>
                Bulgaria<br>
                Canada<br>
                Czechia<br>
                Denmark<br>
                Finland<br>
                France<br>
                Germany<br>
                Greece<br>
                Hungary<br>
                Ireland<br>
                Israel<br>
                Italy<br>
                Latvia<br>
                Luxembourg<br>
                New Zealand<br>
                Norway<br>
                Poland<br>
                Portugal<br>
                Romania<br>
                Switzerland<br>
                UK
            </div>
        </div>
    </div>
</div>
