<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What is Full Spectrum CBD and what makes it different from Broad Spectrum (THC-Free)?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                R&R’s Full Spectrum CBD refers to our hemp formula that has a robust profile of other cannabinoids and phytonutrients preserved in addition to CBD. This profile is thought to enable an “entourage effect” which may enhance the therapeutic benefits of CBD.
                <br><br>
                Our Broad Spectrum CBD incorporates the same number of cannabinoids and phytonutrients as our Full Spectrum formula, with the only exception being THC which is removed to the point that our labs confirm there are non-detectable levels of the cannabinoid present. Broad Spectrum products are a good option if you’re looking to completely avoid THC for whatever reason.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How is CBD made?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                We begin with USDA Organic-certified hemp grown on our partner family-operated farms in Colorado and Oregon. Once harvested, we use a proprietary CO2 extraction process that results in our unique Full Spectrum and Broad Spectrum formulas.
                <br><br>
                Our extract retains a large number of phytonutrients, terpenes, antioxidants, and flavonoids as well as other cannabinoids so that all of our products are as effective as possible. With over 9 cannabinoids and 11 terpenes, our proprietary hemp extract is extremely high quality and can produce results you’ll really feel.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">When will the effects start kicking in?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Everyone reacts to CBD differently, so the only way to find out is to give it a try for yourself. Some people begin to notice effects after only 5 minutes, while others require more consistent dosing over a number of days to begin feeling the benefits.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How often should I take CBD?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                You should be dosing CBD once or twice a day, every day. CBD accumulates in your body over time, meaning it will have even greater impacts the more you take. That’s why we recommend opting for a Subscription, so that you’ll never miss a dose (plus you’ll enjoy discounted products and free shipping on every U.S. order!).*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Can CBD improve my mood?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Many people report an uplift in mood after using CBD.
                <br><br>
                CBD interacts with the endocannabinoid system in our bodies, which is involved in regulating various functions, including mood and cortisol release. By engaging this system, CBD can potentially stabilize mood fluctuations. Plus, the cannabinoid is believed to influence serotonin receptors in the brain. Since serotonin plays a significant role in mood and emotions, this interaction might contribute to feeling better overall.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What CBD product should I start with?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                We use the same USDA Organic hemp-derived CBD extract in all of our products, so they will all promote general wellness and work well with any wellness routine. You should select a product based on what will suit your lifestyle best.
                <br><br>
                We recommend starting with our best-selling <a href="https://www.rrmeds.com/collections/gummies">CBD Gummies</a>. These tasty treats are infused with potent CBD and are perfect for dosing any time of the day, and are a good way to begin building a CBD routine.
                <br><br>
                If you’re looking for something fast-acting and with the most precise dosing capabilities, our <a href="https://www.rrmeds.com/collections/tinctures">CBD Tinctures</a> are a good option.
                <br><br>
                If you’re out of the house for long periods of time each day, our <a href="https://www.rrmeds.com/collections/softgels">CBD Softgels</a> are discrete and convenient, so you can carry them with you all day and dose on the go. These also provide long-lasting effects.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What is a multifunctional product?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Our Multifunctional products address several issues all at once.
                <br><br>
                When you’re in pain or stressed, this can disrupt your sleeping cycle. And if you’re not sleeping well, you’re more prone to stress and feeling pain (especially if you’re struggling with an injury or chronic condition).
                <br><br>
                That’s why we’ve crafted products designed to restore overall balance to your body and mind, helping you get relief so you can get your life back on track again.
            </div>
        </div>
    </div>
</div>
