<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What is Broad Spectrum vs Full Spectrum CBD?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086"
                alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Full Spectrum CBD harnesses the entire range of therapeutic compounds from the hemp plant, offering broader health benefits due to the presence of other cannabinoids and phytonutrients as well as trace amounts of THC. CBD and THC are thought to have synergistic effects when consumed together that may amplify therapeutic benefits.
                <br><br>
                Broad spectrum CBD means that all THC has been removed, which is why it is also known as THC-free CBD. All of R&R’s Broad Spectrum products still contain a robust profile of other cannabinoids and phytonutrients to ensure maximum effects, only without THC. This is different from CBD isolate, which is also THC-free CBD, but does not have the other minor cannabinoids, terpenes, and phytonutrients included. R&R never uses CBD isolate so that we can ensure as many beneficial compounds are retained as possible.
            </div>
        </div>
    </div>
</div>
<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What is the entourage effect?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086"
                alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                CBD is a useful cannabinoid on its own, but when combined with other compounds, its effects are magnified–a phenomenon known as the entourage effect.
                <br><br>
                When taken in conjunction with other naturally occurring compounds found in cannabis plants–such as other cannabinoids (like CBG, CBN, and CBC), as well as terpenes, flavonoids, and antioxidants–the benefits of CBD can be amplified as these compounds work synergistically within the body.
            </div>
        </div>
    </div>
</div>
<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What are terpenes in CBD?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086"
                alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Terpenes are organic compounds found in hemp that contribute to the aroma and flavor of the plant. They may also have potential therapeutic benefits of their own.
                <br><br>
                Terpenes are preserved in R&R’s Full Spectrum and Broad Spectrum CBD products through our proprietary CO2 extraction techniques. These compounds work in synergy with cannabinoids like CBD and THC to enhance their effects, a phenomenon known as the "entourage effect." Different terpenes have been studied for their diverse potential benefits, possessing anti-inflammatory, anti-anxiety, and even anti-microbial properties.
                <br><br>
                Terpenes play a significant role in the overall efficacy and experience of CBD products which is why R&R’s offerings contain a robust profile of terpenes in all of our formulas.*
            </div>
        </div>
    </div>
</div>
<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Can you take CBD on a plane?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086"
                alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                The legality of taking CBD on a plane can vary depending on jurisdictions and specific regulations of the airline and the countries you are traveling to and from. In the U.S., the TSA allows passengers to bring CBD products that are hemp-derived and contain no more than 0.3% THC. All of R&R’s products are made from hemp and fall below this threshold.
                <br><br>
                Still, it's crucial to be aware of the international laws in your departure and arrival locations, as some countries have strict regulations against CBD and hemp products. Violating these laws can lead to severe penalties. If you're considering traveling with CBD, it's advisable to carry products in their original packaging. Always research and confirm the regulations specific to your travel circumstances to ensure compliance.
            </div>
        </div>
    </div>
</div>
<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What product should I start out with?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086"
                alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                The first step is to identify what concerns you’re trying to target. All of our products use the same highly effective hemp extract, but the delivery mechanisms can address specific areas of issues. To start, we’ll note that a higher potency product will usually mean a more impactful experience.
                <br><br>
                If you’re new to CBD, we recommend starting out with our <a href="/collections/extra-strength">mid-tier potencies</a> until you know how your body reacts to the cannabinoid. Then, you can graduate to higher potencies which are a better value.
                <br><br>
                Our Gummies feature an award-winning formula and are a tasty way to get your daily dose of CBD. We’ve developed a collection of <a href="/collections/functional-gummies">Functional Gummies</a> to support your health goals, whether you’re looking for relief from pain, stress, or sleep issues. You can also use our Gummies for general wellness.
                <br><br>
                Our <a href="/collections/tinctures">Tinctures</a> are a fast-acting solution, delivering potent relief when you need it. Every Tincture comes with a graduated dropper to enable precision dosing. We recommend trying a Tincture if you’re struggling with chronic pain and inflammation.
                <br><br>
                Our <a href="/collections/softgels">Softgels</a> are designed to release CBD slowly into your system so that you feel the effects for longer. They also have a slower onset compared with our other products. Softgels are portable and convenient, letting you dose discretely any time of the day. You can give our Softgels a try for help sleeping, or for general wellness.
                <br><br>
                Give our <a href="/collections/cbd-pain-creams">Pain Creams</a> a try if you’ve sprained a muscle or have localized pain. This topical solution is meant for external use only and is moisturizing and nurturing for your skin.
                <br><br>
                If you’d like to discuss your specific situation and how to target your individual needs, you can schedule a personalized call with one of our Relief Experts by <a target="_blank" href="https://calendly.com/r-r-client-service/personalized-call?month=2023-09">clicking here</a>. Ultimately, it comes down to your personal preference, and we can suggest some products to start with.*
            </div>
        </div>
    </div>
</div>
<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Can you eat CBD on an empty stomach?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086"
                alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Yes! Eating CBD on an empty stomach can be an effective way to dose.
                <br><br>
                In order to reap the full benefits of CBD, we advise that you eat a meal about 30 minutes after taking your dose in order to aid the maximum absorption of the CBD into your system. However, you can take CBD anytime and still benefit from the effects.*
            </div>
        </div>
    </div>
</div>
<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How much CBD can I take in a single day?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086"
                alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                We recommend taking between 1-2 doses per day, every day, in order to see the best results. It’s important to note that everyone reacts differently to CBD and some people may need to adjust doses in order to experience maximum benefits, like adding a dose an hour before an activity that could cause pain or stress flareups in your body.
                <br><br>
                Generally speaking, you should follow the instructions on your packaging and adjust your doses once your system has acclimated to the product and you get a sense of how you react to CBD.
            </div>
        </div>
    </div>
</div>
<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Do you offer discounts?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086"
                alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                We do! R&R provides a range of discounts including a Subscribe and Save option, a Refer a Friend program, Bundle and Save, Rewards Program, and we give discounts to veterans (we are a veteran-owned company)!
                <br><br>
                To see more information on the many ways you can save on your R&R routine, <a href="https://www.rrmeds.com/pages/discounts">click here</a>.
            </div>
        </div>
    </div>
</div>





