<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Do R&R Sleep Gummies help you fall asleep and stay asleep?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Yes, that’s precisely what they’re designed to do!
                <br><br>
                Our <a href="https://www.rrmeds.com/products/25mg-cbd-5mg-cbn-sleep-gummies?variant=42710192783558">Sleep Gummies</a> can be very effective in helping regulate sleep cycles thanks to the renowned sleep-promoting ingredients including CBN and adaptogens such as Ashwagandha and L-theanine.
                <br><br>
                Our Gummies can shorten the time it takes you to get to sleep at night–no more staring at the ceiling for hours trying to relax.
                <br><br>
                Once you’re asleep, our Gummies kick into gear to help you stay asleep all night long. Plus, you’ll awaken refreshed and ready for the day since our Gummies don’t cause hangovers like many conventional sleep aids do.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How long will it take for your CBD Gummies to improve my symptoms?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                You can begin experiencing benefits in as little as 5 minutes, especially when you dose consistently, meaning daily (or nightly for sleep concerns).
                <br><br>
                Everyone reacts differently to CBD based on metabolism, sensitivity to cannabinoids, and other factors. Some people will notice effects immediately, while for others it may take a few doses. Regardless, ensuring you’re following a daily CBD routine will enable you to get the most from our products since CBD accumulates in your body over time, leading to greater effects the more you take.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Do CBD Gummies really help with pain?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Yes, our <a href="https://www.rrmeds.com/products/cbd-cbg-pain-gummies?variant=42853255971014">Pain Gummies</a> can help manage and even eliminate pain using a proprietary blend of cannabinoids, including CBG, plus specialized all-natural painkilling adaptogens such as Devil’s Claw and Boswellia Extract.
                <br><br>
                CBD interacts with our endocannabinoid systems to <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7204604/">mitigate</a> inflammation and the experience of pain. Taking 1-2 doses of CBD Gummies once per day, plus any time you’re feeling pain, can help you get the relief you need–and you don’t need to worry about any harsh side effects that can come with conventional pain relievers.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Can I take CBD Gummies for chronic pain?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Yes, our <a href="https://www.rrmeds.com/products/30mg-hemp-extract-gummies-vegan?variant=42726923010246">CBD Gummies</a> can help manage chronic pain. Studies show CBD to be an effective pain reliever for many conditions, including joint discomfort from <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC9400326/">arthritis</a>.
                <br><br>
                Our CBD Gummies feature high-quality hemp extract that contains a range of phytonutrients and other beneficial compounds that amplify the effects of CBD, giving you a powerful all-natural solution to chronic discomfort.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Can I take CBD Gummies for stress and feelings of overwhelm?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Our <a href="https://www.rrmeds.com/products/cbd-cbn-cbg-de-stress-gummies?variant=42853261148358">De-Stress Gummies</a> can be the perfect solution for reducing stress and promoting feelings of calm. CBD interacts naturally with your body’s endocannabinoid system to promote feelings of calm and mental clarity, allowing you to tackle your day stress-free. Our De-Stress Gummies also feature CBG, CBN, and a specialized blend of adaptogens for added relief.
                <br><br>
                Consistent dosing is key to experiencing the most stress-relieving benefits of our Gummies. Be sure to dose at least once a day, every day, plus take 1-2 doses anytime you feel stressed.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What are the best CBD gummies for anxiety and stress?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                We recommend our <a href="https://www.rrmeds.com/products/cbd-cbn-cbg-de-stress-gummies?variant=42853261148358">De-Stress Gummies</a> for anxiety and stress. Our Gummies are best-sellers for a reason: many people find that, especially when taken consistently, these Gummies can help reduce feelings of stress and promote feelings of calm.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What are Functional CBD Gummies?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Functional CBD Gummies are tailored to specific needs, whether it’s eliminating stress, managing pain, or helping you sleep well at night.
                <br><br>
                Using a specialized blend of adaptogens, including L-theanine, Ashwagandha, and St. John’s Wort, plus many beneficial cannabinoids, our Pain, De-Stress, and Sleep Gummies are ultra-targeted, all-natural solutions that can have you overcoming whatever’s holding you back.*
            </div>
        </div>
    </div>
</div>
