<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What’s the difference between Broad Spectrum and Full Spectrum CBD?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Full spectrum CBD is often chosen for its "entourage effect." This theory suggests that CBD's therapeutic impact can be amplified when combined with other naturally occurring cannabis compounds, including trace amounts of the cannabinoid THC.*
                <br><br>
                Broad Spectrum retains most of these compounds but has the THC removed through our proprietary process, making it suitable for those wishing to avoid THC.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Can you carry CBD products on an airplane?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                According to federal law in the U.S., cannabis products that contain below 0.3% THC on a dry-weight basis are allowed onto planes, so you may travel with any R&R product within the country. Be sure to keep products within their original packaging to verify with TSA officials that the products fall below the legal limits of THC.
                <br><br>
                Traveling internationally can be another story. Different countries have different laws, so be sure to check the laws of any country you travel into or out of to get a solid understanding of what the policies are before traveling.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Do you have lab results for your Gummies?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                We test every single batch of Gummies that we make to ensure purity and potency. <a href="/pages/lab-testing">You can view all lab results here</a>.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Do you offer refunds?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                We always want to take the stress out of trying new things. That’s why we offer a 60-day money-back guarantee on all our products (but our 0.3% return rate demonstrates that nearly everyone ends up being happy with R&R relief!).
                <br><br>
                If for whatever reason you are unsatisfied with your Gummies after taking them consistently (at least once a day) for a few weeks, we will be happy to give you a full refund within 60 days of your purchase.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What makes your Gummies better than other brands?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Our Gummies are infused (not sprayed) with high-quality hemp extract. This infusion process ensures more consistency in terms of dosing, as well as longer shelf-life versus gummies that are simply sprayed with CBD on the surface of the gummy.
                <br><br>
                The infusion process also ensures superior taste. We partnered with a candy manufacturer to craft a Gummy recipe that offers superior taste, texture, and effectiveness. Little wonder that our award-winning Gummies are our #1 best seller. Most other companies white label / bulk-buy their gummies - which is why they all look and taste the same - with R&R you’re getting a custom, delicious treat that is second to none!*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How should I use these Gummies?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                For daily mood support, pain management, or to achieve general wellness goals, take 1-2 Gummies per day, every day, plus 1-2 additional doses an hour before an event or activity you know will cause flare-ups or whenever you’re feeling in need of extra relief.
                <br><br>
                If you’re looking for help with getting a good night’s rest, take 1-2 Gummies about half an hour before your bedtime.
                <br><br>
                Consistent dosing is the key to experiencing maximum benefits since CBD builds up cumulatively in your system over time. For best absorption, chew your Gummy until it completely dissolves in your mouth.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">When will I notice the effects?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Everyone reacts to CBD a little differently, depending on factors like metabolism, lifestyle, and sensitivity to cannabinoids. Some people begin to notice effects in as little as 5 minutes, while for others, it can take upwards of 5 days of consistent dosing to begin feeling effects.
                <br><br>
                The only way you’ll find out how you respond to CBD is to give it a try!*
            </div>
        </div>
    </div>
</div>
