<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What makes Full Spectrum and Broad Spectrum CBD different?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Full Spectrum CBD harnesses the entire range of therapeutic compounds from the cannabis plant (including terpenes, flavonoids, and antioxidants as well as trace amounts of other cannabinoids including THC). This type of formula is thought to offer broad health benefits due to the inclusion of THC, since THC and CBD may work synergistically in the body to amplify therapeutic benefits.
                <br><br>
                R&R’s Broad Spectrum formulas, also known as THC-free, offer the same cannabinoid and phytonutrient profiles as Full Spectrum, only without any THC. Broad Spectrum formulas are preferred by those specifically avoiding THC for personal or regulatory reasons.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">When to take CBD Softgels?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                R&R’s CBD Softgels are multifunctional and can be taken for a variety of reasons, so when to take them depends on the issues you’re targeting.
                <br><br>
                For targeting sleep, take Softgels one hour before bed.
                <br><br>
                For pain management, take Softgels daily and one hour before an activity that may cause flare-ups or whenever you’re experiencing pain.
                <br><br>
                For anxiety management, take Softgels daily and one hour before a stressful event. You can also take a dose anytime you’re experiencing stress.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Should you take CBD capsules with or without food?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                We recommend taking your R&R CBD capsules on an empty stomach and then eating a meal about 30 minutes afterward. This aids with absorption so you can experience maximum benefits. However, the Softgels will still work well anytime of day, regardless of when you last ate - feel free to take them before bed, after a meal, or anytime!*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">When will I begin to feel the effects?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Our CBD Softgels are designed to release cannabinoids into your system slowly over time, making the effects longer-lasting than other delivery methods. This time-release function also means that they are slower-onset than other methods. Generally, you’ll begin feeling effects anywhere from 20 to 30 minutes to an hour.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What makes R&R Softgels unique?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Crafted with high-quality CBD hemp extract and formulated with organic ingredients, our Softgels are designed to be slow-release so that you can experience effects over a longer period of time and are a tasteless, discrete way to enjoy CBD’s many benefits.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Do you offer free shipping?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Yes! You can get free shipping on any U.S. order that is over $60. Plus, every U.S. Subscribe & Save order ships free.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How do CBD Softgels work?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                CBD Softgels are designed to be absorbed slowly by the body so that their effects last longer, for example, helping you stay asleep all night long.
                <br><br>
                Once ingested, the CBD in Softgels begins to be absorbed into the bloodstream where it interacts with the body’s endocannabinoid system, helping to regulate a number of processes including sleep, stress, and pain.
                <br><br>
                CBD Softgels interact with endocannabinoid receptors in a natural way to help you get lasting relief.*
            </div>
        </div>
    </div>
</div>
