<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What’s the difference between Full Spectrum and Broad Spectrum CBD?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Both our Full and Broad Spectrum CBD preserve a range of the naturally occurring compounds found in the cannabis plant. This includes cannabinoids, terpenes, flavonoids, and other phytonutrients. The main difference is Full Spectrum still contains THC at an amount of less than 0.3%, and mg of THC per dose are listed on all of our products. Broad Spectrum, while closely related, has undergone our proprietary process to remove all THC, yet still retains the other beneficial compounds of Full Spectrum.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Why choose R&R’s Pain Cream?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                R&R’s Pain Cream is an effective topical solution for acute pain relief. If you’ve sprained a muscle, have daily muscle discomfort, or experience chronic joint pain, then this Cream is for you.
                <br><br>
                Our potent Pain Creams are designed to be absorbed quickly and provide pain relief in as little as 5 minutes.*
                <br><br>
                Our formulas are dye and fragrance-free and contain moisturizing and anti-inflammatory ingredients such as arnica montana, MSM, calendula flower, and jojoba to help reduce pain and nourish your skin.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How much Cream should I use and how often?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                A lot depends upon the potency of the Cream. With lower potencies, you can use more. You will also use more or less depending upon the severity of the symptoms you’re addressing. The general guidelines are to apply a quarter-sized amount of cream and rub in thoroughly.
                <br><br>
                Most importantly, you should use the Cream at least once or twice a day, every day. You can also apply the Cream an hour before doing an activity that may cause flare-ups, plus anytime you’re feeling pain. CBD builds up in your system over time, meaning the more you use it, the greater effects you may experience over time. Just remember: consistency is key!*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Does CBD cream show in a drug test?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                It is unlikely that CBD cream will show up in a drug test, however, our Full Spectrum formulas do contain trace amounts of THC (which can contribute to the “entourage effect” to maximize benefits). Our Broad Spectrum cream is free from THC.
                <br><br>
                We recommend abstaining from using any cannabis products if you know you will be tested in the near future and asking your employer about their policy on cannabis/CBD.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Is CBD cream safe during pregnancy?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                We do not recommend using any cannabis or hemp products during pregnancy. Please speak with your healthcare professional before starting your CBD routine.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Can I take CBD on a plane?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                In the United States, the Transportation Security Administration (TSA) has guidelines that allow travelers to carry hemp-derived CBD products with a THC concentration of up to 0.3%, in accordance with federal regulations.
                <br><br>
                All of R&R’s products are hemp-derived and fall below the 0.3% THC content limit.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Do you lab test your Pain Creams?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Every single batch of our Pain Creams is tested by third-party labs to ensure potency and purity. We believe in transparency and are always confident about the quality of our products, which is why we make these lab results available for you to see.
                <br><br>
                <a href="/pages/lab-testing">You can view all lab results here</a>.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How much does shipping cost?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc

-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                You can enjoy free U.S. shipping when your order is over $60. All U.S. subscriptions always ship free, too.
                <br><br>
                U.S. orders below $60 incur a $7 shipping fee. We charge a flat $25 fee for shipping to Canada and a $30 flat fee for all other international shipments. Please note that additional import duties or brokerage fees may apply based on how your country processes shipments at customs.
            </div>
        </div>
    </div>
</div>