<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Broad vs Full Spectrum CBD: Which is better?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                While both Full Spectrum and Broad Spectrum CBD formulations aim to maximize therapeutic impact, Full Spectrum CBD retains trace amounts of THC, which some studies suggest can cause an "entourage effect": a synergistic interaction among cannabinoids and phytonutrients that can amplify the therapeutic benefits. THC is a notable addition to this effect, so we typically recommend using Full Spectrum CBD unless you have any personal aversion to trace THC levels.
                <br><br>
                Broad Spectrum CBD is a practical choice for those looking to take advantage of CBD’s many potential benefits without the involvement of THC. R&R’s Broad Spectrum offerings still retain enough diversity of cannabinoids and phytonutrients that users can still experience the entourage effect, only without THC.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What product should I choose to relieve pain?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Our high-quality CBD hemp extract works well to relieve pain in a number of ways and works in any format we produce, but some product formats may be better to suit your needs.
                <br><br>
                If you’re struggling with chronic conditions that cause achy joints or generalized pain, we recommend trying out our <a href="https://www.rrmeds.com/collections/tinctures">CBD Tinctures</a>, which are also our most fast-acting products that can get you relief when you need it and allow you to adjust your dose as needed.
                <br><br>
                For acute pain, say from a strained muscle or exercise-induced inflammation, give our <a href="https://www.rrmeds.com/collections/cbd-pain-creams">Pain Creams</a> a try. Formulated with other anti-inflammatory ingredients, these Creams are fast-acting as well for targeted relief.
                <br><br>
                <a href="https://www.rrmeds.com/collections/softgels">CBD Softgels</a> are a good option if you experience pain that keeps you up at night. Our Softgels are time-release, designed to provide relief all night long so that you can rest well and wake up refreshed. They are also a great option to start your day to give lasting relief for hours.
                <br><br>
                Our <a href="https://www.rrmeds.com/collections/gummies">CBD Gummies</a> are also a good option for pain relief. These tasty treats are good for on-the-go dosing any time of the day and can manage the experience of pain throughout the day.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Do hemp gummies relieve pain?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Our best-selling <a href="https://www.rrmeds.com/products/cbd-cbg-pain-gummies?variant=42853255971014">CBD Pain Gummies</a>, made with our potent and effective hemp extract, can help relieve pain by interacting with the body’s endocannabinoid system which regulates the experience of pain*.
                <br><br>
                We also offer Multifunctional Gummies that tackle multiple issues including pain. These can be excellent options if you are experiencing stress or having trouble sleeping due to pain, since these Gummies are holistic solutions that promote whole-body balance in addition to pain relief.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How does CBD work on pain?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                CBD's potential effectiveness in pain management is closely tied to its <a target="_blank" href="https://jcannabisresearch.biomedcentral.com/articles/10.1186/s42238-022-00154-9">interaction</a> with the endocannabinoid system, a complex cell-signaling system that plays a vital role in various physiological processes, including pain modulation and cortisol release.
                <br><br>
                CBD also has anti-inflammatory properties, largely credited to its impact on immune cell receptors, further adding to its potential as a pain relief agent. Inflammation is a significant cause of pain and irritation; by reducing inflammation, CBD can indirectly aid in pain reduction.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Are there studies on CBD and pain?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                While the science of CBD and pain is still emerging, there are studies that suggest the cannabinoid works on pain, including the following.
                <br><br>
                A <a target="_blank" href="https://www.frontiersin.org/articles/10.3389/fphar.2018.01259/full">2018 review</a> evaluated the effectiveness of cannabis, including both CBD and THC, in managing chronic pain. The researchers concluded that cannabis was an effective pain management option with only moderate side effects and found that cannabis may provide a safer alternative to opioid-based pain management.
                <br><br>
                CBD has also been shown to have anti-inflammatory and pain-relieving properties, and it may be useful for conditions such as <a target="_blank" href="https://pubmed.ncbi.nlm.nih.gov/35999581/#:~:text=Results%3A%20CBD%20use%20was%20associated,)%2C%20favoring%20the%20osteoarthritis%20group.">arthritis</a> or <a target="_blank" href="https://www.frontiersin.org/articles/10.3389/fphys.2021.722550/full">muscle strain</a> that can cause stubborn pain.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How long before I notice pain relief?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Everyone reacts differently to CBD. Some people notice a difference in as little as 5 minutes! For others, it can take upwards of 5 days of consistent dosing to begin experiencing the effects.
                <br><br>
                Regardless, consistent dosing is key to reaping maximum benefits from your CBD products. We recommend starting up a Subscription to ensure you never miss a dose–plus you’ll save 20% on every order and enjoy free shipping within the U.S.!*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Can I use CBD for neck and shoulder pain?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                CBD can work well for neck and shoulder pain.
                <br><br>
                If you’ve sprained a muscle or are suffering an injury to your neck or shoulders, try out topical relief with our <a href="https://www.rrmeds.com/collections/cbd-pain-creams">CBD Pain Creams</a>.
                <br><br>
                If your pain originates from a chronic condition, give our <a href="https://www.rrmeds.com/products/cbd-cbg-pain-gummies?variant=42853255971014">Pain Gummies</a> a try.
                <br><br>
                Regardless, ensure that you are dosing consistently (between 1-2 doses every day) for maximum pain-relieving benefits.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Can I use Tinctures for pain?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Our <a href="https://www.rrmeds.com/collections/tinctures">Tinctures</a> are multifunctional and designed to relieve all pain, stress, and sleep issues. Available in Regular, Extra, and Maximum Strength options, these formulas can target chronic pain, aching joints, and pain resulting from inflammation.
                <br><br>
                When the oil is taken sublingually (under your tongue), these Tinctures can be fast-acting and potent, giving you relief when you need it most.*
            </div>
        </div>
    </div>
</div>
