<div class="icon-most-popular-hear">
<?xml version="1.0" encoding="UTF-8"?><svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.83 11.49"><defs><style>.cls-1{fill:#004943;}</style></defs><g id="Guides"><path class="cls-1" d="m6.13,11.41c.09.05.19.07.29.07.1,0,.2-.02.29-.07.18-.1,4.41-2.46,5.75-5.81.57-1.43.49-2.88-.23-3.96-.34-.51-.8-.92-1.36-1.19C10.32.17,9.67.01,8.96,0c-.95-.02-1.82.28-2.54.85C5.69.28,4.79-.02,3.87,0,2.45.03,1.29.62.61,1.65-.11,2.73-.2,4.17.38,5.61c1.33,3.35,5.57,5.71,5.75,5.81Z"/></g></svg>
<span>MOST POPULAR</span>
</div>