<div class="jc-faq-page-content-block top">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">
            <img class="ingredient-image mobile" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/2229c801932b6c08efe54bab3a2900e4.jpg?v=1708989637" alt="Broad-Spectrum CBD">
            Broad-Spectrum CBD
        </div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                A multifunctional blend of cannabinoids (CBD, CBC, CBG, CBN, and more) that can be effective in relieving pain.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">
            <img class="ingredient-image mobile" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/9d42b3a53c064a07392deb430d5ec2e5.jpg?v=1708989637" alt="Terpenes">
            Terpenes
        </div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                α-Bisabolol, β-Caryophyllene, Guaiol, α-Humulene, and more enhance the effects of CBD.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">
            <img class="ingredient-image mobile" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/a8e7cb38a91b90af30e9533c9e0431f7.jpg?v=1708989637" alt="Flavonoids">
            Flavonoids
        </div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Phytonutrients that interact with receptors in the body to deliver even more anti-inflammatory and immune system benefits.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block last">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">
            <img class="ingredient-image mobile" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/24d0e7c2dace4e8e9410344a6e56277c.jpg?v=1708989637" alt="MCT Oil">
            MCT Oil
        </div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Our delivery mechanism derived from coconuts boasts heart-healthy benefits and can help your body produce ketones to support energy and clarity.
            </div>
        </div>
    </div>
</div>
