<div class="ingredient-item">
    <img class="ingredient-image" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/97ca25b2a66195b9c986d50c323f622b.jpg?v=1717625902" alt="Full-Spectrum CBD & CBN">
    <h3 class="ingredient-heading" >Full-Spectrum CBD & CBN</h3>
    <p>May ease pain and stress to promote more restful, restorative sleep.*</p>
</div>

<div class="ingredient-item">
    <img class="ingredient-image" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/c58b26dbbe0d4217e250f7f33eb913fd.jpg?v=1717625903" alt="Ashwagandha & L-theanine">
    <h3 class="ingredient-heading" >Ashwagandha & <br>L-theanine</h3>
    <p>Can reduce the time it takes to get to sleep and targets overall sleep quality.*</p>
</div>

<div class="ingredient-item">
    <img class="ingredient-image" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/185937b05a5c167a59e041ce962924ea.jpg?v=1717625903" alt="Melatonin-Free">
    <h3 class="ingredient-heading" >Melatonin-Free</h3>
    <p>Balances sleep patterns long-term by avoiding interference with the body’s natural melatonin production.*</p>
</div>

<div class="ingredient-item">
    <img class="ingredient-image" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/1e34b0bbb57ff19e0a8a79654dc10971.jpg?v=1717625903" alt="Blueberry Flavor">
    <h3 class="ingredient-heading" >Blueberry Flavor</h3>
    <p>Delicious all-natural blueberry taste.</p>
</div>