<div class="ingredient-item">
    <img class="ingredient-image" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/2229c801932b6c08efe54bab3a2900e4_f91059fa-bee4-4814-abec-85cf1f942a16.jpg?v=1717627545" alt="Full-Spectrum CBD, CBN, & CBG">
    <h3 class="ingredient-heading" >Full-Spectrum CBD, CBN, & CBG</h3>
    <p>Shown to support mind and body relaxation, and target feelings of anxiety for overall mood support.</p>
</div>

<div class="ingredient-item">
    <img class="ingredient-image" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/e666b78beac470cf67f9c043b6cd63e3.jpg?v=1717627546" alt="St. John’s Wort">
    <h3 class="ingredient-heading" >St. John’s Wort</h3>
    <p>Interacts with messengers in the brain that regulate mood.</p>
</div>

<div class="ingredient-item">
    <img class="ingredient-image" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/ce855dcc5557086fff053e8f83bacfd6.jpg?v=1717627546" alt="Chamomile">
    <h3 class="ingredient-heading" >Chamomile</h3>
    <p>Used by many to induce tranquility and calmness.</p>
</div>

<div class="ingredient-item">
    <img class="ingredient-image" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/8484a15d892479a049eef2761d01499e.jpg?v=1717627545" alt="Watermelon Flavor">
    <h3 class="ingredient-heading" >Watermelon Flavor</h3>
    <p>Delicious all-natural watermelon taste.</p>
</div>