<div class="jc-faq-page-content-block top">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">
            <img class="ingredient-image mobile" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/2229c801932b6c08efe54bab3a2900e4_f91059fa-bee4-4814-abec-85cf1f942a16.jpg?v=1717627545" alt="Full-Spectrum CBD, CBN, & CBG">
            Full-Spectrum CBD, CBN, & CBG
        </div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Shown to support mind and body relaxation, and target feelings of anxiety for overall mood support.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">
            <img class="ingredient-image mobile" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/e666b78beac470cf67f9c043b6cd63e3.jpg?v=1717627546" alt="St. John’s Wort">
            St. John’s Wort
        </div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Interacts with messengers in the brain that regulate mood.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">
            <img class="ingredient-image mobile" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/ce855dcc5557086fff053e8f83bacfd6.jpg?v=1717627546" alt="Chamomile">
            Chamomile
        </div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Used by many to induce tranquility and calmness.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block last">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">
            <img class="ingredient-image mobile" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/8484a15d892479a049eef2761d01499e.jpg?v=1717627545" alt="Watermelon Flavor">
            Watermelon Flavor
        </div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Delicious all-natural watermelon taste.
            </div>
        </div>
    </div>
</div>
