<div class="ingredient-item">
    <img class="ingredient-image" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/2229c801932b6c08efe54bab3a2900e4.jpg?v=1708989637" alt="Full-Spectrum CBD">
    <h3 class="ingredient-heading" >Full-Spectrum CBD</h3>
    <p>A multifunctional blend of cannabinoids (CBD, THC, CBC, CBG, CBN, and more) shown to naturally relieve pain and reduce stress.</p>
</div>

<div class="ingredient-item">
    <img class="ingredient-image" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/ddaaa36ac1c6cf62954104dbe48f12de.jpg?v=1717620961" alt="Chicken Liver & Chicken Protein">
    <h3 class="ingredient-heading" >Chicken Liver & Chicken Protein</h3>
    <p>High-quality, lean protein rich in amino acids, vitamins, and minerals that can boost energy and encourage better digestion.</p>
</div>

<div class="ingredient-item">
    <img class="ingredient-image" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/deae6113b41a30a2e8dd2f071c3c29cf.jpg?v=1717620960" alt="Flax Seed">
    <h3 class="ingredient-heading" >Flax Seed</h3>
    <p>High in fiber and antioxidants to promote digestive health, increased energy levels, and immune support.</p>
</div>

<div class="ingredient-item">
    <img class="ingredient-image" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/b58551e7fd4f8afd15fd446ae85026ba.jpg?v=1717620961" alt="Sweet Potato">
    <h3 class="ingredient-heading" >Sweet Potato</h3>
    <p>Rich in vitamins (A, B6, and C) and minerals (iron, calcium, and selenium), this is a favorite among dogs and has digestive, vision, and muscle strength benefits.</p>
</div>