<div class="jc-faq-page-content-block top">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">
            <img class="ingredient-image mobile" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/2229c801932b6c08efe54bab3a2900e4.jpg?v=1708989637" alt="Full-Spectrum CBD">
            Full-Spectrum CBD
        </div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                A multifunctional blend of cannabinoids (CBD, THC, CBC, CBG, CBN, and more) shown to naturally relieve pain and reduce stress.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">
            <img class="ingredient-image mobile" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/ddaaa36ac1c6cf62954104dbe48f12de.jpg?v=1717620961" alt="Chicken Liver & Chicken Protein">
            Chicken Liver & Chicken Protein
        </div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                High-quality, lean protein rich in amino acids, vitamins, and minerals that can boost energy and encourage better digestion.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">
            <img class="ingredient-image mobile" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/deae6113b41a30a2e8dd2f071c3c29cf.jpg?v=1717620960" alt="Flax Seed">
            Flax Seed
        </div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                High in fiber and antioxidants to promote digestive health, increased energy levels, and immune support.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block last">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">
            <img class="ingredient-image mobile" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/b58551e7fd4f8afd15fd446ae85026ba.jpg?v=1717620961" alt="Sweet Potato">
            Sweet Potato
        </div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Rich in vitamins (A, B6, and C) and minerals (iron, calcium, and selenium), this is a favorite among dogs and has digestive, vision, and muscle strength benefits.
            </div>
        </div>
    </div>
</div>
