<div class="ingredient-item">
    <img class="ingredient-image" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/c16589ee177bbd2f441a2be99936dcb6.jpg?v=1717619712" alt="Full-Spectrum CBD & CBG">
    <h3 class="ingredient-heading" >Full-Spectrum CBD & CBG</h3>
    <p>Shown to interact with our bodies to both regulate and alleviate pain as well as reduce inflammation to promote pain relief.*</p>
</div>

<div class="ingredient-item">
    <img class="ingredient-image" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/aced398b32baefb9e0727d5dd28f52eb.jpg?v=1717627280" alt="Boswellia Extract (Frankincense)">
    <h3 class="ingredient-heading" >Boswellia Extract (Frankincense)</h3>
    <p>Therapeutic benefits to reduce swelling and inflammation.*</p>
</div>

<div class="ingredient-item">
    <img class="ingredient-image" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/86c9b5e1fb6bc962603d90069b530a8b.jpg?v=1717627280" alt="Devil’s Claw Extract">
    <h3 class="ingredient-heading" >Devil’s Claw Extract</h3>
    <p>Rich in antioxidants and shown to relieve stiffness and protect joints.*</p>
</div>

<div class="ingredient-item">
    <img class="ingredient-image" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Peach_and_mango.jpg?v=1718749007" alt="Peach Mango Flavor">
    <h3 class="ingredient-heading" >Peach Mango Flavor</h3>
    <p>Tasty all-natural blend of peach and mango.</p>
</div>