<div class="ingredient-item">
    <img class="ingredient-image" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/2229c801932b6c08efe54bab3a2900e4.jpg?v=1708989637" alt="Broad-Spectrum CBD">
    <h3 class="ingredient-heading" >Broad-Spectrum CBD</h3>
    <p>A multifunctional blend of cannabinoids (CBD, CBC, CBG, CBN, and more) shown to relieve pain, stress, and sleep issues.*</p>
</div>

<div class="ingredient-item">
    <img class="ingredient-image" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/9d42b3a53c064a07392deb430d5ec2e5.jpg?v=1708989637" alt="Terpenes">
    <h3 class="ingredient-heading" >Terpenes</h3>
    <p>α-Bisabolol, β-Caryophyllene, Guaiol, α-Humulene, and more enhance the effects of CBD.*</p>
</div>

<div class="ingredient-item">
    <img class="ingredient-image" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/a8e7cb38a91b90af30e9533c9e0431f7.jpg?v=1708989637" alt="Flavonoids">
    <h3 class="ingredient-heading" >Flavonoids</h3>
    <p>Phytonutrients that interact with receptors in the body to deliver even more anti-inflammatory and immune system benefits.*</p>
</div>

<div class="ingredient-item">
    <img class="ingredient-image" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/48df5be0c5293100893ffa329c7d806c.jpg?v=1717616926" alt="Multi-Flavored">
    <h3 class="ingredient-heading" >Multi-Flavored</h3>
    <p>Tasty, all-natural Palisade Peach, Granny Apple Smith, and Alpine Strawberry flavors.</p>
</div>