<div class="jc-faq-page-content-block top">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">
            <img class="ingredient-image mobile" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/c16589ee177bbd2f441a2be99936dcb6.jpg?v=1717619712" alt="Full-Spectrum CBD & CBG">
            Full-Spectrum <br>CBD & CBG
        </div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Shown to interact with our bodies to both regulate and alleviate pain as well as reduce inflammation to promote pain relief.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">
            <img class="ingredient-image mobile" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/aced398b32baefb9e0727d5dd28f52eb.jpg?v=1717627280" alt="Boswellia Extract (Frankincense)">
            Boswellia Extract (Frankincense)
        </div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Therapeutic benefits to reduce swelling and inflammation.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">
            <img class="ingredient-image mobile" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/86c9b5e1fb6bc962603d90069b530a8b.jpg?v=1717627280" alt="Devil’s Claw Extract">
            Devil’s Claw Extract
        </div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Rich in antioxidants and shown to relieve stiffness and protect joints.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block last">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">
            <img class="ingredient-image mobile" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Peach_and_mango.jpg?v=1718749007" alt="Peach Mango Flavor">
            Peach Mango Flavor
        </div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Tasty all-natural blend of peach and mango.
            </div>
        </div>
    </div>
</div>
