<div class="jc-faq-page-content-block top">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">
            <img class="ingredient-image mobile" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/97ca25b2a66195b9c986d50c323f622b.jpg?v=1717625902" alt="Full-Spectrum CBD & CBN">
            Full-Spectrum<br> CBD & CBN
        </div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                May ease pain and stress to promote more restful, restorative sleep.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">
            <img class="ingredient-image mobile" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/c58b26dbbe0d4217e250f7f33eb913fd.jpg?v=1717625903" alt="Ashwagandha & L-theanine">
            Ashwagandha & <br>L-theanine
        </div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Can reduce the time it takes to get to sleep and targets overall sleep quality.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">
            <img class="ingredient-image mobile" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/185937b05a5c167a59e041ce962924ea.jpg?v=1717625903" alt="Melatonin-Free">
            Melatonin-Free
        </div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Balances sleep patterns long-term by avoiding interference with the body’s natural melatonin production.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block last">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">
            <img class="ingredient-image mobile" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/1e34b0bbb57ff19e0a8a79654dc10971.jpg?v=1717625903" alt="Blueberry Flavor">
            Blueberry Flavor
        </div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Delicious all-natural blueberry taste.
            </div>
        </div>
    </div>
</div>
