<div class="ingredient-item">
    <img class="ingredient-image" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/c16589ee177bbd2f441a2be99936dcb6.jpg?v=1717619712" alt="Broad-Spectrum CBD">
    <h3 class="ingredient-heading" >Broad-Spectrum CBD</h3>
    <p>A multifunctional blend of cannabinoids (CBD, CBC, CBG, CBN, and more) that can be effective in relieving pain.</p>
</div>

<div class="ingredient-item">
    <img class="ingredient-image" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/06bf2a462b84975a7ea4de4b20967332.jpg?v=1717619712" alt="Jojoba Oil">
    <h3 class="ingredient-heading" >Jojoba Oil</h3>
    <p>This powerhouse can reduce inflammation and speed healing while antioxidants and Vitamin E boost moisture to soothe skin.</p>
</div>

<div class="ingredient-item">
    <img class="ingredient-image" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/19b57bbbcf204e42e4d8a6756da09760.jpg?v=1717619712" alt="Arnica Montana">
    <h3 class="ingredient-heading" >Arnica Montana</h3>
    <p>An herb in the sunflower family that promotes recovery, reduces swelling, and relieves muscle and joint pain.</p>
</div>

<div class="ingredient-item">
    <img class="ingredient-image" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/0b187f1f7ca5f1fcdc2b41bec07bdd93.jpg?v=1717619711" alt="MSM">
    <h3 class="ingredient-heading" >MSM</h3>
    <p>Effective in minimizing joint and muscle pain, MSM is a sulfur-containing compound rich in antioxidants and anti-inflammatory properties.</p>
</div>