<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How do CBD Gummies help with pain?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                CBD interacts naturally with the endocannabinoid system in the body to help regulate the experience of pain and reduce inflammation.
                <br><br>
                Our CBD Gummies use Full-Spectrum hemp oil that preserves a robust profile of terpenes and other phytonutrients, plus minor cannabinoids, that work synergistically in the body to produce the entourage effect–an effect thought to maximize the pain-killing benefits of CBD.
                <br><br>
                We also formulate our Pain Gummies with a proprietary blend of botanicals, including Devil’s Claw and Boswellia (frankincense) extract, to augment the all-natural analgesic effects.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What are Pain Gummies side effects?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                There are no harsh side effects that come with taking our CBD Pain Gummies, even when taken on a regular basis. In fact, it is through consistent use that these Gummies can have the greatest pain-relieving effects since CBD accumulates in your body over time. The more that’s in your system, the greater the benefits.
                <br><br>
                The lack of side effects is one of many reasons why so many people are turning to CBD as an all-natural alternative to pharmaceuticals that can be damaging in their own right.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How long do CBD Pain Gummies take to work?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                While individual experiences may vary, typically the effects of our Pain Gummies can be felt within 20 minutes. With consistent (daily) dosing, you may begin experiencing effects in as little as 5 minutes.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Are Pain Gummies better than opioids and other pain medications?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Our Pain Gummies are extremely effective in combating pain, wherever and however it arises.
                <br><br>
                There are a wide variety of pain-relieving solutions available partly because everyone’s experience with pain is different, as are the multitude of painful conditions that require relief. What works for one person may not work for another.
                <br><br>
                At R&R, we believe in offering all-natural solutions that act fast, are effective, and don’t cause any harsh side effects. We believe in offering plant-based medicine crafted with wisdom gleaned over thousands of years that has worked for untold numbers of people.*
                <br><br>
                Only you can decide whether CBD is a superior option for you.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Do CBD Pain Gummies work on joint pain?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Yes, our Pain Gummies can be very effective on joint pain. CBD together with our blend of pain-relieving botanicals work within the body to fight pain and inflammation naturally.
                <br><br>
                We recommend taking 1-2 doses every morning to help keep pain at bay, and additional doses an hour before an activity that may cause flare-ups or whenever you’re feeling pain.
                <br><br>
                You can also pair our CBD Pain Gummies with our line of <a href="https://www.rrmeds.com/collections/cbd-pain-creams">Pain Creams</a> for a holistic pain-relieving routine.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">I have severe pain. Should I try these Pain Gummies?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Yes, our CBD Pain Gummies are designed to deal with cases of severe pain. We recommend trying out a <a href="https://www.rrmeds.com/pages/auto-ship-program">Pain Gummies Subscription</a> so you can stay on a consistent daily routine and never miss a dose. Plus you’ll save 20% on every order you make.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What’s the difference between your Pain Gummies and Pain Cream?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Our CBD Pain Gummies are designed to tackle a wide range of issues that cause pain, including chronic inflammation deep within the body. Our CBD Pain Creams provide topical relief from concerns such as muscle strain and aching joints.
                <br><br>
                You may want to consider incorporating both of these products into your pain management routine.*
            </div>
        </div>
    </div>
</div>
