<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Are your Broad Spectrum Softgels as effective as your Full Spectrum Softgels?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Our Broad Spectrum Softgels are very effective in providing long-lasting relief from stress, pain, and trouble sleeping.
                <br><br>
                Full Spectrum CBD, which includes trace amounts of THC, can be effective since CBD and THC consumed together can provide augmented benefits. This is known as the entourage effect.
                <br><br>
                However, you can experience great efficacy when CBD is consumed in conjunction with other minor cannabinoids, terpenes, flavonoids, and other phytonutrients.
                <br><br>
                Unlike other brands, we ensure that the hemp extract we use in our Broad Spectrum Softgels preserves a robust profile of these minor cannabinoids and phytonutrients so that they still provide a significant benefit–only without THC.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Are your Softgels THC-Free?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Yes! Our Broad Spectrum Softgels are THC Free, meaning they do not contain any detectable levels of THC.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Do your CBD Softgels really work?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Many people have found our Multifunctional Softgels to be extremely effective in combating stress, reducing pain, and helping regulate sleeping cycles.
                <br><br>
                It’s important to note that everyone’s experience with CBD will be a little different. But when taken consistently (at least 1-2 doses per day, every day), most people experience life-changing benefits–and all without the harsh side effects that can come with conventional pharmaceuticals.
                <br><br>
                Try our Softgels out for yourself to experience the transformative powers of this impressive cannabinoid!*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How do I take CBD Softgels?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Our Multifunctional Softgels can be used to address many concerns, so there are a few different ways we recommend incorporating this powerful and effective solution into your daily routine.
                <br><br>
                If you’re looking to address pain and stress, we recommend taking between 1-2 capsules every day, and take additional doses anytime you’re in more pain or feeling stressed. You can also take 1-2 doses an hour before an activity or event you know will cause flare-ups.
                <br><br>
                If you’re looking for a sleep solution, take 1-2 Softgels before bed, every night.
                <br><br>
                The key to getting the most out of our Softgels is consistency. CBD has cumulative effects, which means the more of it that’s in your system, the more benefits you’re likely to experience.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Will I fail a drug test if I take your Softgels?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                While our Broad Spectrum Softgels are THC-free, we advise that you abstain from any hemp products if you know you will be subjected to drug tests for any reason.
                <br><br>
                This can happen based on the amount of product consumed and other biochemical factors within your body. That’s why we recommend playing it safe, rather than being sorry later on!
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Do your Softgels cause any side effects?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Our Softgels should not cause any side effects when the proper dosing is followed. As with any supplement, it’s important to begin with a low dose to understand how your body reacts and adjust as necessary.
            </div>
        </div>
    </div>
</div>
