<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What are the best CBD Softgels for pain?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                If you’re suffering from pain, we recommend opting for our stronger potencies. Start with our Extra-Strength Full Spectrum option that will deliver 60mg of CBD per Softgel, and try taking one or two daily plus anytime you’re in pain and about an hour before doing an activity that may cause flare-ups.
                <br><br>
                Our Maximum-Strength Full Spectrum Softgels are also a good option to try, especially if you’ve used CBD before and you know how your body reacts to it. With each capsule delivering 90mg of time-released CBD, these Softgels are also the best bang for your buck.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Can I take CBD Softgels for sleep?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Yes! Using our Softgels as an all-natural sleeping aid is a smart move. Thanks to their time-release effects, meaning they’ll deliver CBD to your system over a longer period compared with other products, our Softgels are ideal for helping you drift off to sleep faster and letting you stay asleep all night long.
                <br><br>
                Simply take 1-2 Softgels about one hour before you head to bed every night for the best results. Remember, consistency is key; nightly dosing will yield the best results.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How effective are your CBD Softgels?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Many people find our Softgels to be extremely effective for a range of concerns, whether it’s getting a solid night’s sleep each night, banishing discomfort and pain, and feeling all-around calmer throughout the day.
                <br><br>
                Our Multifunctional Softgels are designed to be super convenient and discrete, easily fitting into any lifestyle. Their time-release effects means that they can deliver relief for longer, so they’re great for on-the-go relief or to keep you sleeping soundly all night.
                <br><br>
                We suggest giving our Softgels a try–and remember to use them consistently, since daily dosing will yield the greatest benefits.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What’s in your Softgels?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                The star of the show in our Softgels is our organic Full-Spectrum hemp extract.
                <br><br>
                At R&R, we believe in pure, all-natural products, so you won’t ever find synthetic fillers or artificial flavors in our offerings. That’s why we’ve got a short list of other ingredients, which are: organic MCT coconut oil, gelatin, purified water, and vegetable glycerin.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How should I take CBD Softgels?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                The key to getting the most from your CBD Softgels is consistency–daily dosing will let you feel the biggest life-changing impacts.
                <br><br>
                If you’re using Softgels to help regulate your sleeping cycles, then take 1-2 capsules each night about an hour before bed.
                <br><br>
                For pain and stress mitigation, take 1-2 Softgels per day. You may take an additional 1-2 doses about an hour before events that will cause pain or will stress you out; and additional 1-2 doses whenever you’re feeling stressed or are in pain.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Should I take Softgels on an empty stomach?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Yes–we recommend taking Softgels on an empty stomach. We also suggest that you eat about 30 minutes after taking your Softgels to aid in absorption for best results.*
            </div>
        </div>
    </div>
</div>
