<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How does CBD work for sleep?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                CBD interacts naturally with receptors in our endocannabinoid system (ECS) to help promote healthy sleep cycles. Getting good quality sleep is crucial to maintaining overall health.
                <br><br>
                CBD does this in two different ways. First, it can shorten the time it takes to get to sleep at night, especially when taken as part of a nightly sleep routine that also includes going to bed at the same time every night, reducing screen time before bed, ensuring a comfortable sleeping environment, and other practices.
                <br><br>
                CBD can also help you stay asleep all night long, which is important to allow your body to enter into REM and other sleep cycles that aid in the body’s nightly repair and recovery. So, say goodbye to waking up in the middle of the night, or tossing and turning for hours.
                <br><br>
                Taking our CBD Sleep Gummies consistently, between 1-2 Gummies about an hour before bed, will yield the best results and can have you sleeping soundly from now on.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What’s the best time to take CBD for sleep?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Take 1-2 CBD Sleep Gummies about one hour before your bedtime. Remember that consistent dosing will yield the best results, so dosing every night before bed will help you get the most out of our Sleep Gummies.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Are Sleep Gummies safe?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Our CBD Sleep Gummies are safe when taken as per our guidelines of 1-2 doses before bed each night.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Is CBD better than melatonin?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                CBD is a better alternative to melatonin because the cannabinoid does not affect the body’s natural melatonin production.
                <br><br>
                When you take melatonin supplements, this can interrupt natural production, which can lead to dependence and cause other problems. Melatonin is also known to cause grogginess in the morning which can interfere with your day.
                <br><br>
                CBD works by relaxing the body, calming the mind, and reducing pain in order to facilitate better quality sleep the whole night through, and can help you get to sleep quicker as well.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Is CBD better than pharmaceuticals or other over-the-counter sleep aids?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                We certainly think so! Pharmaceuticals and OTC sleep aids can cause a lot of grogginess, can be addictive, and can come with a host of other negative side effects such as dangerous sleep-walking.
                <br><br>
                CBD is an all-natural alternative to these types of solutions that is effective and doesn’t come with any harsh side effects whatsoever. You can wake up refreshed and ready to tackle the day each morning.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Do your CBD Sleep Gummies have side effects?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Our Sleep Gummies are all-natural and work with the body’s processes to help regulate sleep cycles. They do not cause the harsh side effects of pharmaceuticals or other conventional sleeping aids, such as grogginess the next morning.
                <br><br>
                When taken consistently, our CBD Sleep Gummies can have you falling asleep quickly, sleeping deeply all night, and waking up refreshed and ready to tackle your day, every day.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How long do your CBD Sleep Gummies take to work?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Typically our Sleep Gummies begin taking effect within an hour of your dose. Some people may experience more immediate effects, while others may require additional time. That’s why it’s important to pay attention to how your body responds so that you can tailor your nightly routine appropriately.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Do your CBD Sleep Gummies cause grogginess?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Everyone reacts differently to cannabinoids, however, users report that our Sleep Gummies do not cause nearly the same level of grogginess that conventional sleeping aids do. Many people report no grogginess whatsoever.
                <br><br>
                If you do experience grogginess and would like to avoid this, then we recommend decreasing your dose slightly.*
            </div>
        </div>
    </div>
</div>
