<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What’s the difference between full-spectrum and broad-spectrum CBD?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Full Spectrum CBD contains many natural compounds found in hemp plants, including THC (though only in trace amounts).
                <br><br>
                Broad Spectrum CBD also contains multiple cannabinoids and other compounds, only without any THC.
                <br><br>
                Both R&R’s Broad and Full Spectrum offerings contain robust phytonutrient profiles that help promote an entourage effect that can maximize the efficacy of CBD for pain, stress, and sleep issues.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How long does CBD oil take to work for anxiety?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                The time it takes for CBD to work for stress can vary from person to person. Some people may begin feeling effects in as little as five minutes of their initial dose, while others might require an hour or longer.
                <br><br>
                It’s also possible that first-time users may not experience any noticeable effects until they’ve taken several doses. This is because CBD and other cannabinoids build up in your system over time, leading to cumulative effects that grow stronger the more you take. This is why we always recommend consistent dosing in order to get the most out of your products, even if you are sensitive enough to feel effects immediately upon your first dose.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How to take CBD Tincture sublingually?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Sublingual means beneath the tongue. To take CBD tincture sublingually, use our precision graduated dropper that comes with every Tincture bottle to place your desired dose under your tongue. Hold the Tincture there for about 60 seconds before swallowing.
                <br><br>
                The advantage of sublingual dosing is that it is the quickest way to absorb CBD into the bloodstream. Unlike other methods, you do not need to eat a meal before or after dosing beneath the tongue to absorb as much CBD as possible. Sublingual dosing is a fast, and efficient, dosing method for helping you feel better sooner.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How long does CBD last?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Everyone experiences the impacts of CBD differently.
                <br><br>
                On average, the effects of CBD can last anywhere from two to six hours, but this depends on factors such as the size and potency of your dose, your individual body chemistry that dictates your sensitivity, the frequency of your dosing, and factors including your metabolism and body weight.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How long until I begin feeling the effects?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Our Tinctures are among our fastest-acting products especially if taken sublingually, meaning beneath the tongue. Some people begin experiencing effects in as little as 5 minutes. However, everyone responds differently to CBD given individual biochemical factors; for some people, it may take longer to feel results.
                <br><br>
                The key to gleaning the most benefits from your CBD routine is to dose consistently. CBD builds up in your system, unleashing cumulative effects that get stronger the more you take. If you don’t notice effects the first time you try our Tinctures, keep dosing every day and you’ll most likely start feeling results soon.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How do I build a CBD routine?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                If you’re new to CBD, we recommend starting with our Regular Strength Tinctures to begin to understand how your body responds to cannabinoids. Then, you can increase your potency as needed.
                <br><br>
                Yet there’s much more to a CBD routine than just potency. Building a habit that will enable consistent, easy dosing is key to getting the most out of our products, so figuring out how to fit CBD into your lifestyle is important.
                <br><br>
                R&R is happy to offer free guidance at any time during your CBD journey to help you figure out strategies that will work best for you.
                <br><br>
                Schedule a personalized call with one of our Relief Experts by <a target="_blank" href="https://calendly.com/r-r-client-service/personalized-call?month=2023-09">clicking here</a>. You can also email us at <a href="mailto:contact@rrmeds.com">contact@rrmeds.com</a> or text us at 303-529-7695.
            </div>
        </div>
    </div>
</div>
