<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Do your Multifunctional CBD Gummies really work?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Thousands of people have found our Multifunctional CBD Gummies to work incredibly well for a variety of concerns, ranging from pain reduction, sleep improvement, and stress management. The hundreds of five-star reviews we receive are an indication of the transformative, life-changing effectiveness of these solutions. There’s a reason our Gummies remain our best-selling products!
                <br><br>
                The key to experiencing the greatest benefits from CBD is to dose every day, since CBD accumulates in your body over time. The more you take, the better your results will be.
                <br><br>
                Give them a try for yourself. We’re so confident you’ll like them, that if you’re not totally satisfied after a few weeks of consistent use, we’ll give you your money back.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What makes your Gummies better than others?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                It all starts with the hemp. We work with local farmers to source USDA-certified organic hemp, then use a supercritical CO2 extraction process to preserve the highest number of naturally occurring phytonutrients so that our formulas are especially effective.
                <br><br>
                We rigorously test each batch of hemp using a third-party laboratory to ensure potency and purity, and <a href="https://www.rrmeds.com/pages/lab-testing">publish these results on our website</a> for everyone to see. We believe in transparency.
                <br><br>
                We worked with a candy manufacturer to develop a recipe that would not only be potent but would taste delicious–these Gummies won’t leave any unpleasant aftertaste!
                <br><br>
                We infuse, rather than spray, our Gummies with our hemp extract, which enhances taste, makes our Gummies more shelf-stable, and ensures more consistent dosing.
                <br><br>
                With R&R CBD Gummies, you can rest assured that you’re getting the highest-quality, most effective Gummies on the market.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Are these the best CBD Gummies for anxiety?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Our Multifunctional CBD Gummies are ideal for tackling stress and promoting feelings of calm. When taken consistently, between 1-2 times every day plus additional doses whenever you feel the need, these Gummies can be soothing, can slow down racing thoughts, and help you navigate stressful situations with greater ease.
                <br><br>
                Our Gummies are the best on the market because our hemp formula boasts nine minor cannabinoids and 11 terpenes in addition to CBD to promote the entourage effect, further amplifying the calming benefits of our products. We infuse, never spray, our Gummies with our hemp extract to ensure consistent dosing, better taste, and a more shelf-stable product.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">When to take Multifunctional CBD Gummies for anxiety?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                For the best results, be sure to take 1-2 Gummies each and every single day. CBD builds up in your system over time, so the more you take, the better you’ll feel.
                <br><br>
                You may also supplement your daily routine with 1-2 Gummies whenever you’re feeling stressed or an hour before an event that will cause an anxiety flare-up.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How do you make your Multifunctional CBD Gummies?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                We craft our CBD Gummies with USDA organic-certified hemp grown in the USA. Our extraction process uses supercritical CO2 which retains a robust profile of terpenes, antioxidants, flavonoids, and minor cannabinoids that together augment the effectiveness of CBD.
                <br><br>
                Each Gummy is infused with our superior hemp extract and blended with a specialized candy recipe to create a product that is delicious, shelf-stable, and consistently potent.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Are your Gummies gluten-free?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Yes! Our Gummies are 100% gluten-free.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What strength should I choose?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                The strength of Gummies you choose should be based on your experience with CBD and the degree of severity of whatever issues you’re wanting to resolve.
                <br><br>
                If you’re new to CBD, try our Regular-Strength Gummies. Starting with a lower dose will help you understand how your body reacts to CBD.
                <br><br>
                If you’ve tried CBD before and love its benefits, and are using it for mild-to-regular cases of stress, pain, or sleeping issues, then opt for our Extra-Strength options.
                <br><br>
                Our Maximum-Strength offerings are designed for those who need the most relief possible, for example, those dealing with chronic pain.
                <br><br>
                Regardless of what strength you choose, you won’t experience any harsh side effects that can come with conventional medications–so you can rest easy, and experiment at your leisure.*
            </div>
        </div>
    </div>
</div>
