<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How long does CBD take to work?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                When it comes to the effects of CBD, everyone’s experience is a little different–including the length of time it takes to begin feeling the effects. This is because everyone’s biochemical makeup is unique, thanks to factors including metabolism, body weight, and different lifestyles.
                <br><br>
                Tinctures tend to be among our fastest-acting products especially when taken sublingually, or beneath the tongue. This delivery method sends CBD directly into your bloodstream rather than going through your digestive system, which takes more time.
                <br><br>
                You may begin to notice the effects of CBD in as little as 5 minutes. For some people, effects can take much longer, even a few days of consistent dosing since CBD builds up in your system over time, leading to cumulative effects. So, the way to find out how long it will take is to try it out for yourself.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How effective are Tinctures for anxiety?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Many people find CBD Tinctures to be very effective in helping manage their anxiety. By interacting with receptors in the brain that are responsible for mood regulation, CBD can help alleviate symptoms of stress and promote feelings of calm, especially when taken daily as part of a consistent wellness routine.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What’s the best Tincture for pain?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                If you’re suffering from pain, especially chronic pain involving inflammation, we recommend starting with our Extra-Strength Full Spectrum Tincture.
                <br><br>
                This formula, packed with 2500mg of CBD, is very fast-acting, effective for all-over body pain, and highly versatile: you can precisely measure your dose with our dropper and take your doses beneath your tongue or mixed with food or drink.
                <br><br>
                Once you’ve experimented with this dose, you may want to graduate to our Maximum-Strength Full Spectrum Tincture to provide even more relief.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Will CBD show on drug tests?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Typically, drug tests will be looking for the presence of THC rather than CBD, so CBD Tinctures may not always trigger a positive result. That being said, our Full-Spectrum Tinctures do contain trace amounts of THC to provide the added benefits that come when THC and CBD work synergistically in the body.
                <br><br>
                So, if you consume enough Full Spectrum CBD oil, you run the risk of failing a drug test.
                <br><br>
                When you know you’re going to be tested, whether for employment or otherwise, we recommend completely abstaining from any cannabis products.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What’s the difference between potencies?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                We offer three potencies of our Full Spectrum Multifunctional Tinctures.
                <br><br>
                Our Regular-Strength Tincture contains 1000mg of CBD and is a good place to start if you’re just beginning to experiment with CBD. Try a 1mL dose containing 33.33mg of CBD and increase over time as needed.
                <br><br>
                Our Extra-Strength Tincture features 2500mg of CBD per bottle, with one dose containing 83.3mg of CBD. This formula is a good choice if you know how your body responds to CBD and you’re looking for additional relief from chronic, widespread pain, help getting a good night’s rest each night, or reducing stress during the day.
                <br><br>
                Try our Maximum-Strength Tincture if you’re looking to experience relief from more severe symptoms. With each bottle containing 5000mg of CBD and 166.7mg per dose, you’ll experience the fullest effects that this cannabinoid offers. Our Maximum-Strength Tincture is also the best value, giving you the most CBD per dollar.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Will your CBD Tincture make me feel high?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Unlike THC, CBD is not a psychoactive cannabinoid, meaning it will not get you “high” the same way using marijuana will. However, our Full Spectrum Tinctures do contain small amounts of THC and other minor cannabinoids to promote an entourage effect, which makes our products even more beneficial. So, taking large doses of our higher-potency formulas may result in slight feelings of euphoria.*
            </div>
        </div>
    </div>
</div>
