<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How does CBD Pet Tincture work?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Our Multifunctional CBD Pet Tincture works the same way with pets as it does with humans!
                <br><br>
                Like us, dogs, cats, and many other animals have an endocannabinoid system that exists to regulate various processes in our bodies related to pain sensation, mood, and sleep. Cannabinoids, including CBD, naturally interact with endocannabinoid receptors in the bodies of your pets, leading to all-natural, effective relief that comes with no harsh side effects.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Does your Pet Tincture work on dogs and cats?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Our Pet Tincture has helped change the lives of many pets, enabling them to overcome joint pain, feel less stressed, and other important benefits.
                <br><br>
                Science shows how effective CBD can be on human <a target="_blank" href="https://pubmed.ncbi.nlm.nih.gov/31793418/">pain</a>, <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6326553/">stress, and sleeping issues</a>, and many thousands of our customers agree about the transformative effectiveness of the cannabinoid. Dogs and cats have endocannabinoid systems just like people do–meaning that CBD can work for them as well.
                <br><br>
                That’s why we’ve developed a Pet Tincture designed for your furry friends! We believe pets don’t deserve to suffer any more than people do, and that they deserve fast-acting solutions with no harsh side effects.
                <br><br>
                Here’s just one example of one happy pet guardian whose dog has experienced the impacts of CBD:
                <br><br>
                “Our 8 yo Lab/Pit mix has epilepsy and hip dysplasia. We researched R&R medicinals to support our pup with CBD relief due to limited mobility. We started him on the CBD Pet Tincture in November 2022, and within a short period of time our pup had better mobility. Four months later: we have also been able to stop his seizure meds (which had horrible side effects) with the use of CBD Pet Tincture and no seizures for the last 4 months! Thank you, R&R Medicinals!”* ~ Joline
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What’s a good CBD oil dose for cats?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                When using our Multifunctional CBD Pet Tincture for cats, opt for a dose of 0.25mL for animals under 25 pounds. For those especially chonky cats weighing 26 pounds and over, you can administer doses that are between 0.25mL-0.50mL.
                <br><br>
                Our Pet Tinctures come with graduated droppers, so you’ll always be able to easily and precisely measure the correct dose for your cat.
                <br><br>
                Remember to dose every day so that your cat experiences the most benefits from our products, since CBD builds up in the system over time, leading to more effects the more that’s taken.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How does dosing work for dogs?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                We’ve designed our Multifunctional CBD Pet Tincture to be versatile to suit the needs of your dog. For pooches who are picky eaters and don’t like the taste of hemp, you can combine each dose with food or water. For more tolerant dogs, you can administer the dose directly into their mouths.
                <br><br>
                Here’s what we recommend for dose sizes:
                <br><br>
                For dogs weighing 1-25 pounds, give them 0.25mL doses.
                <br>
                For dogs weighing 26-50 pounds, give them 0.25-0.50mL doses.
                <br>
                And for dogs who weigh 51-100+ pounds, give them 0.50-1mL.
                <br><br>
                Remember that the most life-changing, transformative effects come with consistent dosing. CBD builds up in the system over time, so the more regularly you dose (ideally daily), the better the results will be.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How often should I be dosing my pet?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Dose your pets once or twice every day. Consistent dosing is crucial in achieving the greatest benefits since CBD accumulates in the body over time, leading to better results the more that is consumed.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Does CBD work for anxious pets?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Yes! Reducing stress is something CBD can help with, whether it’s due to separation anxiety, long trips on the road or in the air, or changing routines at home.
                <br><br>
                Just as it does in people, CBD interacts with the endocannabinoid system of dogs, cats, and other animals to provide a sense of calm and relaxation. While sensitivities differ among individuals, consistent dosing can have very beneficial effects when it comes to calming your pet down.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Is this product safe for my pet?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                When used appropriately and following the dosing instructions on the packaging, our Pet Tincture is an all-natural, perfectly safe solution for pets.
                <br><br>
                In fact, our CBD Pet Tincture comes without any of the harsh side effects that many other conventional pain and stress medications can cause–so you’ve got even less to worry about!*
            </div>
        </div>
    </div>
</div>
