<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What are CBD lotion benefits?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                CBD Pain Cream is an excellent, all-natural solution for treating localized discomfort and reducing inflammation, such as aching joints from chronic conditions or addressing an injury such as a muscle sprain. CBD works by interacting with receptors found in your endocannabinoid system to reduce inflammation and lessen the experience of pain, letting you move freely again.
                <br><br>
                Another major benefit of using CBD Pain Creams is that they do not cause the harsh side effects associated with conventional pain relievers, providing fast, effective, worry-free relief.
                <br><br>
                Our CBD Pain Creams are also formulated to be all-natural, with no artificial fragrances or scents, and are moisturizing, helping keep your skin healthy and protected.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Is there any THC in your Broad Spectrum Pain Cream?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                You will not find any detectable levels of THC in our Broad Spectrum Pain Cream. We test all of our products using a third-party, ISO-accredited lab and make these results available on our website at all times. <a href="https://www.rrmeds.com/pages/lab-testing">Check out the results for yourself</a>.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Can I use your Pain Cream on a long-term basis?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Yes! In fact, we recommend consistent use for the best results, since CBD builds up in your system over time. The more you take, the more benefits you can experience.
                <br><br>
                Using CBD over a long period of time can actually be safer than conventional, pharmaceutical solutions since CBD doesn’t cause any harsh side effects.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Does CBD Cream work for nerve pain?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                CBD has been <a target="_blank" href="https://pubmed.ncbi.nlm.nih.gov/31793418/">investigated</a> for its effects on neuropathic pain, which is caused by nerve damage. Studies suggest that CBD may help alleviate neuropathic pain by modulating the activity of pain-sensing neurons.
                <br><br>
                Everyone reacts differently to CBD. We recommend trying out this solution for your nerve pain to see how well it works for you.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How much should I take?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                We recommend applying a quarter-sized amount of Pain Cream to the affected area and rubbing in thoroughly. Do this one to two times per day, every day, for the best results.
                <br><br>
                Avoid using on areas of broken skin and avoid contact with your eyes.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Will the CBD enter my bloodstream?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                No, CBD from Pain Creams is not absorbed into your bloodstream.
                <br><br>
                The way that our topical Pain Cream works is that the CBD gets absorbed into your skin and interacts with endocannabinoid system receptors located beneath the surface of your skin. So, you’ll still feel the full effects of CBD without it needing to pass through your digestive system or into the bloodstream.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What does CBD Cream do to your body?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                The main star of our CBD Pain Cream, namely CBD, works naturally with the body as an effective pain reliever.
                <br><br>
                In the human body, the endocannabinoid system, or ECS, helps regulate many different functions, including sleep, stress, and pain. ECS receptors are found throughout the body, including the brain, various organs, and the skin.
                <br><br>
                When you apply our Pain Cream, the CBD gets absorbed and interacts with the ECS receptors in your skin, reducing the experience of pain and helping to lessen inflammation which can result in further pain reduction.*
            </div>
        </div>
    </div>
</div>
