<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What is Broad Spectrum CBD?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                The short answer is: Broad Spectrum CBD means there is no THC present in the product.
                <br><br>
                Hemp plants contain many different types of cannabinoids, including CBD and THC, as well as other phytonutrients including terpenes, flavonoids, and antioxidants. Together, all of these naturally occurring compounds create a synergistic effect that can help amplify the benefits of CBD.
                <br><br>
                R&R’s Broad Spectrum CBD contains a robust profile of these helpful phytonutrients in addition to CBD, with the one exception of THC. We know that some of our customers want to avoid THC for various reasons, so we’ve created products that are “THC-Free.” Still, our Broad Spectrum offerings are just as effective as our Full Spectrum products that contain trace amounts of THC.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How should I take Multifunctional THC Free Gummies?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                We recommend building a routine with any of our products, including our Gummies, because consistent dosing is important in reaping the biggest benefits from CBD.
                <br><br>
                Take 1-2 Gummies each and every day. You can also take 1-2 servings an hour before an event that you know will cause pain or stress flareups, and 1-2 servings whenever you’re feeling stressed or in pain.
                <br><br>
                You don’t need to take Multifunctional THC Free Gummies with food or water: just chew them thoroughly before swallowing, and enjoy!*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What potency is right for me?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                If you’ve never tried CBD before, we recommend starting out with our Regular-Strength, 30mg Gummies option. This way, you’ll be able to experiment with dosing and see how your body reacts to the cannabinoid. Then you can graduate to higher potencies if needed.
                <br><br>
                Our Extra-Strength 60mg option is designed for those who are looking for more relief from pain, stress, and sleep issues, or to maximize their overall wellness. Our stronger option is also a better value, giving you more CBD for less.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How effective are THC free gummies for pain?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Our Multifunctional THC Free Gummies can be very effective for pain. CBD interacts with receptors in the endocannabinoid system that are involved in pain modulation, potentially influencing the activity of these receptors and reducing the perception of pain.
                <br><br>
                CBD has also shown potential as an <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7023045/#:~:text=Clinical%20studies%20have%20confirmed%20that,of%20immune%20cells%20%5B66%5D.">anti-inflammatory agent</a>. Chronic inflammation is often associated with pain conditions such as arthritis, neuropathic pain, or inflammatory bowel disease. By reducing inflammation, CBD may help alleviate pain.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Do your Gummies cause any side effects?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Our Gummies do not cause any of the harsh side effects that conventional sleep aids, pain relievers, or anxiety medications may cause. If you take too many Gummies, you may experience slight drowsiness, but generally, there are no other side effects (and in this case, simply reduce your dose).*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Are your Multifunctional THC-Free CBD Gummies all-natural?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Our Gummies are completely natural, starting with our USDA organic-certified grown hemp. Our Gummies do not contain any preservatives or artificial flavors and are vegan and gluten-free as well!
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How long will your Multifunctional THC-Free CBD Gummies take to start working?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Some people experience benefits in as little as 5 minutes after dosing. For others, it may take an hour or longer for the effects to be felt.
                <br><br>
                Because everyone reacts differently to CBD thanks to unique biochemical factors within our bodies, and based on things like when you last ate, it’s impossible to say how long it will take before you begin noticing effects. The best way to find out is to try CBD Gummies for yourself!*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Do these contain gluten?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Nope! Our CBD Gummies are completely gluten-free.
            </div>
        </div>
    </div>
</div>
