<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Does CBD Cream for pain really work?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                We’ve received many reviews for our CBD Pain Creams that point to the effectiveness of our product. Below are just a couple of examples from people who’ve experienced the benefits that are possible for everyone:
                <br><br>
                “Excellent Product Line! Have tried 8 other brands and this is THE one. The topical cream is particularly amazing. My daughter has RA in her hands and has had tremendous pain for 2 years. Docs haven't helped, not even new medications. She used this cream and was able to make a fist again! Joints weren't painful and swelling was reduced. This product and all of R R's products are impressive. This is a company of great integrity that truly cares about their customers.”* ~ Joan P.
                <br><br>
                “The R&R Full Spectrum Hemp Extract Infused Cream is a great help for the arthritis in my hands. It helps me manage the pain and inflammation. Goes on smooth and feels great. There's a slight "skunky" smell the first few minutes it's on, but honestly I like the smell, and it's not strong enough for anyone else to notice. Great product, highly recommend for people with osteoarthritis.”* ~ Catherine T.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Can I rub CBD oil on my skin for pain?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                We’ve formulated our Pain Creams with our high-quality, Full-Spectrum hemp extract along with other anti-inflammatory and skin-supporting ingredients to make it easy and effective for topical application. Especially if you’re suffering from localized pain like a sports injury or arthritis, give these CBD Pain Creams a try.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Can hemp lotion make you tired?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Our CBD Pain Creams typically won’t make you tired or drowsy when used as directed. However, everyone reacts differently to cannabinoids, and some people are very sensitive to CBD. That’s why we always recommend starting out with smaller doses to experiment and determine how your body reacts. You can adjust your dose after that.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">How does your CBD Pain Cream work?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Our endocannabinoid system (ECS), responsible for regulating important systems in our body including pain perception, has receptors found throughout our bodies–many of which exist in our skin.
                <br><br>
                We’ve designed our Pain Cream to be quickly absorbed through the skin to interact with ECS receptors, delivering fast and effective localized pain relief that you can feel in as little as 5 minutes. Our one-of-a-kind formula also features other botanical and all-natural anti-inflammatory ingredients for added relief, so you can get back to doing all the things you love unencumbered.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What are the benefits of CBD infused Pain Cream?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Our CBD Pain Creams bring many benefits, especially when taken consistently–meaning, every day. CBD accumulates in your system, so the more you take, the more benefits you’ll experience.
                <br><br>
                CBD works with the body’s endocannabinoid system (ECS) which can modulate the perception of pain, reducing it and causing relief. It can also work to lessen inflammation which can further reduce pain. Using our Pain Creams daily can reduce discomfort from an injury, like a sprained muscle, or from chronically inflamed and painful joints such as the hands and knees.
                <br><br>
                Our Pain Creams are also formulated with natural inflammatory botanical ingredients as well as moisturizing agents to help care for your skin. You also won’t find any unnatural scents or fragrances in our Creams, because we believe in whole-body health and always ensure that you’re using the highest-quality, best-for-you products.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Will your Pain Cream help my sprained muscle?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Our Full Spectrum CBD Pain Creams can be effective for treating sprained muscles. Many people in our community report excellent results, often in minutes, allowing the full range of motion so people can get back to moving freely and doing what they love.
                <br><br>
                Consistent (meaning daily) application will yield the best results since CBD has cumulative effects, so the more you use, the better you’ll feel over time. So, remember to apply daily!*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Which strength is best for me?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                If you’re just starting out on your wellness journey with CBD, we recommend our Regular Strength, 1000mg formula. This effective Pain Cream will give you a sense of how your body responds to CBD and you’ll start to understand what dose works best for you.
                <br><br>
                Once you’ve given our Regular Strength a try, you can graduate to Extra Strength–this option is excellent for folks who are struggling with pain and who know and love the many benefits CBD has to offer.
                <br><br>
                If you’re dealing with intense, or chronic, pain we recommend opting for our Maximum-Strength, 5000mg option–one of the stronger CBD Pain Creams on the market. This high-quality formula also gives you the best value, with the most cannabinoids per dollar you spend.*
            </div>
        </div>
    </div>
</div>
