<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Do Stress Relief Gummies work?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Our Stress Relief Gummies have helped change the lives of thousands of people who struggle with varying degrees of stress, including the most severe cases. Blended with relaxing botanicals, these all-natural Gummies harness the power of CBD along with CBN to help you calm down fast in moments of high stress and stay relaxed no matter what the day brings you.
                <br><br>
                Especially when incorporated into your daily routine, these Gummies can help make sure that stress no longer plays a role in your life.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Are Stress Relief Gummies safe?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Our Stress Relief Gummies are so safe that many people turn to them as all-natural alternatives to synthetic options. Unlike pharmaceuticals or over-the-counter medications, our plant-based formulas do not cause any harsh side effects.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Can you take Stress Gummies every day?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Not only can you take our CBD Stress Gummies every day–you should be taking them every day.
                <br><br>
                CBD and other cannabinoids build up in your system over time, leading to greater impacts the more you take. Plus, when you dose daily, you’re more likely to experience the benefits within 5 minutes.
                <br><br>
                A consistent wellness routine that includes our Stress Gummies can remove stress from your life for good. We recommend starting your day with 1-2 doses to keep stressful feelings at bay.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What do the effects of CBD De-Stress Gummies feel like?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                People’s experience of cannabinoids can vary, but typically our De-Stress Gummies can instill feelings of calm, stop racing thoughts, and enable you to move smoothly in situations that would otherwise be stressful. If you know you have a stressful event coming up, we recommend taking 1-2 servings an hour beforehand–and you may notice that you can get through the stressful event with ease.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Why do you include other botanicals in your CBD Gummies?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Our CBD De-Stress Gummies harness the power of plants to deliver maximum benefits. In addition to our hemp extract, which contains a robust profile of cannabinoids, terpenes, and other phytonutrients that can augment the effects of CBD, we add botanicals to our formula that can boost stress relief even more.*
                <br><br>
                Contained within our proprietary Stress Blend are things like chamomile, which has been shown to relieve <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2995283/">anxiety and general depression</a>, and St. John’s Wort which may have <a target="_blank" href="https://www.healthline.com/health/st-johns-wort-anxiety#anxiety-remedy">anxiety-relieving effects</a> due to its interactions with GABA transmitters.
                <br><br>
                Our products always follow nature’s way in helping resolve stress and other ailments, which is one of the reasons why they’re so effective.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Do you offer discounts on your CBD De-Stress Gummies?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                We believe in accessibility. That’s why we always offer many ways for you to save on the relief you need.
                <br><br>
                Our <a href="https://www.rrmeds.com/pages/auto-ship-program">Subscription Program</a> lets you save 20% on every single order you make. Plus, you’ll enjoy free shipping anywhere in the U.S. and you can easily modify your subscription at any time. <a href="https://www.rrmeds.com/pages/auto-ship-program">Sign up here to start saving</a>.
                <br><br>
                Our Bundle & Save Program is another way to save money every time you purchase more than one one-time product. Here’s how it works:
                <br><br>
                You’ll save 10% any time you buy any two one-time items.
                <br>
                You’ll save 15% any time you buy three or more one-time items.**
                <br><br>
                We also regularly offer discounts on all of our products. Sign up for email and text alerts so you can stay in the loop!
                <br><br>
                **Disclaimer: Bundle & Save discounts don’t apply to Subscription orders.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Do your Stress Gummies cause harsh side effects?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                No they do not. Our CBD De-Stress Gummies are designed to become a part of your daily routine, which is why it’s so important that they not cause side effects.
                <br><br>
                Because we use only natural ingredients in our Gummies, these gentle yet effective solutions won’t cause any harsh side effects that can be common in conventional medications like pharmaceuticals.*
            </div>
        </div>
    </div>
</div>
