<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">What’s the CBD dosage for dogs?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Here’s what we recommend in terms of dosing for your dog:
                <br><br>
                For dogs under 25 pounds, one dose = one Chew.
                <br><br>
                For dogs 26 pounds and heavier, one dose = two Chews.
                <br><br>
                Remember: the key to getting the best results is consistent dosing. Give your dog their appropriate dose every day to maximize feelings of calm and less pain for your pooch.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">CBD treats for dogs with separation anxiety: do they really work?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Many guardians report that our CBD Dog Chews work wonders when it comes to helping dogs calm down–even in more extreme cases where a dog’s anxiety peaks the moment they are left alone.
                <br><br>
                Dogs, like us humans, have an endocannabinoid system (ECS) with receptors found throughout the body. The ECS helps our bodies maintain balance, influencing how we sleep, how much pain we feel, and how stressed out we get.
                <br><br>
                CBD naturally interacts with these ECS receptors, helping us regain balance. When it comes to stress in both people and dogs, studies have shown CBD to be quite effective in <a target="_blank" href="https://pubmed.ncbi.nlm.nih.gov/20829306/">reducing stress</a>, which includes stress from separation anxiety.
                <br><br>
                Our Chews are designed to be fast-acting, effective, and tasty so that your dogs look forward to taking their dose in more ways than one.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Does CBD help dogs with joint pain?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                As dogs age, joint deterioration is a common cause of discomfort and pain. Seeing your loved ones in pain when you’re on your daily walk, or trying to play fetch in the yard, is the last thing anyone wants–which is why so many people turn to CBD as such an important solution.
                <br><br>
                Studies have found that CBD is an <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8107012/">effective</a> pain reliever in humans, thanks to the cannabinoid’s interaction with our endocannabinoid systems (ECS). Dogs also possess an ECS, so CBD can have the same effects of relaxation on them.
                <br><br>
                When taken consistently, our Dog Chews can reduce joint pain in the hips and elsewhere, allowing your dog to run, jump, and play just like they used to.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Are your Dog Chews safe?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Our CBD Dog Chews are very safe for dogs! Be sure to follow the instructions on the packaging to be sure that you’re dosing your dog correctly.
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Will your Chews help my dog be more relaxed when traveling?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                Our Chews are designed to help dogs chill out and feel less stressed whether at home or on a trip. CBD works naturally to reduce feelings of stress, resulting in greater feelings of calm and giving pets the ability to relax even when their schedules are disrupted. Many pet guardians have seen excellent results with our Chews–find out for yourself!*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Do all dogs react the same to CBD?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                All dogs will react differently to CBD. Sensitivity is based on many individual factors, including body weight, metabolism, and so on.
                <br><br>
                That’s why it’s important, when building your dog’s CBD routine, to pay attention to the effects and adjust doses accordingly. Experiment with dosing at different times of the day, at mealtimes and not, and with the size of each dose. We recommend starting out with smaller doses.*
            </div>
        </div>
    </div>
</div>

<div class="jc-faq-page-content-block">
    <div class="jc-faq-page-content-heading-wrapper">
        <div class="jc-faq-page-content-heading">Will my dog like the taste of your Chews?</div>
        <div class="jc-faq-page-open-btn">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
        </div>
    </div>
    <div class="jc-faq-page-expand-wrapper">
        <div class="jc-faq-page-expand-block">
            <div class="jc-faq-page-expand-text">
                We know pets can be picky eaters, which is why we prioritized taste and effectiveness when crafting our formula.
                <br><br>
                Our Chews are made with high-quality ingredients and are loaded with chicken liver and proteins for excellent nutrition and taste.
                <br><br>
                We rigorously test our Chews. When we gave a wide selection of dogs our Chews compared with competitors, every dog ate ours up! We think yours will, too.
            </div>
        </div>
    </div>
</div>
