
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/softgels?variant=29122871918645">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Softgels_FS_30mg.png?v=1710943784" alt="" class="product-little-image"></a>
        <div class="top-right">
                    <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/softgels?variant=29122871918645">
          <p class="slide-product-name">30mg Multifunctional CBD Softgels </p></a>
        </div>
    </div>
    <p>"I started taking CBD because I was having trouble with vertigo. I was experiencing vertigo spells every few days. Since starting 30 mg of CBD my vertigo spells have almost disappeared."</p>
  </div>
  <div class="review-author slider-text">- Charles H.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/thc-free-gummies?variant=40473296928966">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_BS_30mg.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
                    <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/thc-free-gummies?variant=40473296928966">
          <p class="slide-product-name">30mg Multifunctional THC-Free CBD Gummies</p></a>
        </div>
    </div>
    <p>"First time taking CBD THC-Free gummies is a game changer. The benefits are well worth trying this product. I actually sleep longer and wake up refreshed. More energy during the day and my back pain has dramatically been reduced."</p>
  </div>
  <div class="review-author slider-text">- Mark G.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/5mg-hemp-extract-dog-chews-chicken-flavored?variant=37546665803974">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Dog_Chews_FS_5mg.png?v=1710943009" alt="" class="product-little-image"></a>
        <div class="top-right">
                    <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/5mg-hemp-extract-dog-chews-chicken-flavored?variant=37546665803974">
          <p class="slide-product-name">5mg Multifunctional CBD Dog Chews</p></a>
        </div>
    </div>
    <p>"We initially started our dogs on the CBD to ease joint pain- and it definitely works for that. But, it has also helped with noise phobias (fireworks, thunderstorms)."</p>
  </div>
  <div class="review-author slider-text">- Christine D.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/tincture-unflavored?variant=31651123724341">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Tincure_FS_1000mg_UF.png?v=1710943950" alt="" class="product-little-image"></a>
        <div class="top-right">
                    <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/tincture-unflavored?variant=31651123724341">
          <p class="slide-product-name">1000mg Multifunctional CBD Tincture</p></a>
        </div>
    </div>
    <p>"R&R CBD full spectrum tinctures have helped me regain restful sleep after years of struggling with PTSD-related nightmares."</p>
  </div>
  <div class="review-author slider-text">- Samuel M.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/softgels?variant=29122871918645">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Softgels_FS_30mg.png?v=1710943784" alt="" class="product-little-image"></a>
        <div class="top-right">
                    <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/softgels?variant=29122871918645">
          <p class="slide-product-name">30mg Multifunctional CBD Softgels</p></a>
        </div>
    </div>
    <p>"I’ve been using CBD softgels for about 3 years ago I’m so thankful for them because I went from taking 4 hard core painkillers a day to two softgels a day and feeling a lot less pain."</p>
  </div>
  <div class="review-author slider-text">- Gerrity L.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/tincture-unflavored?variant=31651123724341">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Tincure_FS_1000mg_UF.png?v=1710943950" alt="" class="product-little-image"></a>
        <div class="top-right">
                    <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/tincture-unflavored?variant=31651123724341">
          <p class="slide-product-name">1000mg Multifunctional CBD Tincture</p></a>
        </div>
    </div>
    <p>"The effectiveness of this product has blown me away in just the few weeks I have been taking it I feel I'll be walking without equipment before long and my mind is sharper minus the stress."</p>
  </div>
  <div class="review-author slider-text">- Mike B.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/cream-2-5-fl-oz?variant=37546462740678">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Pain_Cream_FS_1000mg.png?v=1710943592" alt="" class="product-little-image"></a>
        <div class="top-right">
                    <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/cream-2-5-fl-oz?variant=37546462740678">
          <p class="slide-product-name">1000mg CBD Pain Cream</p></a>
        </div>
    </div>
    <p>"My husband has found the daily usage of this product greatly reduces the ongoing tightness and pain from diabetic neuropathy for his legs and ankles."</p>
  </div>
  <div class="review-author slider-text">- Christine K.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/thc-free-tincture-fresh-mint?variant=39834283212998">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Tincure_BS_1000mg_FM.png?v=1710943950" alt="" class="product-little-image"></a>
        <div class="top-right">
                    <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/thc-free-tincture-fresh-mint?variant=39834283212998">
          <p class="slide-product-name">1000mg Multifunctional THC-Free CBD Tincture</p></a>
        </div>
    </div>
    <p>"My husband & I both love the THC-free CBD tincture! It makes a huge difference in our sleep. It’s the only CBD we use! Awesome product and great customer service."</p>
  </div>
  <div class="review-author slider-text">- Carla A.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/30mg-hemp-extract-gummies-vegan?variant=37546503733446">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_FS_30mg_7871f5c3-bbe9-4148-954f-aa25c0e5f683.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
                    <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/30mg-hemp-extract-gummies-vegan?variant=37546503733446">
          <p class="slide-product-name">30mg Multifunctional CBD Gummies</p></a>
        </div>
    </div>
    <p>"These gummies take the edge off for a less stressful work day. Love them!"</p>
  </div>
  <div class="review-author slider-text">- Kristin W.</div>
</div>


<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/tinctures?variant=29122588934197">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Tincure_FS_1000mg_FM_ba905f66-cd13-4161-9d0e-050a721d2979.png?v=1710943951" alt="" class="product-little-image"></a>
        <div class="top-right">
                    <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/tinctures?variant=29122588934197">
          <p class="slide-product-name">1000mg Multifunctional CBD Tincture</p></a>
        </div>
    </div>
    <p>"This CBD Tincture has been a complete game changer for me over the past couple of years. I use it every single evening before bed and it helps me fall asleep and stay asleep throughout the night."</p>
  </div>
  <div class="review-author slider-text">- Brandon S.</div>
</div>



<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/30mg-hemp-extract-gummies-vegan?variant=37546503733446">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_FS_30mg_7871f5c3-bbe9-4148-954f-aa25c0e5f683.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
                    <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/30mg-hemp-extract-gummies-vegan?variant=37546503733446">
          <p class="slide-product-name">30mg Multifunctional CBD Gummies</p></a>
        </div>
    </div>
    <p>"Very relaxing. No feeling of intoxication, just an overall feeling of wellness."</p>
  </div>
  <div class="review-author slider-text">- Al S.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/5mg-hemp-extract-dog-chews-chicken-flavored?variant=37546665803974">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Dog_Chews_FS_5mg.png?v=1710943009" alt="" class="product-little-image"></a>
        <div class="top-right">
                    <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/5mg-hemp-extract-dog-chews-chicken-flavored?variant=37546665803974">
          <p class="slide-product-name">5mg Multifunctional CBD Dog Chews</p></a>
        </div>
    </div>
    <p>"After 2 torn ACL injuries my 10 year old border collie/best friend is back to her old self. She gets a daily dose and I am so happy to have her mobility back without surgery!!"</p>
  </div>
  <div class="review-author slider-text">- Lori T.</div>
</div>











