
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/cbd-cbg-pain-gummies?variant=42853255971014">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_TAR_Pain.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
                    <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/cbd-cbg-pain-gummies?variant=42853255971014">
          <p class="slide-product-name">CBD Pain Gummies</p></a>
        </div>
    </div>
    <p>"These gummies are very good! When I am really hurting this is the product I go to. I have arthritis and at certain times this is the only product that works for me. I am very glad I found these."</p>
  </div>
  <div class="review-author slider-text">- Linda A.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/30mg-hemp-extract-gummies-vegan?variant=42726923010246">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_FS_60mg.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
                    <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/30mg-hemp-extract-gummies-vegan?variant=42726923010246">
          <p class="slide-product-name">60mg Multifunctional CBD Gummies</p></a>
        </div>
    </div>
    <p>"Since my back surgery and total knee replacement I have taken CBD gummies 60mg for the past 1 1/2 years. I've pretty much stopped all other meds."</p>
  </div>
  <div class="review-author slider-text">- Donald R.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/25mg-cbd-5mg-cbn-sleep-gummies?variant=42710192783558">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_TAR_Sleep.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
           <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/25mg-cbd-5mg-cbn-sleep-gummies?variant=42710192783558">
          <p class="slide-product-name">CBD Sleep Gummies</p></a>
        </div>
    </div>
    <p>"Good sleep is sometimes difficult for me. I tried these, not really expecting them to work but when I slept better the first night and then the second night, I knew I had found something that helps!"</p>
  </div>
  <div class="review-author slider-text">- Timothy I.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/cbd-cbn-cbg-de-stress-gummies?variant=42853261148358">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_TAR_De-Stress.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="//products/cbd-cbn-cbg-de-stress-gummies?variant=42853261148358">
          <p class="slide-product-name">CBD De-Stress Gummies</p></a>
        </div>
    </div>
    <p>"These gummies are very effective and supportive to feeling relaxed and in a brighter mood."</p>
  </div>
  <div class="review-author slider-text">- Gwenda B.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/cbd-cbg-pain-gummies?variant=42853255971014">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_TAR_Pain.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/cbd-cbg-pain-gummies?variant=42853255971014">
          <p class="slide-product-name">CBD Pain Gummies</p></a>
        </div>
    </div>
    <p>"I have tried multiple brands of CBD gummies to help my neck and back issues and these, by far, are the best!! I highly recommend these gummies for any pain you may have."</p>
  </div>
  <div class="review-author slider-text">- Stacey H.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/30mg-hemp-extract-gummies-vegan?variant=42726923010246">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_FS_60mg.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/30mg-hemp-extract-gummies-vegan?variant=42726923010246">
          <p class="slide-product-name">60mg Multifunctional CBD Gummies</p></a>
        </div>
    </div>
    <p>"I've struggled with anxiety for many years without finding anything that helps. These gummies have changed my life! They also taste great and came SO fast in the mail!"</p>
  </div>
  <div class="review-author slider-text">- Megan D.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/thc-free-gummies?variant=40473296928966">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_BS_30mg.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/thc-free-gummies?variant=40473296928966">
          <p class="slide-product-name">30mg Multifunctional THC-Free CBD Gummies</p></a>
        </div>
    </div>
    <p>"First time taking CBD THC-Free gummies is a game changer. The benefits are well worth trying this product. I actually sleep longer and wake up refreshed. More energy during the day and my back pain has dramatically been reduced."</p>
  </div>
  <div class="review-author slider-text">- Mark G.</div>
</div>


<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/30mg-hemp-extract-gummies-vegan?variant=37546503733446">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_FS_30mg_7871f5c3-bbe9-4148-954f-aa25c0e5f683.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/30mg-hemp-extract-gummies-vegan?variant=37546503733446">
          <p class="slide-product-name">30mg Multifunctional CBD Gummies</p></a>
        </div>
    </div>
    <p>"Love these gummies! I sleep amazing and feel so balanced. I wake up less tense and feel more relaxed through the day."</p>
  </div>
  <div class="review-author slider-text">- Haeley L.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/30mg-hemp-extract-gummies-vegan?variant=42726923010246">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_FS_60mg.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/30mg-hemp-extract-gummies-vegan?variant=42726923010246">
          <p class="slide-product-name">60mg Multifunctional CBD Gummies</p></a>
        </div>
    </div>
    <p>"This CBD has been great for me and my wife when things are stressful. We mostly use it when we have those generalized anxiety moments when you can't fully put your finger on the source of the stress. For us it takes the edge off and helps us make smarter decisions."</p>
  </div>
  <div class="review-author slider-text">- Daniel S.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/30mg-hemp-extract-gummies-vegan?variant=43162448625862">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_FS_90mg_1.png?v=1718052119" alt="" class="product-little-image"></a>
        <div class="top-right">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/30mg-hemp-extract-gummies-vegan?variant=43162448625862">
          <p class="slide-product-name">90mg Multifunctional CBD Gummies</p></a>
        </div>
    </div>
    <p>"These gummies are not only delicious but they also provide relief from anxiety with absolutely no negative side effects. It just takes that "edge" off effectively. I would highly recommend them to anyone contemplating trying them."</p>
  </div>
  <div class="review-author slider-text">- Alyssa T.</div>
</div>


<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/25mg-cbd-5mg-cbn-sleep-gummies?variant=42710192783558">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_TAR_Sleep.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/25mg-cbd-5mg-cbn-sleep-gummies?variant=42710192783558">
          <p class="slide-product-name">CBD Sleep Gummies</p></a>
        </div>
    </div>
    <p>"I often experience nights when sleep is elusive since menopause. Not anymore! These gummies are a blessing and then some! I no longer struggle to fall asleep, and I sleep all night long. Best "find" for nighttime!"</p>
  </div>
  <div class="review-author slider-text">- Kathy H.</div>
</div>



<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/30mg-hemp-extract-gummies-vegan?variant=42726923010246">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_FS_60mg.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/30mg-hemp-extract-gummies-vegan?variant=42726923010246">
          <p class="slide-product-name">60mg Multifunctional CBD Gummies</p></a>
        </div>
    </div>
    <p>"They work absolutely wonderful. They help my brain slow down so I can actually think straight. Aches and pains disappeared. Your product is AWESOME!!!! THANK YOU!!!"</p>
  </div>
  <div class="review-author slider-text">- Jeannie P.</div>
</div>




