<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/cbd-cbn-cbg-de-stress-gummies?variant=42853261148358">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_TAR_De-Stress.png?v=1710943149" alt="" class="product-little-image">
      </a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
           <a href="/products/cbd-cbn-cbg-de-stress-gummies?variant=42853261148358">
            <p class="slide-product-name">CBD De-Stress Gummies</p>
          </a>
        </div>
    </div>
    <p>"These gummies are very effective and supportive to feeling relaxed and in a brighter mood."</p>
  </div>
  <div class="review-author slider-text">- Gwenda B.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/cbd-cbg-pain-gummies?variant=42853255971014">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_TAR_Pain.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/cbd-cbg-pain-gummies?variant=42853255971014">
          <p class="slide-product-name">CBD Pain Gummies</p></a>
        </div>
    </div>
    <p>"I love this CBD gummy. It has helped tremendously with my hip and joint pain. I eat 1 gummy every morning. I actually look forward to the morning because the CBD gummy tastes good."</p>
  </div>
  <div class="review-author slider-text">- Cynthia T.</div>
</div>


<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/25mg-cbd-5mg-cbn-sleep-gummies?variant=42710192783558">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_TAR_Sleep.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
         <a href="/products/25mg-cbd-5mg-cbn-sleep-gummies?variant=42710192783558">
          <p class="slide-product-name">CBD Sleep  Gummies</p></a>
        </div>
    </div>
    <p>"I often experience nights when sleep is elusive since menopause. Not anymore! These gummies are a blessing and then some! I no longer struggle to fall asleep, and I sleep all night long. Best "find" for nighttime!"</p>
  </div>
  <div class="review-author slider-text">- Kathy H.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/cbd-cbg-pain-gummies?variant=42853255971014">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_TAR_Pain.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
         <a href="/products/cbd-cbg-pain-gummies?variant=42853255971014">
          <p class="slide-product-name">CBD Pain Gummies</p></a>
        </div>
    </div>
    <p>"I bought the CBD gummies for my wife as she had severe pain from arthritis. About a half hour after taking one, she was nearly pain free. This product is truly amazing!"</p>
  </div>
  <div class="review-author slider-text">- Dennis H.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/cbd-cbn-cbg-de-stress-gummies?variant=42853261148358">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_TAR_De-Stress.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/cbd-cbn-cbg-de-stress-gummies?variant=42853261148358">
          <p class="slide-product-name">CBD De-Stress Gummies</p></a>
        </div>
    </div>
    <p>"I’ve been using these gummies for a few months and they work wonders for my overall stress and anxiety."</p>
  </div>
  <div class="review-author slider-text">- Zerrin K.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/25mg-cbd-5mg-cbn-sleep-gummies?variant=42710192783558">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_TAR_Sleep.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/25mg-cbd-5mg-cbn-sleep-gummies?variant=42710192783558">
          <p class="slide-product-name">CBD Sleep Gummies</p></a>
        </div>
    </div>
    <p>"Good sleep is sometimes difficult for me. I tried these, not really expecting them to work but when I slept better the first night and then the second night, I knew I had found something that helps!"</p>
  </div>
  <div class="review-author slider-text">- Timothy I.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/cbd-cbn-cbg-de-stress-gummies?variant=42853261148358">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_TAR_De-Stress.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/cbd-cbn-cbg-de-stress-gummies?variant=42853261148358">
          <p class="slide-product-name">CBD De-Stress Gummies</p></a>
        </div>
    </div>
    <p>"R&R gummies made me feel how I’ve always thought that maybe I could feel, similar to how I felt as a kid. Now I give back in the same way, and anyone I come into contact with who suffers from overthinking, I give them two R&R gummies."</p>
  </div>
  <div class="review-author slider-text">- Katerina G.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/cbd-cbg-pain-gummies?variant=42853255971014">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_TAR_Pain.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/cbd-cbg-pain-gummies?variant=42853255971014">
          <p class="slide-product-name">CBD Pain Gummies</p></a>
        </div>
    </div>
    <p>"I started taking R&R CBD gummies last year, hoping I could move away from using Tylenol and Aleve for shoulder pain and discomfort from arthritis. It didn't take long to notice the relief that resulted from my experiment. It's also a relief to let go of OTC meds too."</p>
  </div>
  <div class="review-author slider-text">- Charles R.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/25mg-cbd-5mg-cbn-sleep-gummies?variant=42710192783558">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_TAR_Sleep.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/25mg-cbd-5mg-cbn-sleep-gummies?variant=42710192783558">
          <p class="slide-product-name">CBD Sleep Gummies</p></a>
        </div>
    </div>
    <p>"Fabulous product! The sleep gummies have helped me to stay asleep. If I wake up at all I fall back to sleep easier and quicker than before! They taste great! They work great! I’m so happy to have found them!"</p>
  </div>
  <div class="review-author slider-text">- Laura C.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/cbd-cbn-cbg-de-stress-gummies?variant=42853261148358">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_TAR_De-Stress.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/cbd-cbn-cbg-de-stress-gummies?variant=42853261148358">
          <p class="slide-product-name">CBD De-Stress Gummies</p></a>
        </div>
    </div>
    <p>"Six months ago I fell running and shattered my wrist. Getting ready for my second surgery, I became anxious about a month ago. I have really only used tinctures in the past, but I jumped on these. Excellent product, just evens me out, and I will continue using, especially through PT."</p>
  </div>
  <div class="review-author slider-text">- Jan R.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/cbd-cbg-pain-gummies?variant=42853255971014">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_TAR_Pain.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/cbd-cbg-pain-gummies?variant=42853255971014">
          <p class="slide-product-name">CBD Pain Gummies</p></a>
        </div>
    </div>
    <p>"I've been using R&R CBD gummies to help with sleep issues for over a year now. I've got osteoarthritis in my knees. These gummies are great for when the NSAIDs don't do the job, plus they taste great."</p>
  </div>
  <div class="review-author slider-text">- Susan L.</div>
</div>










<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/25mg-cbd-5mg-cbn-sleep-gummies?variant=42710192783558">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_TAR_Sleep.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/25mg-cbd-5mg-cbn-sleep-gummies?variant=42710192783558">
          <p class="slide-product-name">CBD Sleep Gummies</p></a>
        </div>
    </div>
    <p>"Best remedy for a good night sleep. I wake up feeling refreshed without the melatonin hangover. Tough sleeping through the night as I age and this seems to be the best solution."</p>
  </div>
  <div class="review-author slider-text">- Paul L.</div>
</div>
