<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/softgels?variant=29122871918645">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Softgels_FS_30mg.png?v=1710943784" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/softgels?variant=29122871918645">
          <p class="slide-product-name">30mg Multifunctional CBD Softgels</p></a>
        </div>
    </div>
    <p>"These CBD Softgels really help me with my anxiety, after taking 1 I feel much more relaxed. Sometimes I have sleep issues waking up in the middle of the night & if I can't get back to sleep 1 will help me."</p>
  </div>
  <div class="review-author slider-text">- Krista R.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/30mg-hemp-extract-gummies-vegan?variant=43162448625862">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_FS_90mg_1.png?v=1718052119" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
         <a href="/products/30mg-hemp-extract-gummies-vegan?variant=43162448625862">
          <p class="slide-product-name">90mg Multifunctional CBD Gummies</p></a>
        </div>
    </div>
    <p>"These gummies are not only delicious but they also provide relief from anxiety with absolutely no negative side effects. It just takes that "edge" off effectively. I would highly recommend them to anyone contemplating trying them."</p>
  </div>
  <div class="review-author slider-text">- Alyssa T.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/5mg-hemp-extract-dog-chews-chicken-flavored?variant=37546665803974">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Dog_Chews_FS_5mg.png?v=1710943009" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
         <a href="/products/5mg-hemp-extract-dog-chews-chicken-flavored?variant=37546665803974">
          <p class="slide-product-name">5mg Multifunctional CBD Dog Chews</p></a>
        </div>
    </div>
    <p>"After 2020, being home all the time, and going back to work the dogs got quite a bit of anxiety. These chews helped relax and make the day a little easier for them while we were gone. I have recommended this to several people with stressed out pups."</p>
  </div>
  <div class="review-author slider-text">- Amber W.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/cbd-cbn-cbg-de-stress-gummies?variant=42853261148358">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_TAR_De-Stress.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
         <a href="/products/cbd-cbn-cbg-de-stress-gummies?variant=42853261148358">
          <p class="slide-product-name">CBD De-Stress Gummies</p></a>
        </div>
    </div>
    <p>"R&R gummies made me feel how I’ve always thought that maybe I could feel, similar to how I felt as a kid. Now I give back in the same way, and anyone I come into contact with who suffers from overthinking, I give them two R&R gummies."</p>
  </div>
  <div class="review-author slider-text">- Katerina G.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/thc-free-gummies?variant=42727000604870">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/CLP_Thumbs_Gummies_BS_30mg_c3620350-d0d4-4954-a678-e60aece183ed.png?v=1707407883
" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
         <a href="/products/thc-free-gummies?variant=42727000604870">
          <p class="slide-product-name">60mg Multifunctional THC-Free CBD Gummies</p></a>
        </div>
    </div>
    <p>"These have helped me deal with work stress and anxiety. I take one after a rough work day and it helps me relax and sleep better. They also taste pretty good."</p>
  </div>
  <div class="review-author slider-text">- Torie Y.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/softgels?variant=42695090176198">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Softgels_FS_90mg.png?v=1710943784" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
         <a href="/products/softgels?variant=42695090176198">
          <p class="slide-product-name">90mg Multifunctional CBD Softgels</p></a>
        </div>
    </div>
    <p>"I purchased the 90mg Full Spectrum softgels about three weeks ago and am very pleased with the results. I feel like my anxiety has lowered and I'm sleeping more soundly. I am loving your product."</p>
  </div>
  <div class="review-author slider-text">- Stan B.</div>
</div>


<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/30mg-hemp-extract-gummies-vegan?variant=42726923010246">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_FS_60mg.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/30mg-hemp-extract-gummies-vegan?variant=42726923010246">
          <p class="slide-product-name">60mg Multifunctional CBD Gummies</p></a>
        </div>
    </div>
    <p>"I've struggled with anxiety for many years without finding anything that helps. These gummies have changed my life! They also taste great and came SO fast in the mail!"</p>
  </div>
  <div class="review-author slider-text">- Megan D.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/cbd-cbn-cbg-de-stress-gummies?variant=42853261148358">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_TAR_De-Stress.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
         <a href="/products/cbd-cbn-cbg-de-stress-gummies?variant=42853261148358">
          <p class="slide-product-name">CBD De-Stress Gummies</p></a>
        </div>
    </div>
    <p>"I’ve been using these gummies for a few months and they work wonders for my overall stress and anxiety."</p>
  </div>
  <div class="review-author slider-text">- Zerrin K.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/tincture-unflavored?variant=31651123724341">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Tincure_FS_1000mg_UF.png?v=1710943950" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
         <a href="/products/tincture-unflavored?variant=31651123724341">
          <p class="slide-product-name">1000mg Multifunctional CBD Tincture</p></a>
        </div>
    </div>
    <p>"R&R CBD full spectrum tinctures have helped me regain restful sleep after years of struggling with PTSD-related nightmares."</p>
  </div>
  <div class="review-author slider-text">- Samuel M.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/pet-tincture?variant=29122884665397">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/CLP_Thumbs_Template_Tincure_PET_750mg_UF_A_800px.png?v=1711735963" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
         <a href="/products/pet-tincture?variant=29122884665397">
          <p class="slide-product-name">750mg Multifunctional CBD Pet Tincture</p></a>
        </div>
    </div>
    <p>"My dog was on prescription medication. I added this and it has made a huge difference in her anxiety. Thank you!!"</p>
  </div>
  <div class="review-author slider-text">- Michelle C.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/tinctures?variant=29122588934197">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Tincure_BS_1000mg_FM.png?v=1710943950" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
         <a href="/products/tinctures?variant=29122588934197">
          <p class="slide-product-name">1000mg Multifunctional CBD Tincture</p></a>
        </div>
    </div>
    <p>"I’ve started every day for the last three years with a dropper full R&R CBD elixir! It takes the edge off … and keeps me calm. Can’t imagine a morning without it! Thanks R&R!"</p>
  </div>
  <div class="review-author slider-text">- Anne F.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/cbd-cbn-cbg-de-stress-gummies?variant=42853261148358">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_TAR_De-Stress.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
         <a href="/products/cbd-cbn-cbg-de-stress-gummies?variant=42853261148358">
          <p class="slide-product-name">CBD De-Stress Gummies</p></a>
        </div>
    </div>
    <p>"These gummies are very effective and supportive to feeling relaxed and in a brighter mood."</p>
  </div>
  <div class="review-author slider-text">- Gwenda B.</div>
</div>




