<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/cbd-cbg-pain-gummies?variant=42853255971014">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/CLP_Thumbs_Template_Gummies_FUN_Pain_A_800px.png?v=1711736348" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/cbd-cbg-pain-gummies?variant=42853255971014">
          <p class="slide-product-name">CBD Pain Gummies</p></a>
        </div>
    </div>
    <p>"I've been using R&R CBD gummies to help with sleep issues for over a year now. I've got osteoarthritis in my knees. These gummies are great for when the NSAIDs don't do the job, plus they taste great."</p>
    </div>
  <div class="review-author slider-text">- Susan L.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/tincture-unflavored?variant=42669261717702">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/CLP_Thumbs_Tincture_FS_5000mg_UF_b1e6bbdb-3502-4379-b0da-a6e1f05a14db.png?v=1706288980" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/tincture-unflavored?variant=42669261717702">
          <p class="slide-product-name">5000mg Multifunctional CBD Tincture</p></a>
        </div>
    </div>
    <p>"Literally, this product worked overnight for me. No pain to keep me awake at night, no pain throughout the day."</p>
    </div>
  <div class="review-author slider-text">- Scé E.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/30mg-hemp-extract-gummies-vegan?variant=42726923010246">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/CLP_Thumbs_Template_Gummies_FS_60mg_A_800px.png?v=1711735416" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/30mg-hemp-extract-gummies-vegan?variant=42726923010246">
          <p class="slide-product-name">60mg Multifunctional CBD Gummies</p></a>
        </div>
    </div>
    <p>"Since my back surgery and total knee replacement I have taken CBD gummies 60mg for the past 1 1/2 years. I've pretty much stopped all other meds."</p>
    </div>
  <div class="review-author slider-text">- Donald R.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/tinctures?variant=29122588999733">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/CLP_Thumbs_Tincture_FS_2500mg_FM_9a975550-5890-49b6-b734-0849d860a608.png?v=1706288980" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/tinctures?variant=29122588999733">
          <p class="slide-product-name">2500mg Multifunctional CBD Tincture</p></a>
        </div>
    </div>
    <p>"This is a good, pure product which has helped me greatly with pain and the ability to sleep through the night. The customer service has been exceptional, which is a very rare thing these days."</p>
    </div>
  <div class="review-author slider-text">- Janet R.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/cream-2-5-fl-oz?variant=42461428351174">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/CLP_Thumbs_Template_Pain_Cream_FS_2500mg_A_800px.png?v=1711735883" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/cream-2-5-fl-oz?variant=42461428351174">
          <p class="slide-product-name">2500mg CBD Pain Cream</p></a>
        </div>
    </div>
    <p>"Six months after knee replacement I’m still rubbing this on at night to sleep. Its effects are amazing and I highly recommend it. I get 4-5 hours of relief which is great."</p>
    </div>
  <div class="review-author slider-text">- Sherry F.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/thc-free-gummies?variant=42727000604870">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/CLP_Thumbs_Gummies_BS_30mg_c3620350-d0d4-4954-a678-e60aece183ed.png?v=1707407883
" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/thc-free-gummies?variant=42727000604870">
          <p class="slide-product-name">60mg Multifunctional THC-Free CBD Gummies</p></a>
        </div>
    </div>
    <p>"These have helped me deal with work stress and anxiety. I take one after a rough work day and it helps me relax and sleep better. They also taste pretty good."</p>
    </div>
  <div class="review-author slider-text">- Torie Y.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/tinctures?variant=29122588934197">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/CLP_Thumbs_Tincture_FS_1000mg_FM_04904b67-8692-40ae-bff0-0fc0ea8bf077.png?v=1706288980" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/tinctures?variant=29122588934197">
          <p class="slide-product-name">1000mg Multifunctional CBD Tincture</p></a>
        </div>
    </div>
    <p>"Bought the 1000mg tincture for back pain but found a lot of other uses. Been a life saver. Works for stomach issues, muscle pains, tooth pains and stress! Every one in the family uses it and it helps us all."</p>
    </div>
  <div class="review-author slider-text">- Lee C.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/25mg-cbd-5mg-cbn-sleep-gummies?variant=42710192783558">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/CLP_Thumbs_Template_Gummies_FUN_Sleep_A_800px.png?v=1711736387" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/25mg-cbd-5mg-cbn-sleep-gummies?variant=42710192783558">
          <p class="slide-product-name">CBD Sleep Gummies</p></a>
        </div>
    </div>
    <p>"I often experience nights when sleep is elusive since menopause. Not anymore! These gummies are a blessing and then some! I no longer struggle to fall asleep, and I sleep all night long. Best "find" for nighttime!"</p>
    </div>
  <div class="review-author slider-text">- Kathy H.</div>
</div>


<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/cbd-cbn-cbg-de-stress-gummies?variant=42853261148358">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/CLP_Thumbs_Template_Gummies_FUN_De-Stress_A_800px.png?v=1711736145" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/cbd-cbn-cbg-de-stress-gummies?variant=42853261148358">
          <p class="slide-product-name">CBD De-Stress Gummies</p></a>
        </div>
    </div>
    <p>"R&R gummies made me feel how I’ve always thought that maybe I could feel, similar to how I felt as a kid. Now I give back in the same way, and anyone I come into contact with who suffers from overthinking, I give them two R&R gummies."</p>
    </div>
  <div class="review-author slider-text">- Katerina G. </div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/softgels?variant=29122871918645">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/CLP_Thumbs_Template_Softgels_FS_30mg_A_800px.png?v=1711573140" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/softgels?variant=29122871918645">
          <p class="slide-product-name">30mg Multifunctional CBD Softgels</p></a>
        </div>
    </div>
    <p>"I have been using R&R Softgels for the past few years to manage stress, sleep and body pain. They work wonders. I have not found another CBD product that is as effective!"</p>
    </div>
  <div class="review-author slider-text">- Tessie B.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/tincture-unflavored?variant=37618147262662">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/CLP_Thumbs_Template_Tincure_FS_2500mg_UF_A_800px.png?v=1711736601" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/tincture-unflavored?variant=37618147262662">
          <p class="slide-product-name">2500mg Multifunctional CBD Tincture</p></a>
        </div>
    </div>
    <p>"Had been suffering with sciatica pain for about 18 months. Tried phyisical therapy, prescription pain meds, stretching, etc. Tried half a dropper of 2500mg R&R Tincture at night, and the pain went away in less than a week."</p>
    </div>
  <div class="review-author slider-text">- Fred K. </div>
</div>


<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/pet-tincture?variant=29122884665397">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/CLP_Thumbs_Template_Tincure_PET_750mg_UF_A_800px.png?v=1711735963" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/pet-tincture?variant=29122884665397">
          <p class="slide-product-name">750mg Multifunctional CBD Pet Tincture</p></a>
        </div>
    </div>
    <p>"I started out by giving my 14 year old lab R&R CBD Dog Chews which gave her great relief from her arthritis aches and pains. When I added the tincture to her daily regimen, I noticed an even greater improvement to her overall health and wellbeing."</p>
    </div>
  <div class="review-author slider-text">- Mary Z.</div>
</div>