<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/5mg-hemp-extract-dog-chews-chicken-flavored?variant=37546665803974">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Dog_Chews_FS_5mg.png?v=1710943009" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
        <a href="/products/5mg-hemp-extract-dog-chews-chicken-flavored?variant=37546665803974">
          <p class="slide-product-name">5mg Multifunctional CBD Dog Chews</p></a>
        </div>
    </div>
    <p>"After 2 torn ACL injuries my 10-year-old border collie/best friend is back to her old self. She gets a daily dose and I am so happy to have her mobility back without surgery!!"</p>
  </div>
  <div class="review-author slider-text">- Lori T.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/pet-tincture?variant=29122884665397">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/CLP_Thumbs_Template_Tincure_PET_750mg_UF_A_800px.png?v=1711735963" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
       <a href="/products/pet-tincture?variant=29122884665397">
          <p class="slide-product-name">750mg Multifunctional CBD Pet Tincture</p></a>
        </div>
    </div>
    <p>"I started giving the pet CBD to my elderly cat after I saw she was still in pain from arthritis despite supplementing with cosequin and monthly steroid shots. She is like a younger cat again! She's playful again and can make jumps she hasn't been able to do in a long time."</p>
  </div>
  <div class="review-author slider-text">- Samantha B.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/5mg-hemp-extract-dog-chews-chicken-flavored?variant=37546665803974">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Dog_Chews_FS_5mg.png?v=1710943009" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
        <a href="/products/5mg-hemp-extract-dog-chews-chicken-flavored?variant=37546665803974">
          <p class="slide-product-name">5mg Multifunctional CBD Dog Chews</p></a>
        </div>
    </div>
    <p>"Amazing product! My dog can run around and jump again after taking this product. She has no hip sockets but runs around like a puppy again!"</p>
  </div>
  <div class="review-author slider-text">- Tracy P.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/pet-tincture?variant=29122884665397">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/CLP_Thumbs_Template_Tincure_PET_750mg_UF_A_800px.png?v=1711735963" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
        <a href="/products/pet-tincture?variant=29122884665397">
          <p class="slide-product-name">750mg Multifunctional CBD Pet Tincture</p></a>
        </div>
    </div>
    <p>"This product is excellent and has helped my sweet dog keep from the seizures she was having before."</p>
  </div>
  <div class="review-author slider-text">- Sasha L.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/pet-tincture?variant=29122884665397">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/CLP_Thumbs_Template_Tincure_PET_750mg_UF_A_800px.png?v=1711735963" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
        <a href="/products/pet-tincture?variant=29122884665397">
          <p class="slide-product-name">750mg Multifunctional CBD Pet Tincture</p></a>
        </div>
    </div>
    <p>"The pet tincture drops are wonderful for my fur babies who are scared of very loud sounds. Thank you!"</p>
  </div>
  <div class="review-author slider-text">- Sandy T.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/5mg-hemp-extract-dog-chews-chicken-flavored?variant=37546665803974">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Dog_Chews_FS_5mg.png?v=1710943009" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
        <a href="/products/5mg-hemp-extract-dog-chews-chicken-flavored?variant=37546665803974">
          <p class="slide-product-name">5mg Multifunctional CBD Dog Chews</p></a>
        </div>
    </div>
    <p>"After 2020, being home all the time, and going back to work the dogs got quite a bit of anxiety. These chews helped relax and make the day a little easier for them while we were gone. I have recommended this to several people with stressed out pups."</p>
  </div>
  <div class="review-author slider-text">- Amber W.</div>
</div>



<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/5mg-hemp-extract-dog-chews-chicken-flavored?variant=37546665803974">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Dog_Chews_FS_5mg.png?v=1710943009" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
        <a href="/products/5mg-hemp-extract-dog-chews-chicken-flavored?variant=37546665803974">
          <p class="slide-product-name">5mg Multifunctional CBD Dog Chews</p></a>
        </div>
    </div>
    <p>"My dog has apparently been badly abused. She is a rescue, and we decided to try your product. She is much better after taking them. I would advise anyone to give them a try!"</p>
  </div>
  <div class="review-author slider-text">- Barbara R.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/5mg-hemp-extract-dog-chews-chicken-flavored?variant=37546665803974">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Dog_Chews_FS_5mg.png?v=1710943009" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
       <a href="/products/5mg-hemp-extract-dog-chews-chicken-flavored?variant=37546665803974">
          <p class="slide-product-name">5mg Multifunctional CBD Dog Chews</p></a>
        </div>
    </div>
    <p>"These chews really help calm our anxious poodle mix. I've also noticed that he's started wanting to run again at the age of 8. Great product!"</p>
  </div>
  <div class="review-author slider-text">- Tanja V.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/pet-tincture?variant=29122884665397">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/CLP_Thumbs_Template_Tincure_PET_750mg_UF_A_800px.png?v=1711735963" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
        <a href="/products/pet-tincture?variant=29122884665397">
          <p class="slide-product-name">750mg Multifunctional CBD Pet Tincture</p></a>
        </div>
    </div>
    <p>"I started out by giving my 14-year-old lab R&R CBD Dog Chews which gave her great relief from her arthritis aches and pains. When I added the tincture to her daily regimen, I noticed an even greater improvement to her overall health and wellbeing."</p>
  </div>
  <div class="review-author slider-text">- Mary Z.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/pet-tincture?variant=29122884665397">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/CLP_Thumbs_Template_Tincure_PET_750mg_UF_A_800px.png?v=1711735963" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
        <a href="/products/pet-tincture?variant=29122884665397">
          <p class="slide-product-name">750mg Multifunctional CBD Pet Tincture</p></a>
        </div>
    </div>
    <p>"Helps my cat with her anxiety and stress licking/scratching."</p>
  </div>
  <div class="review-author slider-text">- Adam S.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/5mg-hemp-extract-dog-chews-chicken-flavored?variant=37546665803974">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Dog_Chews_FS_5mg.png?v=1710943009" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
        <a href="/products/5mg-hemp-extract-dog-chews-chicken-flavored?variant=37546665803974">
          <p class="slide-product-name">5mg Multifunctional CBD Dog Chews</p></a>
        </div>
    </div>
    <p>"This is the best CBD dog treats that I have personally found. They are affordable and effective, I give these to my 5 senior dogs to ease their arthritis pain."</p>
  </div>
  <div class="review-author slider-text">- Jackie D.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/5mg-hemp-extract-dog-chews-chicken-flavored?variant=37546665803974">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Dog_Chews_FS_5mg.png?v=1710943009" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
        <a href="/products/5mg-hemp-extract-dog-chews-chicken-flavored?variant=37546665803974">
          <p class="slide-product-name">5mg Multifunctional CBD Dog Chews</p></a>
        </div>
    </div>
    <p>"We initially started our dogs on the CBD to ease joint pain- and it definitely works for that. But, it has also helped with noise phobias (fireworks, thunderstorms)."</p>
  </div>
  <div class="review-author slider-text">- Christine D.</div>
</div>




