<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
       <a href="/products/25mg-cbd-5mg-cbn-sleep-gummies?variant=42710192783558">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_TAR_Sleep.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/25mg-cbd-5mg-cbn-sleep-gummies?variant=42710192783558">
          <p class="slide-product-name">CBD Sleep Gummies</p></a>
        </div>
    </div>
    <p>"When I took the sleep gummies it was the first time that I had slept through the night. Love it!!"</p>
  </div>
  <div class="review-author slider-text">- Monica P.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
       <a href="/products/thc-free-gummies?variant=40473296928966">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_BS_30mg.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
           <a href="/products/thc-free-gummies?variant=40473296928966">
          <p class="slide-product-name">30mg Multifunctional THC-Free CBD Gummies</p></a>
        </div>
    </div>
    <p>"I have been using these gummies for quite some time now and find them great. I have had quite a few injuries and not only do they relieve the pain from these, but, I also find I sleep better."</p>
  </div>
  <div class="review-author slider-text">- Gwyneth J.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
       <a href="/products/thc-free-tincture-fresh-mint?variant=39834283212998">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Tincure_BS_1000mg_FM.png?v=1710943950" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/thc-free-tincture-fresh-mint?variant=39834283212998">
          <p class="slide-product-name">1000mg Multifunctional THC-Free CBD Tincture</p></a>
        </div>
    </div>
    <p>"My husband & I both love the THC free CBD tincture! It makes a huge difference in our sleep. It’s the only CBD we use! Awesome product and great customer service."</p>
  </div>
  <div class="review-author slider-text">- Carla A.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
       <a href="/products/25mg-cbd-5mg-cbn-sleep-gummies?variant=42710192783558">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_TAR_Sleep.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
         <a href="/products/25mg-cbd-5mg-cbn-sleep-gummies?variant=42710192783558">
          <p class="slide-product-name">CBD Sleep Gummies</p></a>
        </div>
    </div>
    <p>"I often experience nights when sleep is elusive since menopause. Not anymore! These gummies are a blessing and then some! I no longer struggle to fall asleep, and I sleep all night long. Best "find" for nighttime!"</p>
  </div>
  <div class="review-author slider-text">- Kathy H.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
       <a href="/products/softgels?variant=29122871918645">
        <img src=https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Softgels_FS_30mg.png?v=1710943784" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
        <a href="/products/softgels?variant=29122871918645">
          <p class="slide-product-name">30mg Multifunctional CBD Softgels</p></a>
        </div>
    </div>
    <p>"For me, this is perfect to take an hour or two before bed to calm/quiet my brain allowing me to naturally settle down before bedtime - and sleep more soundly."</p>
  </div>
  <div class="review-author slider-text">- Valerie A.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
       <a href="/products/thc-free-gummies?variant=40473296928966">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_BS_30mg.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
        <a href="/products/thc-free-gummies?variant=40473296928966">
          <p class="slide-product-name">30mg Multifunctional THC-Free CBD Gummies</p></a>
        </div>
    </div>
    <p>"First time taking CBD THC-Free gummies is a game changer. The benefits are well worth trying this product. I actually sleep longer and wake up refreshed. More energy during the day and my back pain has dramatically been reduced."</p>
  </div>
  <div class="review-author slider-text">- Mark G.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
       <a href="/products/tinctures?variant=29122588934197">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Tincure_FS_1000mg_FM_ba905f66-cd13-4161-9d0e-050a721d2979.png?v=1710943951" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/tinctures?variant=29122588934197">
          <p class="slide-product-name">1000mg Multifunctional CBD Tincture</p></a>
        </div>
    </div>
    <p>"I have had a very difficult time sleeping for years now. I have tried so many things to help but the ONLY thing that has helped me is R&R. I have so much respect for their products' utility and quality. I tell everyone I know about them. They are also very responsive to questions."</p>
  </div>
  <div class="review-author slider-text">- Patricia V.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
       <a href="/products/25mg-cbd-5mg-cbn-sleep-gummies?variant=42710192783558">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_TAR_Sleep.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
      <a href="/products/25mg-cbd-5mg-cbn-sleep-gummies?variant=42710192783558">
          <p class="slide-product-name">CBD Sleep Gummies</p></a>
        </div>
    </div>
    <p>"Best remedy for a good night sleep. I wake up feeling refreshed without the melatonin hangover. Tough sleeping through the night as I age and this seems to be the best solution."</p>
  </div>
  <div class="review-author slider-text">- Paul L.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
       <a href="/products/softgels?variant=42695090176198">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Softgels_FS_90mg.png?v=1710943784" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
       <a href="/products/softgels?variant=42695090176198">
          <p class="slide-product-name">90mg Multifunctional CBD Softgels</p></a>
        </div>
    </div>
    <p>"I purchased the 90mg Full Spectrum softgels about three weeks ago and am very pleased with the results. I feel like my anxiety has lowered and I'm sleeping more soundly. I am loving your product."</p>
  </div>
  <div class="review-author slider-text">- Stan B.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
       <a href="/products/softgels?variant=42695090176198">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Softgels_FS_90mg.png?v=1710943784" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
  <a href="/products/softgels?variant=42695090176198">
          <p class="slide-product-name">90mg Multifunctional CBD Softgels</p></a>
        </div>
    </div>
    <p>"My experience using R&R CBD Softgels has been game changing for me. I have been able to manage my knee pain from arthritis. Additionally, I am now able to sleep through the night which is a true blessing. Thank you R&R!"</p>
  </div>
  <div class="review-author slider-text">- Peggy R.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
       <a href="/products/softgels?variant=29122871918645">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Softgels_FS_90mg.png?v=1710943784" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
  <a href="/products/softgels?variant=29122871918645">
          <p class="slide-product-name">30mg Multifunctional CBD Softgels</p></a>
        </div>
    </div>
    <p>"I love the gummies but was looking for something without the sugar coating. These are perfect. I’m relaxed into sleep the moment my head hits the pillow. Thanks R&R."</p>
  </div>
  <div class="review-author slider-text">- Jeanne A.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/cbd-cbn-cbg-de-stress-gummies?variant=42853261148358">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_FS_30mg_7871f5c3-bbe9-4148-954f-aa25c0e5f683.avif?v=1717090378" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
         <a href="/products/cbd-cbn-cbg-de-stress-gummies?variant=42853261148358">
          <p class="slide-product-name">60mg Multifunctional CBD Gummies</p></a>
        </div>
    </div>
    <p>"These sleep gummies help to unwind at the end of a stressful day. They help me relax and prepare for quality sleep. I recommend these to anyone that wants to improve sleep hygiene."</p>
  </div>
  <div class="review-author slider-text">- Will D.</div>
</div>


