<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/softgels?variant=42695090176198">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Softgels_FS_90mg.png?v=1710943784" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/softgels?variant=42695090176198">
          <p class="slide-product-name">90mg Multifunctional CBD Softgels</p></a>
        </div>
    </div>
    <p>"I use R&R soft gels morning and evening to help in two areas. First, I have back issues and your product cuts the pain. It also mellows out life stress. I’m a happy camper!"</p>
  </div>
  <div class="review-author slider-text">- Byron W.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/30mg-hemp-extract-gummies-vegan?variant=42726923010246">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_FS_60mg.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
         <a href="/products/30mg-hemp-extract-gummies-vegan?variant=42726923010246">
          <p class="slide-product-name">60mg Multifunctional CBD Gummies</p></a>
        </div>
    </div>
    <p>"They work absolutely wonderful. They help my brain slow down so I can actually think straight. Aches and pains disappeared. Your product is AWESOME!!!! THANK YOU!!!"</p>
  </div>
  <div class="review-author slider-text">- Jeannie P.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/tinctures?variant=29122588934197">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Tincure_FS_1000mg_FM_ba905f66-cd13-4161-9d0e-050a721d2979.png?v=1710943951" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
        <a href="/products/tinctures?variant=29122588934197">
          <p class="slide-product-name">1000mg Multifunctional CBD Tincture</p></a>
        </div>
    </div>
    <p>"Bought the 1000mg tincture for back pain but found a lot of other uses. Been a life saver. Works for stomach issues, muscle pains, tooth pains and stress! Every one in the family uses it and it helps us all."</p>
  </div>
  <div class="review-author slider-text">- Lee C.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/thc-free-gummies?variant=42727000604870">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/CLP_Thumbs_Gummies_BS_30mg_c3620350-d0d4-4954-a678-e60aece183ed.png?v=1707407883
" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
         <a href="/products/thc-free-gummies?variant=42727000604870">
          <p class="slide-product-name">60mg Multifunctional THC-Free CBD Gummies</p></a>
        </div>
    </div>
    <p>"I’m pleased to say that the CBD gummies have gotten me through the pain I have had recovering from my total knee replacement. I feel less stressed as well. My rehabilitation for my knee went smoother since I felt less pain."</p>
  </div>
  <div class="review-author slider-text">- Rise H.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/5mg-hemp-extract-dog-chews-chicken-flavored?variant=37546665803974">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Dog_Chews_FS_5mg.png?v=1710943009" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
        <a href="/products/5mg-hemp-extract-dog-chews-chicken-flavored?variant=37546665803974">
          <p class="slide-product-name">5mg Multifunctional CBD Dog Chews</p></a>
        </div>
    </div>
    <p>"We initially started our dogs on the CBD to ease joint pain- and it definitely works for that. But, it has also helped with noise phobias (fireworks, thunderstorms)."</p>
  </div>
  <div class="review-author slider-text">- Christine D.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/tinctures?variant=29122588999733">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Tincure_FS_2500mg_FM.png?v=1710943950" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
         <a href="/products/tinctures?variant=29122588999733">
          <p class="slide-product-name">2500mg Multifunctional CBD Tincture</p></a>
        </div>
    </div>
    <p>"I spent over 5 months with neuropathy pain in my left foot after a fracture of the tibia! I couldn’t sleep more than a few hours! Now I sleep the whole night!"</p>
  </div>
  <div class="review-author slider-text">- Judith S.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/softgels?variant=29122871918645">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Softgels_FS_30mg.png?v=1710943784" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
     <a href="/products/softgels?variant=29122871918645">
          <p class="slide-product-name">30mg Multifunctional CBD Softgels</p></a>
        </div>
    </div>
    <p>"For me, this is perfect to take an hour or two before bed to calm and quiet my brain allowing me to naturally settle down before bedtime—and sleep more soundly."</p>
  </div>
  <div class="review-author slider-text">- Valerie A.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/tincture-unflavored?variant=31651123724341">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Tincure_FS_1000mg_UF.png?v=1710943950" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
        <a href="/products/tincture-unflavored?variant=31651123724341">
          <p class="slide-product-name">1000mg Multifunctional CBD Tincture</p></a>
        </div>
    </div>
    <p>"The effectiveness of this product has blown me away in just the few weeks I have been taking it. I feel I'll be walking without equipment before long and my mind is sharper minus the stress."</p>
  </div>
  <div class="review-author slider-text">- Mike B.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/pet-tincture?variant=29122884665397">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/CLP_Thumbs_Template_Tincure_PET_750mg_UF_A_800px.png?v=1711735963" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
     <a href="/products/pet-tincture?variant=29122884665397">
          <p class="slide-product-name">750mg Multifunctional CBD Pet Tincture</p></a>
        </div>
    </div>
    <p>"I started out by giving my 14 year old lab R&R CBD Dog Chews which gave her great relief from her arthritis aches and pains. When I added the tincture to her daily regimen, I noticed an even greater improvement to her overall health and wellbeing."</p>
  </div>
  <div class="review-author slider-text">- Mary Z.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/tinctures?variant=29122588999733">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Tincure_FS_2500mg_FM.png?v=1710943950" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
      <a href="/products/tinctures?variant=29122588999733">
          <p class="slide-product-name">2500mg Multifunctional CBD Tincture</p></a>
        </div>
    </div>
    <p>"This is a good, pure product which has helped me greatly with pain and the ability to sleep through the night. The customer service has been exceptional, which is a very rare thing these days."</p>
  </div>
  <div class="review-author slider-text">- Janet R.</div>
</div>


<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/thc-free-tincture-fresh-mint?variant=39834283212998">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Tincure_BS_1000mg_FM.png?v=1710943950" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
      <a href="/products/thc-free-tincture-fresh-mint?variant=39834283212998">
          <p class="slide-product-name">1000mg Multifunctional CBD Tincture</p></a>
        </div>
    </div>
    <p>"The R&R CBD tincture helps me with pain and arthritis, plus it helps me sleep. I only need one large dose each morning for maintenance. I highly recommend R&R."</p>
  </div>
  <div class="review-author slider-text">- Mark F.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/30mg-hemp-extract-gummies-vegan?variant=37546503733446">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_FS_30mg_7871f5c3-bbe9-4148-954f-aa25c0e5f683.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
     <a href="/products/30mg-hemp-extract-gummies-vegan?variant=37546503733446">
          <p class="slide-product-name">30mg Multifunctional CBD Gummies</p></a>
        </div>
    </div>
    <p>"I have been using R&R CBD gummies for the past month, in my experience they are very effective in easing stress and helping you to get a better nights sleep."</p>
  </div>
  <div class="review-author slider-text">- Jeff W.</div>
</div>
