<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/softgels?variant=29122871918645">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Softgels_FS_30mg.png?v=1710943784" alt="" class="product-little-image"></a>
               <div class="top-right">   <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/softgels?variant=29122871918645">
                 <p class="slide-product-name">30mg Multifunctional  CBD Softgels</p></a>
        </div>
    </div>
    <p>"I have been using R&R Softgels for the past few years to manage stress, sleep and body pain. They work wonders. I have not found another CBD product that is as effective!"</p>
  </div>
  <div class="review-author slider-text">- Tessie B.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/thc-free-softgels?variant=39834379518150">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Softgels_BS_30mg.png?v=1710943784" alt="" class="product-little-image"></a>
               <div class="top-right">   <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/thc-free-softgels?variant=39834379518150">
                 <p class="slide-product-name">30mg Multifunctional THC-Free CBD Softgels</p></a>
        </div>
    </div>
    <p>"The pain in my knee that I had before taking your product would be very painful. I would have to use ice several times a day. Since taking your product, I do not have to do that. A great relief."</p>
  </div>
  <div class="review-author slider-text">- Larayne M.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/softgels?variant=42695090176198">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Softgels_FS_90mg.png?v=1710943784" alt="" class="product-little-image"></a>
               <div class="top-right">   <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/softgels?variant=42695090176198">
                 <p class="slide-product-name">90mg Multifunctional CBD Softgels</p></a>
        </div>
    </div>
    <p>"My experience using R&R CBD Softgels has been game changing for me. I have been able to manage my knee pain from arthritis. Additionally, I am now able to sleep through the night which is a true blessing. Thank you R&R!"</p>
  </div>
  <div class="review-author slider-text">- Peggy R.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/softgels?variant=29122871918645">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Softgels_FS_30mg.png?v=1710943784" alt="" class="product-little-image"></a>
               <div class="top-right">   <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/softgels?variant=29122871918645">
                 <p class="slide-product-name">30mg  Multifunctional CBD Softgels</p></a>
        </div>
    </div>
    <p>"These CBD Softgels really help me with my anxiety, after taking 1 I feel much more relaxed. Sometimes I have sleep issues waking up in the middle of the night & if I can't get back to sleep 1 will help me."</p>
  </div>
  <div class="review-author slider-text">- Krista R.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/softgels?variant=42695090176198">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Softgels_FS_90mg.png?v=1710943784" alt="" class="product-little-image"></a>
               <div class="top-right">   <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/softgels?variant=42695090176198">
                 <p class="slide-product-name">90mg Multifunctional CBD Softgels</p></a>
        </div>
    </div>
    <p>"I use R&R soft gels morning and evening to help in two areas. First, I have back issues and your product cuts the pain. It also mellows out life stress. I’m a happy camper!"</p>
  </div>
  <div class="review-author slider-text">- Byron W.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/softgels?variant=42695087489222">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Softgels_FS_60mg.png?v=1710943784" alt="" class="product-little-image"></a>
               <div class="top-right">   <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/softgels?variant=42695087489222">
                 <p class="slide-product-name">60mg Multifunctional CBD Softgels</p></a>
        </div>
    </div>
    <p>"When I take two softgels a couple of hours before bed, I find I have a much easier time falling asleep and staying asleep. I do not feel groggy in the morning at all. Just well rested!"</p>
  </div>
  <div class="review-author slider-text">- Nancy M.</div>
</div>






<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/softgels?variant=29122871918645">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Softgels_FS_30mg.png?v=1710943784" alt="" class="product-little-image"></a>
               <div class="top-right">   <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/softgels?variant=29122871918645">
                 <p class="slide-product-name">30mg Multifunctional CBD Softgels</p></a>
        </div>
    </div>
    <p>"I’ve been using CBD softgels for about 3 yrs ago I’m so thankful for them because I went from taking 4 hard core painkillers a day to two softgels a day and feeling a lot less pain."</p>
  </div>
  <div class="review-author slider-text">- Gerrity L.</div>
</div>


<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/softgels?variant=42695090176198">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Softgels_FS_90mg.png?v=1710943784" alt="" class="product-little-image"></a>
               <div class="top-right">   <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
         <a href="/products/softgels?variant=42695090176198">
                 <p class="slide-product-name">90mg Multifunctional CBD Softgels</p></a>
        </div>
    </div>
    <p>"I purchased the 90mg Full Spectrum softgels about three weeks ago and am very pleased with the results. I feel like my anxiety has lowered and I'm sleeping more soundly. I am loving your product."</p>
  </div>
  <div class="review-author slider-text">- Stan B.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/softgels?variant=29122871918645">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Softgels_FS_30mg.png?v=1710943784" alt="" class="product-little-image"></a>
               <div class="top-right">   <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/softgels?variant=29122871918645">
                 <p class="slide-product-name">30mg Multifunctional CBD Softgels</p></a>
        </div>
    </div>
    <p>"For me, this is perfect to take an hour or two before bed to calm and quiet my brain allowing me to naturally settle down before bedtime—and sleep more soundly."</p>
  </div>
  <div class="review-author slider-text">- Valerie A.</div>
</div>


<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/softgels?variant=42695087489222">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Softgels_FS_60mg.png?v=1710943784" alt="" class="product-little-image"></a>
               <div class="top-right">   <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
        <a href="/products/softgels?variant=42695087489222">
                 <p class="slide-product-name">60mg Multifunctional CBD Softgels</p></a>
        </div>
    </div>
    <p>"The softgels help my allergy symptoms. I take one in the early evening and they also help me sleep. Very satisfied."</p>
  </div>
  <div class="review-author slider-text">- Richard K.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/softgels?variant=29122871918645">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Softgels_FS_30mg.png?v=1710943784" alt="" class="product-little-image"></a>
               <div class="top-right">   <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/softgels?variant=29122871918645">
                 <p class="slide-product-name">30mg Multifunctional CBD Softgels</p></a>
        </div>
    </div>
    <p>"My GI problems are chronic. My doctor actually recommended that I use a high quality CBD to relax my tummy from twisting, turning and being totally uncomfortable. These softgels have made my tummy happier than it's been in years!"</p>
  </div>
  <div class="review-author slider-text">- Pamela W.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/softgels?variant=29122871918645">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Softgels_FS_30mg.png?v=1710943784" alt="" class="product-little-image"></a>
               <div class="top-right">   <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
         <a href="/products/softgels?variant=29122871918645">
                 <p class="slide-product-name">30mg Multifunctional CBD Softgels</p></a>
        </div>
    </div>
    <p>"I have used these CBD soft gels for a while now. I am a nurse and on my feet 12-16 hours a day. Was using gummies to start but switched to the soft gels twice a day and then supplement with gummies during a hard day. Have done a great job with my pain."</p>
  </div>
  <div class="review-author slider-text">- Deb S.</div>
</div>


