<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/tinctures?variant=29122588934197">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Tincure_BS_1000mg_FM.png?v=1710943950" alt="" class="product-little-image"></a>
        <div class="top-right">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/tinctures?variant=29122588934197">
          <p class="slide-product-name">1000mg Multifunctional CBD Tincture</p></a>
        </div>
    </div>
    <p>"Bought the 1000mg tincture for back pain but found a lot of other uses. Been a life saver. Works for stomach issues, muscle pains, tooth pains and stress! Every one in the family uses it and it helps us all."</p>
    </div>
  <div class="review-author slider-text">- Lee C.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/tincture-unflavored?variant=37618147262662">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Tincure_FS_2500mg_UF.png?v=1710943950" alt="" class="product-little-image"></a>
        <div class="top-right">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/tincture-unflavored?variant=37618147262662">
          <p class="slide-product-name">2500mg Multifunctional CBD Tincture</p></a>
        </div>
    </div>
    <p>"The 2500mg tincture is perfect for me, for pain, easing anxiousness and sleeping like a baby. Plus they are a farm to bottle company! That's very important and very rare."</p>
    </div>
  <div class="review-author slider-text">- Brad R.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/tinctures?variant=29122588999733">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Tincure_FS_2500mg_FM.png?v=1710943950" alt="" class="product-little-image"></a>
        <div class="top-right">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/tinctures?variant=29122588999733">
          <p class="slide-product-name">2500mg Multifunctional CBD Tincture</p></a>
        </div>
    </div>
    <p>"This is a good, pure product which has helped me greatly with pain and the ability to sleep through the night. The customer service has been exceptional, which is a very rare thing these days."</p>
    </div>
  <div class="review-author slider-text">- Janet R.</div>
</div>
<div class="slide"> 
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/tincture-unflavored?variant=37618147262662">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Tincure_FS_2500mg_UF.png?v=1710943950" alt="" class="product-little-image"></a>
        <div class="top-right">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/tincture-unflavored?variant=37618147262662">
          <p class="slide-product-name">2500mg Multifunctional CBD Tincture</p></a>
        </div>
    </div>
    <p>"I’m a 73 year old woman and just this past weekend I was out shoveling snow. I have been taking CBD oil for over 10 years and I wouldn’t skip a day. This has helped me stay agile and limber and feeling much younger than most elderly women my age. I love it."</p>
    </div>
  <div class="review-author slider-text">- Antoinette L.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/thc-free-tincture-fresh-mint?variant=39834283212998">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Tincure_BS_1000mg_FM.png?v=1710943950" alt="" class="product-little-image"></a>
        <div class="top-right">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/thc-free-tincture-fresh-mint?variant=39834283212998">
          <p class="slide-product-name">1000mg Multifunctional THC-Free CBD Tincture</p></a>
        </div>
    </div>
    <p>"Ive been taking this before bed every night for about 2 weeks, in an attempt to combat anxiety induced insomnia—and I instantly started sleeping better. I don’t say that lightly! It’s been incredibly helpful."</p>
    </div>
  <div class="review-author slider-text">- Kelly H.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/tincture-unflavored?variant=31651123724341">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Tincure_FS_1000mg_UF.png?v=1710943950" alt="" class="product-little-image"></a>
        <div class="top-right">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/tincture-unflavored?variant=31651123724341">
          <p class="slide-product-name">1000mg Multifunctional CBD Tincture</p></a>
        </div>
    </div>
    <p>"R&R CBD full spectrum tinctures have helped me regain restful sleep after years of struggling with PTSD-related nightmares."</p>
    </div>
  <div class="review-author slider-text">- Samuel M.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/thc-free-tincture-fresh-mint?variant=39834283212998">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Tincure_BS_1000mg_FM.png?v=1710943950" alt="" class="product-little-image"></a>
        <div class="top-right">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/thc-free-tincture-fresh-mint?variant=39834283212998">
          <p class="slide-product-name">1000mg Multifunctional THC-Free CBD Tincture</p></a>
        </div>
    </div>
    <p>"My husband & I both love the THC free CBD tincture! It makes a huge difference in our sleep. It’s the only CBD we use! Awesome product and great customer service."</p>
    </div>
  <div class="review-author slider-text">- Carla A.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/tincture-unflavored?variant=42669261717702">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Tincure_FS_5000mg_UF.png?v=1710943950" alt="" class="product-little-image"></a>
        <div class="top-right">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/tincture-unflavored?variant=42669261717702">
          <p class="slide-product-name">5000mg Multifunctional CBD Tincture</p></a>
        </div>
    </div>
    <p>"Literally, this product worked overnight for me. No pain to keep me awake at night, no pain throughout the day."</p>
    </div>
  <div class="review-author slider-text">- Scé E.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href=/products/tinctures?variant=29122588934197">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Tincure_BS_1000mg_FM.png?v=1710943950" alt="" class="product-little-image"></a>
        <div class="top-right">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/tinctures?variant=29122588934197">
          <p class="slide-product-name">1000mg Multifunctional CBD Tincture</p></a>
        </div>
    </div>
    <p>"This CBD Tincture has been a complete game changer for me over the past couple of years. I use it every single evening before bed and it helps me fall asleep and stay asleep throughout the night."</p>
    </div>
  <div class="review-author slider-text">- Brandon S.</div>
</div>



<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/tincture-unflavored?variant=31651123724341">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Tincure_FS_1000mg_UF.png?v=1710943950" alt="" class="product-little-image"></a>
        <div class="top-right">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/tincture-unflavored?variant=31651123724341">
          <p class="slide-product-name">1000mg Multifunctional CBD Tincture</p></a>
        </div>
    </div>
    <p>"The effectiveness of this product has blown me away in just the few weeks I have been taking it I feel I'll be walking without equipment before long and my mind is sharper minus the stress."</p>
    </div>
  <div class="review-author slider-text">- Mike B.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/tincture-unflavored?variant=42669261717702">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Tincure_FS_5000mg_UF.png?v=1710943950" alt="" class="product-little-image"></a>
        <div class="top-right">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/tincture-unflavored?variant=42669261717702">
          <p class="slide-product-name">5000mg Multifunctional CBD Tincture</p></a>
        </div>
    </div>
    <p>"This is the first and only CBD oil I have tried that I can actually feel the effect and benefit!! I have problems with anxiety and muscle tension and this helps me so much!"</p>
    </div>
  <div class="review-author slider-text">- Adone D.</div>
</div>


<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/tinctures?variant=29122588999733">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Tincure_FS_2500mg_FM.png?v=1710943950" alt="" class="product-little-image"></a>
        <div class="top-right">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/tinctures?variant=29122588999733">
          <p class="slide-product-name">2500mg Multifunctional CBD Tincture</p></a>
        </div>
    </div>
    <p>"The potency of this product is amazing. I can take less of this than other brands I've tried and have the same positive affect on my nausea and abdominal pain."</p>
    </div>
  <div class="review-author slider-text">- Chris F.</div>
</div>






