
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/softgels?variant=42695090176198">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Softgels_FS_90mg.png?v=1710943784" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/softgels?variant=42695090176198">
          <p class="slide-product-name">90mg Multifunctional CBD Softgels</p></a>
        </div>
    </div>
    <p>"I use R&R soft gels morning and evening to help in two areas. First, I have back issues and your product cuts the pain. It also mellows out life stress. I’m a happy camper!"</p>
  </div>
  <div class="review-author slider-text">- Byron W.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/tinctures?variant=42669261586630">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Tincure_FS_5000mg_FM.png?v=1710943950" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/tinctures?variant=42669261586630">
          <p class="slide-product-name">5000mg Multifunctional CBD Tincture</p></a>
        </div>
    </div>
    <p>"My husband has stenosis in several vertebrae… this is so effective at pain relief!!!"</p>
  </div>
  <div class="review-author slider-text">- Karen W.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/cream-2-5-fl-oz?variant=42753364951238">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Pain_Cream_FS_5000mg.png?v=1710943592" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
         <a href="/products/cream-2-5-fl-oz?variant=42753364951238">
          <p class="slide-product-name">5000mg CBD Pain Cream</p></a>
        </div>
    </div>
    <p>"An amazing product. A little bit of R&R's CBD Pain Cream goes a long way. It has taken away nearly all of my chronic osteoarthritis pain. Just be sure to use it at least once a day and you will get the best results."</p>
  </div>
  <div class="review-author slider-text">- Mark P.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/tincture-unflavored?variant=42669261717702">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Tincure_FS_5000mg_UF.png?v=1710943950" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
        <a href="/products/tincture-unflavored?variant=42669261717702">
          <p class="slide-product-name">5000mg Multifunctional CBD Tincture</p></a>
        </div>
    </div>
    <p>"This is the first and only CBD oil I have tried that I can actually feel the effect and benefit!! I have problems with anxiety and muscle tension and this helps me so much!"</p>
  </div>
  <div class="review-author slider-text">- Adone D.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/30mg-hemp-extract-gummies-vegan?variant=43162448625862">
        <!-- Image for 90mg CBD Gummies is missing -->
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_FS_90mg_1.png?v=1718052119" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/30mg-hemp-extract-gummies-vegan?variant=43162448625862">
          <p class="slide-product-name">90mg Multifunctional CBD Gummies</p></a>
        </div>
    </div>
    <p>"These gummies are not only delicious but they also provide relief from anxiety with absolutely no negative side effects. It just takes that "edge" off effectively. I would highly recommend them to anyone contemplating trying them."</p>
  </div>
  <div class="review-author slider-text">- Alyssa T.</div>
</div>



<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/softgels?variant=42695090176198">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Softgels_FS_90mg.png?v=1710943784" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
         <a href="/products/softgels?variant=42695090176198">
          <p class="slide-product-name">90mg Multifunctional CBD Softgels</p></a>
        </div>
    </div>
    <p>"I purchased the 90mg Full Spectrum softgels about three weeks ago and am very pleased with the results. I feel like my anxiety has lowered and I'm sleeping more soundly. I am loving your product."</p>
  </div>
  <div class="review-author slider-text">- Stan B.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/tincture-unflavored?variant=42669261717702">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Tincure_FS_5000mg_UF.png?v=1710943950" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
        <a href="/products/tincture-unflavored?variant=42669261717702">
          <p class="slide-product-name">5000mg Multifunctional CBD Tincture</p></a>
        </div>
    </div>
    <p>"Literally, this product worked overnight for me. No pain to keep me awake at night, no pain throughout the day."</p>
  </div>
  <div class="review-author slider-text">- Scé E.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/cream-2-5-fl-oz?variant=42753364951238">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Pain_Cream_FS_5000mg.png?v=1710943592" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
         <a href="/products/cream-2-5-fl-oz?variant=42753364951238">
          <p class="slide-product-name">5000mg CBD Pain Cream</p></a>
        </div>
    </div>
    <p>"This cream is SUPER. Not greasy. Quickly helps reduce muscle and nerve pain. Highly recommend this."</p>
  </div>
  <div class="review-author slider-text">- Merrio W.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/softgels?variant=42695090176198">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Softgels_FS_90mg.png?v=1710943784" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/softgels?variant=42695090176198">
          <p class="slide-product-name">90mg Multifunctional CBD Softgels</p></a>
        </div>
    </div>
    <p>"When I take them closer to bedtime I noticed, so far, that I do seem to slip into dreamland much quicker and can fall back to sleep faster."</p>
  </div>
  <div class="review-author slider-text">- Tad B.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/cream-2-5-fl-oz?variant=42753364951238">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Pain_Cream_FS_5000mg.png?v=1710943592" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
         <a href="/products/cream-2-5-fl-oz?variant=42753364951238">
          <p class="slide-product-name">5000mg CBD Pain Cream</p></a>
        </div>
    </div>
    <p>"I bought this for my boyfriend. He has very bad arthritis in his knee. He was very amazed at the results of the 2500 and thrilled with the results of the 5000."</p>
  </div>
  <div class="review-author slider-text">- Janine B.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/softgels?variant=42695090176198">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Softgels_FS_90mg.png?v=1710943784" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
         <a href="/products/softgels?variant=42695090176198">
          <p class="slide-product-name">90mg Multifunctional CBD Softgels</p></a>
        </div>
    </div>
    <p>"My experience using R&R CBD Softgels has been game changing for me. I have been able to manage my knee pain from arthritis. Additionally, I am now able to sleep through the night which is a true blessing. Thank you R&R!"</p>
  </div>
  <div class="review-author slider-text">- Peggy R.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/cream-2-5-fl-oz?variant=42753364951238">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Pain_Cream_FS_5000mg.png?v=1710943592" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
        <a href="/products/cream-2-5-fl-oz?variant=42753364951238">
          <p class="slide-product-name">5000mg CBD Pain Cream</p></a>
        </div>
    </div>
    <p>"I have had neck and shoulder pain for decades and have tried many products. R&R worked for me within a few days and is still working for me a couple of months later."</p>
  </div>
  <div class="review-author slider-text">- Daniel M.</div>
</div>