
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/cream-2-5-fl-oz?variant=42753364951238">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Pain_Cream_FS_5000mg.png?v=1710943592" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/cream-2-5-fl-oz?variant=42753364951238">
          <p class="slide-product-name">5000mg CBD Pain Cream</p></a>
        </div>
    </div>
    <p>"An amazing product. A little bit of R&R's CBD Pain Cream goes a long way. It has taken away nearly all of my chronic osteoarthritis pain. Just be sure to use it at least once a day and you will get the best results."</p>
  </div>
  <div class="review-author slider-text">- Mark P.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/thc-free-cbd-pain-cream?variant=42463610175686">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Pain_Cream_BS_1000mg.png?v=1710943592" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/thc-free-cbd-pain-cream?variant=42463610175686">
          <p class="slide-product-name">1000mg THC-Free CBD Pain Cream</p></a>
        </div>
    </div>
    <p>"I have arthritis, two types, and use the cream twice a day on my hands and feet. It enables me to do my needlework, gardening and shopping with less pain."</p>
  </div>
  <div class="review-author slider-text">- Martha M.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/cream-2-5-fl-oz?variant=37546462740678">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Pain_Cream_FS_1000mg.png?v=1710943592" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/cream-2-5-fl-oz?variant=37546462740678">
          <p class="slide-product-name">1000mg CBD Pain Cream</p></a>
        </div>
    </div>
    <p>"I have constant shoulder pain due to arthritis, which can be very debilitating at times. I have found the R&R pain relief cream to be more effective than others I have tried at managing this pain. I also love that it is not scented."</p>
  </div>
  <div class="review-author slider-text">- Arline R.</div>
</div>



<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/cream-2-5-fl-oz?variant=37546462740678">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Pain_Cream_FS_1000mg.png?v=1710943592" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/cream-2-5-fl-oz?variant=37546462740678">
          <p class="slide-product-name">1000mg CBD Pain Cream</p></a>
        </div>
    </div>
    <p>"100% resolution of pain! This product is better than anything else I have experienced!"</p>
  </div>
  <div class="review-author slider-text">- William B.</div>
</div>


<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/cream-2-5-fl-oz?variant=424614283511747">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Pain_Cream_FS_2500mg.png?v=1710943592" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/cream-2-5-fl-oz?variant=42461428351174">
          <p class="slide-product-name">2500mg CBD Pain Cream</p></a>
        </div>
    </div>
    <p>"Love this pain cream! Helps general aches and pains. I am on computer all day and it really helps my carpal tunnel and trigger finger. I apply every night at bedtime and sometimes in the morning. Plus it’s creamy and pretty odorless."</p>
  </div>
  <div class="review-author slider-text">- Cheryl D.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/cream-2-5-fl-oz?variant=42753364951238">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Pain_Cream_FS_5000mg.png?v=1710943592" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/cream-2-5-fl-oz?variant=42753364951238">
          <p class="slide-product-name">5000mg CBD Pain Cream</p></a>
        </div>
    </div>
    <p>"We tried this last year after my mother broke her hip. It seemed to help her, so I ordered a tube when I started having some back pain. Rubbed it on, the relief was obvious within the hour."</p>
  </div>
  <div class="review-author slider-text">- David Z.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/cream-2-5-fl-oz?variant=37546462740678">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Pain_Cream_FS_1000mg.png?v=1710943592" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/cream-2-5-fl-oz?variant=37546462740678">
          <p class="slide-product-name">1000mg CBD Pain Cream</p></a>
        </div>
    </div>
    <p>"I have been using the R&R cream for the arthritic pain in both of my feet. I rub some in well before bed. I love this stuff because in the morning I forget I have arthritis."</p>
  </div>
  <div class="review-author slider-text">- Courtney R.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/cream-2-5-fl-oz?variant=37546462740678">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Pain_Cream_FS_1000mg.png?v=1710943592" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/cream-2-5-fl-oz?variant=37546462740678">
          <p class="slide-product-name">1000mg CBD Pain Cream</p></a>
        </div>
    </div>
    <p>"I’ve used this product whenever I have soreness in my muscles but one day my daughter had a huge pain in her back that kept her from moving. After rubbing this in and massaging her back, she felt great relief! It was amazing. Keeps me playing pickleball at 78."</p>
  </div>
  <div class="review-author slider-text">- Lorraine H.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/cream-2-5-fl-oz?variant=42461428351174">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Pain_Cream_FS_2500mg.png?v=1710943592" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/cream-2-5-fl-oz?variant=42461428351174">
          <p class="slide-product-name">2500mg CBD Pain Cream</p></a>
        </div>
    </div>
    <p>"I use this cream on my lower back and hips where I have serious inflammatory arthritis. It really helps and when I use it at night, I think it helps me sleep."</p>
  </div>
  <div class="review-author slider-text">- Lynn E.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/cream-2-5-fl-oz?variant=42461428351174">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Pain_Cream_FS_2500mg.png?v=1710943592" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/cream-2-5-fl-oz?variant=42461428351174">
          <p class="slide-product-name">2500mg CBD Pain Cream</p></a>
        </div>
    </div>
    <p>"Six months after knee replacement I’m still rubbing this on at night to sleep. Its effects are amazing and I highly recommend it. I get 4-5 hours of relief which is great."</p>
  </div>
  <div class="review-author slider-text">- Sherry F.</div>
</div>



<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/cream-2-5-fl-oz?variant=42753364951238">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Pain_Cream_FS_5000mg.png?v=1710943592" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/cream-2-5-fl-oz?variant=42753364951238">
          <p class="slide-product-name">5000mg CBD Pain Cream</p></a>
        </div>
    </div>
    <p>"I have had neck and shoulder pain for decades and have tried many products. R&R worked for me within a few days and is still working for me a couple of months later."</p>
  </div>
  <div class="review-author slider-text">- Daniel M.</div>
</div>




<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/cream-2-5-fl-oz?variant=42753364951238">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Pain_Cream_FS_5000mg.png?v=1710943592" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/cream-2-5-fl-oz?variant=42753364951238">
          <p class="slide-product-name">5000mg CBD Pain Cream</p></a>
        </div>
    </div>
    <p>"I bought this for my boyfriend. He has very bad arthritis in his knee. He was very amazed at the results of the 2500 and thrilled with the results of the 5000."</p>
  </div>
  <div class="review-author slider-text">- Janine B.</div>
</div>


