<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/thc-free-softgels">
      <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Softgels_BS_30mg.png?v=1710943784" alt="" class="product-little-image"></a>
      <div class="top-right">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
        <a href="/products/thc-free-softgels">
        <p class="slide-product-name">30mg Multifunctional THC-Free CBD Softgels</p></a>
      </div>
  </div>
  <p>"These softgels are great. I love the gummies but sometimes I don't want the taste right before bed, so it's been really nice to have this option!"</p>
  </div>
<div class="review-author slider-text">- Kristi V.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/thc-free-tincture-fresh-mint?variant=39834283212998">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Tincure_BS_1000mg_FM.png?v=1710943950" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/thc-free-tincture-fresh-mint?variant=39834283212998">
          <p class="slide-product-name">1000mg Multifunctional THC-Free CBD Tincture</p></a>
        </div>
    </div>
    <p>"I have been struggling with going to sleep and staying asleep for several years! A friend told me about R&R and led me to this product, and I love it! It has changed my sleep in a wonderful way."</p>
    </div>
  <div class="review-author slider-text">- Sheila T.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/thc-free-cbd-pain-cream?variant=42463610175686">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Pain_Cream_BS_1000mg.png?v=1710943592" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/thc-free-cbd-pain-cream?variant=42463610175686">
          <p class="slide-product-name">1000mg Multifunctional THC-Free CBD Pain Cream</p></a>
        </div>
    </div>
    <p>"No hyperbole or glowing testimonial here. Simply, it works. Noticeably reduces, does not eliminate, my thumb joint arthritis pain. I also like the easy to apply, non greasy formulation."</p>
    </div>
  <div class="review-author slider-text">- Tony P.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/thc-free-gummies?variant=42727000604870">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/CLP_Thumbs_Gummies_BS_30mg_c3620350-d0d4-4954-a678-e60aece183ed.png?v=1707407883
" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/thc-free-gummies?variant=42727000604870">
          <p class="slide-product-name">60mg Multifunctional THC-Free CBD Gummies</p></a>
        </div>
    </div>
    <p>"Been using these for about a year now, they taste just like candy, so be careful :-) I use the Broad Spectrum and it is very effective to calm me. Customer service is top notch!"</p>
    </div>
  <div class="review-author slider-text">- Victor B.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/thc-free-tincture-fresh-mint?variant=39834283212998">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Tincure_BS_1000mg_FM.png?v=1710943950" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/thc-free-tincture-fresh-mint?variant=39834283212998">
          <p class="slide-product-name">1000mg Multifunctional THC-Free CBD Tincture</p></a>
        </div>
    </div>
    <p>"This brand has really helped me sleep and alleviate my chronic pain. I haven't needed to use any OTC pain medication for months. I sleep through the night and wake up rested. Highly recommend!"</p>
    </div>
  <div class="review-author slider-text">- Susan L.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/thc-free-gummies?variant=40473296928966">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_BS_30mg.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/thc-free-gummies?variant=40473296928966">
          <p class="slide-product-name">30mg Multifunctional THC-Free CBD Gummies</p></a>
        </div>
    </div>
    <p>"I have been using these gummies for quite some time now and find them great. I have had quite a few injuries and not only do they relieve the pain from these, but, I also find I sleep better."</p>
    </div>
  <div class="review-author slider-text">- Gwyneth J.</div>
</div>



<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/thc-free-softgels">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Softgels_BS_30mg.png?v=1710943784" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/thc-free-softgels">
          <p class="slide-product-name">30mg Multifunctional THC-Free CBD Softgels</p></a>
        </div>
    </div>
    <p>"I have used the THC-free CBD softgels daily since 2018 for my arthritic knees, and if I skip a day I definitely feel it! I had tried other brands, but R&R is the real deal and I've stayed with them because of the positive results."</p>
    </div>
  <div class="review-author slider-text">- Gail O.</div>
</div>



<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/thc-free-tincture-fresh-mint?variant=39834283212998">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Tincure_BS_1000mg_FM.png?v=1710943950" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/thc-free-tincture-fresh-mint?variant=39834283212998">
          <p class="slide-product-name">1000mg Multifunctional THC CBD Tincture</p></a>
        </div>
    </div>
    <p>"The R&R CBD tincture helps me with pain and arthritis, plus it helps me sleep. I only need one large dose each morning for maintenance. I highly recommend R&R."</p>
    </div>
  <div class="review-author slider-text">- Mark F.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/thc-free-gummies?variant=42727000604870">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/CLP_Thumbs_Gummies_BS_30mg_c3620350-d0d4-4954-a678-e60aece183ed.png?v=1707407883
" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/thc-free-gummies?variant=42727000604870">
          <p class="slide-product-name">60mg Multifunctional THC-Free CBD Gummies</p></a>
        </div>
    </div>
    <p>"These have helped me deal with work stress and anxiety. I take one after a rough work day and it helps me relax and sleep better. They also taste pretty good."</p>
    </div>
  <div class="review-author slider-text">- Torie Y.</div>
</div>


<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/thc-free-cbd-pain-cream?variant=42463610175686">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Pain_Cream_BS_1000mg.png?v=1710943592" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/thc-free-cbd-pain-cream?variant=42463610175686">
          <p class="slide-product-name">1000mg Multifunctional THC-Free CBD Pain Cream</p></a>
        </div>
    </div>
    <p>"I love R&R, and it has been a relief for me since I started it. Great Customer Service too, so thank you!"</p>
    </div>
  <div class="review-author slider-text">- Eileen F.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/thc-free-gummies?variant=42727000604870">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/CLP_Thumbs_Gummies_BS_30mg_c3620350-d0d4-4954-a678-e60aece183ed.png?v=1707407883
" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/thc-free-gummies?variant=42727000604870">
          <p class="slide-product-name">60mg Multifunctional THC-Free CBD Gummies</p></a>
        </div>
    </div>
    <p>"I’m pleased to say that the CBD gummies have gotten me through the pain I have had recovering from my total knee replacement. I feel less stressed as well. My rehabilitation for my knee went smoother since I felt less pain."</p>
    </div>
  <div class="review-author slider-text">- Rise H.</div>
</div>








<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/thc-free-softgels">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Softgels_BS_30mg.png?v=1710943784" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/thc-free-softgels">
          <p class="slide-product-name">30mg Multifunctional THC-Free CBD Softgels</p></a>
        </div>
    </div>
    <p>This product relieves almost all my arthritis pain in my hips. It's fantastic, with no side effects at all—thank you for providing this.</p>
    </div>
  <div class="review-author slider-text">- Anne V.</div>
</div>




