<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/tinctures?variant=29122588999733">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Tincure_FS_2500mg_FM.png?v=1710943950" alt="" class="product-little-image"></a>
        <div class="top-right">
                    <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/tinctures?variant=29122588999733">
          <p class="slide-product-name">2500mg Multifunctional CBD Tincture</p></a>
        </div>
    </div>
    <p>"This is a good, pure product which has helped me greatly with pain and the ability to sleep through the night. The customer service has been exceptional, which is a very rare thing these days."</p>
  </div>
  <div class="review-author slider-text">- Janet R.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/30mg-hemp-extract-gummies-vegan?variant=42726923010246">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_FS_60mg.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
                    <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
         <a href="/products/30mg-hemp-extract-gummies-vegan?variant=42726923010246">
          <p class="slide-product-name">60mg Multifunctional CBD Gummies</p></a>
        </div>
    </div>
    <p>"They work absolutely wonderful. They help my brain slow down so I can actually think straight. Aches and pains disappeared. Your product is AWESOME!!!! THANK YOU!!!"</p>
  </div>
  <div class="review-author slider-text">- Jeannie P.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/cream-2-5-fl-oz?variant=42461428351174">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Pain_Cream_FS_2500mg.png?v=1710943592" alt="" class="product-little-image"></a>
        <div class="top-right">
                    <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
         <a href="/products/cream-2-5-fl-oz?variant=42461428351174">
          <p class="slide-product-name">2500mg CBD Pain Cream</p></a>
        </div>
    </div>
    <p>"Love this pain cream! Helps general aches and pains. I am on computer all day and it really helps my carpal tunnel and trigger finger. I apply every night at bedtime and sometimes in the morning. Plus it’s creamy and pretty odorless."</p>
  </div>
  <div class="review-author slider-text">- Cheryl D.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/cbd-cbn-cbg-de-stress-gummies?variant=42853261148358">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_TAR_De-Stress.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
                    <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/cbd-cbn-cbg-de-stress-gummies?variant=42853261148358">
          <p class="slide-product-name">CBD De-Stress Gummies</p></a>
        </div>
    </div>
    <p>"I’ve been using these gummies for a few months and they work wonders for my overall stress and anxiety."</p>
  </div>
  <div class="review-author slider-text">- Zerrin K.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/cbd-cbg-pain-gummies?variant=42853255971014">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_TAR_Pain.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
                    <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
         <a href="/products/cbd-cbg-pain-gummies?variant=42853255971014">
          <p class="slide-product-name">CBD Pain Gummies</p></a>
        </div>
    </div>
    <p>"I started taking R&R CBD gummies last year, hoping I could move away from using Tylenol and Aleve for shoulder pain and discomfort from arthritis. It didn't take long to notice the relief that resulted from my experiment. It's also a relief to let go of OTC meds too."</p>
  </div>
  <div class="review-author slider-text">- Charles R.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/tincture-unflavored?variant=37618147262662">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Tincure_FS_2500mg_UF.png?v=1710943950" alt="" class="product-little-image"></a>
        <div class="top-right">
                    <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
         <a href="/products/tincture-unflavored?variant=37618147262662">
          <p class="slide-product-name">2500mg Multifunctional CBD Tincture</p></a>
        </div>
    </div>
    <p>"Had been suffering with sciatica pain for about 18 months. Tried physical therapy, prescription pain meds, stretching, etc. Tried half a dropper of 2500mg R&R Tincture at night, and the pain went away in less than a week."</p>
  </div>
  <div class="review-author slider-text">- Fred K.</div>
</div>





<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/25mg-cbd-5mg-cbn-sleep-gummies?variant=42710192783558">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_TAR_Sleep.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
                    <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
       <a href="/products/25mg-cbd-5mg-cbn-sleep-gummies?variant=42710192783558">
          <p class="slide-product-name">CBD Sleep Gummies</p></a>
        </div>
    </div>
    <p>"Best remedy for a good night sleep. I wake up feeling refreshed without the melatonin hangover. Tough sleeping through the night as I age and this seems to be the best solution."</p>
  </div>
  <div class="review-author slider-text">- Paul L.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/tinctures?variant=29122588999733">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Tincure_FS_2500mg_FM.png?v=1710943950" alt="" class="product-little-image"></a>
        <div class="top-right">
                    <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
         <a href="/products/tinctures?variant=29122588999733">
          <p class="slide-product-name">2500mg Multifunctional CBD Tincture</p></a>
        </div>
    </div>
    <p>"I use one dropper full of either the 1000mg or 2500mg potency and it really helps me to fall asleep. I do not feel groggy or drugged the next morning, just refreshed. I wish I had found this product years ago."</p>
  </div>
  <div class="review-author slider-text">- Mia H.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/30mg-hemp-extract-gummies-vegan?variant=42726923010246">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_FS_60mg.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
                    <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/30mg-hemp-extract-gummies-vegan?variant=42726923010246">
          <p class="slide-product-name">60mg Multifunctional CBD Gummies</p></a>
        </div>
    </div>
    <p>"Since my back surgery and total knee replacement I have taken CBD gummies 60mg for the past 1 1/2 years. I've pretty much stopped all other meds."</p>
  </div>
  <div class="review-author slider-text">- Donald R.</div>
</div>


<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/tincture-unflavored?variant=37618147262662">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Tincure_FS_2500mg_UF.png?v=1710943950" alt="" class="product-little-image"></a>
        <div class="top-right">
                    <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/tincture-unflavored?variant=37618147262662">
          <p class="slide-product-name">2500mg Multifunctional CBD Tincture</p></a>
        </div>
    </div>
    <p>"I’m a 73 year old woman and just this past weekend I was out shoveling snow. I have been taking CBD oil for over 10 years and I wouldn’t skip a day. This has helped me stay agile and limber and feeling much younger than most elderly women my age. I love it."</p>
  </div>
  <div class="review-author slider-text">- Antoinette L.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/cream-2-5-fl-oz?variant=42461428351174">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Pain_Cream_FS_2500mg.png?v=1710943592" alt="" class="product-little-image"></a>
        <div class="top-right">
                    <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
        <a href="/products/cream-2-5-fl-oz?variant=42461428351174">
          <p class="slide-product-name">2500mg CBD Pain Cream</p></a>
        </div>
    </div>
    <p>"Six months after knee replacement I’m still rubbing this on at night to sleep. Its effects are amazing and I highly recommend it. I get 4-5 hours of relief which is great."</p>
  </div>
  <div class="review-author slider-text">- Sherry F.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/tinctures?variant=29122588999733">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Tincure_FS_2500mg_FM.png?v=1710943950" alt="" class="product-little-image"></a>
        <div class="top-right">
                    <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
        <a href="/products/tinctures?variant=29122588999733">
          <p class="slide-product-name">2500mg Multifunctional CBD Tincture</p></a>
        </div>
    </div>
    <p>"The potency of this product is amazing. I can take less of this than other brands I've tried and have the same positive affect on my nausea and abdominal pain."</p>
  </div>
  <div class="review-author slider-text">- Chris F.</div>
</div>






