<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/tinctures?variant=29122588934197">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Tincure_BS_1000mg_FM.png?v=1710943950" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
           <a href="/products/tinctures?variant=29122588934197">
          <p class="slide-product-name">1000mg Multifunctional CBD Tincture</p></a>
        </div>
    </div>
    <p>"My overall mood has changed dramatically since I started taking CBD. Highly recommend giving it a try."</p>
    </div>
  <div class="review-author slider-text">- Matias W.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/tincture-unflavored?variant=37618147262662">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Tincure_FS_2500mg_UF.png?v=1710943950" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
      <a href="/products/tincture-unflavored?variant=37618147262662">
          <p class="slide-product-name">2500mg Multifunctional CBD Tincture</p></a>
        </div>
    </div>
    <p>"Had been suffering with sciatica pain for about 18 months. Tried physical therapy, prescription pain meds, stretching, etc. Tried half a dropper of 2500mg R&R Tincture at night, and the pain went away in less than a week."</p>
    </div>
  <div class="review-author slider-text">- Fred K.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/cbd-cbg-pain-gummies?variant=42853255971014">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_TAR_Pain.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
        <a href="/products/cbd-cbg-pain-gummies?variant=42853255971014">
          <p class="slide-product-name">CBD Pain Gummies</p></a>
        </div>
    </div>
    <p>"I've been using R&R CBD gummies to help with sleep issues for over a year now. I've got osteoarthritis in my knees. These gummies are great for when the NSAIDs don't do the job, plus they taste great."</p>
    </div>
  <div class="review-author slider-text">- Susan L.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/30mg-hemp-extract-gummies-vegan?variant=42726923010246">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/CLP_Thumbs_Gummies_BS_30mg_c3620350-d0d4-4954-a678-e60aece183ed.png?v=1707407883
" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/30mg-hemp-extract-gummies-vegan?variant=42726923010246">
          <p class="slide-product-name">60mg Multifunctional CBD Gummies</p></a>
        </div>
    </div>
    <p>"They work absolutely wonderful. They help my brain slow down so I can actually think straight. Aches and pains disappeared. Your product is AWESOME!!!! THANK YOU!!!"</p>
    </div>
  <div class="review-author slider-text">- Jeannie P.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/pet-tincture?variant=29122884665397">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Tincure_PET_500mg_UF.png?v=1710943950" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
           <a href="/products/pet-tincture?variant=29122884665397">
          <p class="slide-product-name">750mg Multifunctional Pet Tincture</p></a>
        </div>
    </div>
    <p>"I started out by giving my 14 year old lab R&R CBD Dog Chews which gave her great relief from her arthritis aches and pains. When I added the tincture to her daily regimen, I noticed an even greater improvement to her overall health and wellbeing."</p>
    </div>
  <div class="review-author slider-text">- Mary Z.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/cream-2-5-fl-oz?variant=37546462740678">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Pain_Cream_BS_1000mg.png?v=1710943592" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
         <a href="/products/cream-2-5-fl-oz?variant=37546462740678">
          <p class="slide-product-name">1000mg CBD Pain Cream</p></a>
        </div>
    </div>
    <p>"100% resolution of pain! This product is better than anything else I have experienced!"</p>
    </div>
  <div class="review-author slider-text">- William B.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/25mg-cbd-5mg-cbn-sleep-gummies?variant=42710192783558">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_TAR_Sleep.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
         <a href="/products/25mg-cbd-5mg-cbn-sleep-gummies?variant=42710192783558">
          <p class="slide-product-name">CBD Sleep Gummies</p></a>
        </div>
    </div>
    <p>"Good sleep is sometimes difficult for me. I tried these, not really expecting them to work but when I slept better the first night and then the second night, I knew I had found something that helps!"</p>
    </div>
  <div class="review-author slider-text">- Timothy I.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/thc-free-gummies?variant=40473296928966">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Gummies_BS_30mg.png?v=1710943149" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/thc-free-gummies?variant=40473296928966">
          <p class="slide-product-name">30mg Multifunctional THC-Free CBD Gummies</p></a>
        </div>
    </div>
    <p>"I love these gummies. Just what i need to get through my shift feeling content and calm."</p>
    </div>
  <div class="review-author slider-text">- Arlene J.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/tincture-unflavored?variant=37618147262662">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Tincure_FS_2500mg_UF.png?v=1710943950" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
         <a href="/products/tincture-unflavored?variant=37618147262662">
          <p class="slide-product-name">2500mg Multifunctional CBD Tincture</p></a>
        </div>
    </div>
    <p>"I’m a 73 year old woman and just this past weekend I was out shoveling snow. I have been taking CBD oil for over 10 years and I wouldn’t skip a day. This has helped me stay agile and limber and feeling much younger than most elderly women my age. I love it."</p>
    </div>
  <div class="review-author slider-text">- Antoinette L.</div>
</div>




<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/softgels?variant=29122871918645">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Softgels_BS_30mg.png?v=1710943784" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
          <a href="/products/softgels?variant=29122871918645">
          <p class="slide-product-name">30mg Multifunctional CBD Softgels</p></a>
        </div>
    </div>
    <p>"For me, this is perfect to take an hour or two before bed to calm and quiet my brain allowing me to naturally settle down before bedtime—and sleep more soundly."</p>
    </div>
  <div class="review-author slider-text">- Valerie A.</div>
</div>
<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/cream-2-5-fl-oz?variant=42753364951238">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Pain_Cream_FS_5000mg.png?v=1710943592" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
        <a href="/products/cream-2-5-fl-oz?variant=42753364951238">
          <p class="slide-product-name">5000mg Multifunctional CBD Pain Cream</p></a>
        </div>
    </div>
    <p>"An amazing product. A little bit of R&R's CBD Pain Cream goes a long way. It has taken away nearly all of my chronic osteoarthritis pain. Just be sure to use it at least once a day and you will get the best results."</p>
    </div>
  <div class="review-author slider-text">- Mark P.</div>
</div>

<div class="slide">
  <div class="top-section">
    <div class="slide-top-wrapper">
      <a href="/products/softgels?variant=29122871918645">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Quick_Add_Thumbs_Softgels_BS_30mg.png?v=1710943784" alt="" class="product-little-image"></a>
        <div class="top-right">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Stars_19393c8e-5f12-42da-99aa-e5225f7d0842.svg?v=1699396903" alt="" class="review-stars">
         <a href="/products/softgels?variant=29122871918645">
          <p class="slide-product-name">30mg Multifunctional CBD Softgels</p></a>
        </div>
    </div>
    <p>"I have been using R&R Softgels for the past few years to manage stress, sleep, and body pain. They work wonders. I have not found another CBD product that is as effective!"</p>
    </div>
  <div class="review-author slider-text">- Tessie B.</div>
</div>
