<div class="jc-hero-wrapper-faq">
    <div class="jc-hero-block-faq">
      <div class="jc-hero-heading-wrapper-faq">
        <h1 class="jc-hero-heading-faq">How can we help?</h1>
  
      </div>
      <div data-duration-in="300" data-duration-out="100" class="w-tabs">
        
        <div class="jc-tabs-menu-faq w-tab-menu">
          <a data-w-tab="Tab 1" class="jc-tab-menu-link-faq w-inline-block w-tab-link w--current">
            <h4 class="jc-product-section-heading no-margin large center" >Getting Started</h4>
          </a>
          <a data-w-tab="Tab 2" class="jc-tab-menu-link-faq w-inline-block w-tab-link">
            <h4 class="jc-product-section-heading no-margin large center" >Managing Your Subscription</h4>
          </a>

          <div class="full-width-underline"></div>
        </div>
  
  
        <div class="w-tab-content">
  
          <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
            <div class="tab-content-inner-faq">
              <div class="jc-faq-page-content-wrapper">

                <div class="jc-faq-content-block">
                    <div class="jc-faq-content-heading-wrapper" data-ix="faq-expand">
                      <div class="jc-faq-content-heading">Why should I choose the Subscribe & Save option?</div>
                      <div class="jc-faq-open-btn">+</div>
                    </div>
                    <div class="jc-faq-expand-wrapper">
                      <div class="jc-faq-expand-block">
                        <p class="jc-faq-expand-text">Our Subscribe & Save subscription is designed to allow you to receive your favorite R&R product(s) without going through the ordering process each time. You'll have the peace of mind knowing your hemp extract will show up at your door when you need it. Plus, you receive a 20% off discount on your initial order and all subsequent orders! You can enjoy our Subscribe & Save program without a long-term commitment. We give you the ability to swap out products, skip an order, or cancel at any time.</p>
                      </div>
                    </div>
                  </div>
                  <div class="jc-faq-content-block">
                    <div class="jc-faq-content-heading-wrapper" data-ix="faq-expand">
                      <div class="jc-faq-content-heading">How do I sign up for Subscribe & Save?</div>
                      <div class="jc-faq-open-btn">+</div>
                    </div>
                    <div class="jc-faq-expand-wrapper">
                      <div class="jc-faq-expand-block">
                        <p class="jc-faq-expand-text">To subscribe to a product, select the "Subscribe & Save" button on any applicable product page. Once you select the “Subscribe & Save” option, simply choose your frequency, and add to cart.</p>
                      </div>
                    </div>
                  </div>
                  <div class="jc-faq-content-block">
                    <div class="jc-faq-content-heading-wrapper" data-ix="faq-expand">
                      <div class="jc-faq-content-heading">Do I save any money with Subscribe & Save?</div>
                      <div class="jc-faq-open-btn">+</div>
                    </div>
                    <div class="jc-faq-expand-wrapper">
                      <div class="jc-faq-expand-block">
                        <p class="jc-faq-expand-text">Yes! You save 20% on your initial Subscribe & Save order and 20% on each subsequent order.</p>
                      </div>
                    </div>
                  </div>
                  
                  <div class="jc-faq-content-block jc-faq-content-block-last">
                    <div class="jc-faq-content-heading-wrapper" data-ix="faq-expand">
                      <div class="jc-faq-content-heading">How long does my product take to ship? How can I track my package?</div>
                      <div class="jc-faq-open-btn">+</div>
                    </div>
                    <div class="jc-faq-expand-wrapper">
                      <div class="jc-faq-expand-block">
                        <p class="jc-faq-expand-text">Any Subscribe & Save order placed in the U.S. will ship free! If you’re in the U.S., please allow 1-2 days to process the order, then 3-5 days for the product to arrive. You may track your shipment through the shipping confirmation email received after your purchase; simply click the link with the tracking info provided. Shipping speeds will vary for international orders.</p>
                      </div>
                    </div>
                  </div>

                
  
  
              </div>
            </div>
          </div> <!-- /////////// END  Tab 1 END ///////// -->
  
          <div data-w-tab="Tab 2" class="w-tab-pane">
            <div class="tab-content-inner-faq">
              <div class="jc-faq-page-content-wrapper">


                <div class="jc-faq-page-content-block">
                    <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
                      <div class="jc-faq-page-content-heading">How do I update or change my payment information?</div>
                                          <div class="jc-faq-page-open-btn">
                      <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
                    </div>
                    </div>
                    <div class="jc-faq-page-expand-wrapper">
                      <div class="jc-faq-page-expand-block">
                        <ol>
                        <li class="jc-faq-page-expand-text"><a class="link dark" href="/account/login">Log in</a> or <a class="link dark" href="/account/register">create an account</a> using the same email address you used at checkout.</li>
                        <li class="jc-faq-page-expand-text">Select <strong>Manage Subscriptions</strong>.</li>
                        <li class="jc-faq-page-expand-text">Select <strong>Manage Payment Methods</strong>.</li>
                        <li class="jc-faq-page-expand-text">To add a new card, select <strong>Add Payment Method</strong> and then select <strong>Send Edit Payment Link</strong> to receive a secure link to add your new card via email.</li>
                        <li class="jc-faq-page-expand-text">From your email, click on <strong>Confirm payment information</strong> to be redirected to our secure payment screen.</li>
                        </ol>
                       </div>
                    </div>
                  </div>
            
            
                  <div class="jc-faq-page-content-block">
                    <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
                      <div class="jc-faq-page-content-heading">How do I redeem rewards points on my upcoming subscription?</div>
                                          <div class="jc-faq-page-open-btn">
                      <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
                    </div>
                    </div>
                    <div class="jc-faq-page-expand-wrapper">
                      <div class="jc-faq-page-expand-block">
                        <ol>
                        <li class="jc-faq-page-expand-text"><a class="link dark" href="/account/login">Log in</a> or <a class="link dark" href="/account/register">create an account</a> using the same email address you used at checkout.</li>
                        <li class="jc-faq-page-expand-text">Select <strong>Redeem Your Points</strong>. Then, select <strong>Ways to Redeem</strong>.</li>
                        <li class="jc-faq-page-expand-text">Locate your desired coupon with “<strong>subscription purchase</strong>” in the name. Select <strong>View</strong>, then <strong>Redeem</strong>, then copy the coupon code.</li>
                        <li class="jc-faq-page-expand-text">From the <strong>Manage Subscriptions</strong> page, select <strong>Add Discount</strong> located above shipping and taxes. </li>
                        <li class="jc-faq-page-expand-text">Your discount amount will display beneath your product details. Note that it will apply to your next shipment only.</li>
                        </ol>
                       </div>
                    </div>
                  </div>
            
                  <div class="jc-faq-page-content-block">
                    <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
                      <div class="jc-faq-page-content-heading">How do I add a one-time or additional subscription product to my recurring shipment? </div>
                                          <div class="jc-faq-page-open-btn">
                      <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
                    </div>
                    </div>
                    <div class="jc-faq-page-expand-wrapper">
                      <div class="jc-faq-page-expand-block">
                        <ol>
                        <li class="jc-faq-page-expand-text"><a class="link dark" href="/account/login">Log in</a> or <a class="link dark" href="/account/register">create an account</a> using the same email address you used at checkout.</li>
                        <li class="jc-faq-page-expand-text">Select <strong>Manage Subscriptions</strong>.</li>
                        <li class="jc-faq-page-expand-text">Choose your product from the <strong>You May Also Like</strong> section or select <strong>Browse All Products</strong>. </li>
                        <li class="jc-faq-page-expand-text">Select <strong>Add</strong> and choose potency, quantity, and <strong>One-Time</strong> or <strong>Subscription</strong>.</li>
                        <li class="jc-faq-page-expand-text"><strong>Your Next Order</strong> will display your new one-time or subscription product listed with your next shipment.</li>
                        </ol>
                       </div>
                    </div>
                  </div>
            
                  <div class="jc-faq-page-content-block">
                    <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
                      <div class="jc-faq-page-content-heading">How do I remove a one-time product from my subscription?</div>
                                          <div class="jc-faq-page-open-btn">
                      <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
                    </div>
                    </div>
                    <div class="jc-faq-page-expand-wrapper">
                      <div class="jc-faq-page-expand-block">
                        <ol>
                        <li class="jc-faq-page-expand-text"><a class="link dark" href="/account/login">Log in</a> or <a class="link dark" href="/account/register">create an account</a> using the same email address you used at checkout.</li>
                        <li class="jc-faq-page-expand-text">Select <strong>Manage Subscriptions</strong>.</li>
                        <li class="jc-faq-page-expand-text">Locate the one-time product in your next order details with the <strong>One-Time</strong> tag. Select Manage this Product. </li>
                        <li class="jc-faq-page-expand-text">Customize your shipment by rescheduling your one-time product or selecting <strong>Remove Product</strong>.</li>
                        <li class="jc-faq-page-expand-text">Your one-time product will show as removed in <strong>Your Next Order</strong> details.</li>
                        </ol>
                       </div>
                    </div>
                  </div>
            
                  <div class="jc-faq-page-content-block">
                    <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
                      <div class="jc-faq-page-content-heading">How do I manage the frequency of my order or change my order date?</div>
                                          <div class="jc-faq-page-open-btn">
                      <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
                    </div>
                    </div>
                    <div class="jc-faq-page-expand-wrapper">
                      <div class="jc-faq-page-expand-block">
                        <ol>
                        <li class="jc-faq-page-expand-text"><a class="link dark" href="/account/login">Log in</a> or <a class="link dark" href="/account/register">create an account</a> using the same email address you used at checkout.</li>
                        <li class="jc-faq-page-expand-text">Select <strong>Manage Subscriptions</strong>.</li>
                        <li class="jc-faq-page-expand-text">Select <strong>Reschedule</strong> and select your preference.</li>
                        <li class="jc-faq-page-expand-text">If you’d like to update the frequency, select <strong>Manage this Subscription</strong>. Choose the frequency you’d like to update your subscription to and select <strong>Save Changes</strong>.</li>
                        <li class="jc-faq-page-expand-text">You can also speed up your next delivery by selecting the <strong>Send Now</strong> option located beneath your next order date. </li>
                        </ol>
                       </div>
                    </div>
                  </div>
            
                  <div class="jc-faq-page-content-block">
                    <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
                      <div class="jc-faq-page-content-heading">How do I skip a shipment for my subscription?</div>
                                          <div class="jc-faq-page-open-btn">
                      <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
                    </div>
                    </div>
                    <div class="jc-faq-page-expand-wrapper">
                      <div class="jc-faq-page-expand-block">
                        <ol>
                        <li class="jc-faq-page-expand-text"><a class="link dark" href="/account/login">Log in</a> or <a class="link dark" href="/account/register">create an account</a> using the same email address you used at checkout.</li>
                        <li class="jc-faq-page-expand-text">Select <strong>Manage Subscriptions</strong>.</li>
                        <li class="jc-faq-page-expand-text">Locate Your Next Order details and select <strong>Skip</strong>. </li>
                        <li class="jc-faq-page-expand-text"><strong>Your Next Order</strong> details will show your order as skipped with your new ship date reflected.</li>
                        </ol>
                       </div>
                    </div>
                  </div>
            
                  <div class="jc-faq-page-content-block">
                    <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
                      <div class="jc-faq-page-content-heading">How do I cancel my subscription?</div>
                                          <div class="jc-faq-page-open-btn">
                      <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Small_f327a3c2-807c-4558-9927-095f69473f2b.svg?v=1702595086" alt="" class="plus-icon">
                    </div>
                    </div>
                    <div class="jc-faq-page-expand-wrapper">
                      <div class="jc-faq-page-expand-block">
                        <ol>
                        <li class="jc-faq-page-expand-text">Don’t go! If you must, however, we understand that needs change. To cancel your subscription, <a class="link dark" href="/account/login">Log in</a> or <a class="link dark" href="/account/register">create an account</a> using the same email address you used at checkout.</li>
                        <li class="jc-faq-page-expand-text">Select <strong>Manage Subscriptions</strong>.</li>
                        <li class="jc-faq-page-expand-text">Select <strong>Cancel Subscription</strong> at the bottom of the page.</li>
                        <li class="jc-faq-page-expand-text">Your canceled subscription will populate under <strong>Inactive Subscriptions</strong> where you can reactivate it at any time.</li>
                        </ol>
                       </div>
                    </div>
                  </div>
                
  
                
              </div>
            </div>
          </div>
          </div>
          <!-- /////////// END  Tab 2 END ///////// -->
  

  
  
          
        </div>
      </div>
    </div>
  </div>