<html data-wf-page="660193b230b188ea7ae9280d" data-wf-site="62d7331e2672d697b84370db">

  {{ 'jc-custom-recharge.css' | asset_url | stylesheet_tag }}
{{ 'section-home-page.css' | asset_url | stylesheet_tag }}



<section class="home-hero">
    <div class="hero-image">
      <div class="hero-text-wrapper">
        <h1 class="hero-heading">Targeted Solutions for <em>Better</em> Relief</h1>
        <div class="max-332">
          <p>Functional Gummies for whatever you need to overcome.</p>
        </div>
        <a href="/collections/functional-gummies" class="white-button-w-button w-inline-block">
          <div>SHOP FOR YOUR CONCERNS</div>
        </a>
      </div>
    </div>
  </section>
  <section class="featured-logos"><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/4bdc80c86f5315ca8ede0db88be17dfb.gif" loading="lazy" alt="" class="mobile-gif">
    <div class="logos-inner">
      <div class="sub-heading">FEATURED IN</div>
      <div class="logos-wrapper"><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Vector-8.svg?v=1711733009" loading="lazy" alt="" class="seen-in-logo"><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/e6HlOm.svg" loading="lazy" alt="" class="seen-in-logo"><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/w0XGrF_tif.svg?v=1711733131" loading="lazy" alt="" class="seen-in-logo"><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Group-2.svg" loading="lazy" alt="" class="seen-in-logo"><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Vector_270069b4-e762-4183-a895-7798a80a3692.svg?v=1711733130" loading="lazy" alt="" class="seen-in-logo">
      
      <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/SINGLE-PAGE-Mobile-SI-English_d9aeb914-1c42-489d-aca8-2e062df73ec5.svg?v=1711733509" loading="lazy" alt="" class="seen-in-logo">
      
      <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Group-1_00bda3bf-965e-49be-a1eb-c31fe47fc9e9.svg?v=1711733539" loading="lazy" alt="" class="seen-in-logo">
      
      <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Group.svg" loading="lazy" alt="" class="seen-in-logo">
      
      </div>
    </div>
  </section>
  <section class="section tan">
    <div class="shop-by-function-inner">
      <h1 class="section-heading">Products That Suit Your Needs</h1>
      {% comment %}
        
        <h4 class="sub-text" >Products that Perfectly Suit Your Needs</h4>
      {% endcomment %}
      <div class="shop-button-wrapper">

        <a href="/collections/pain" class="shop-card orange">
          <div class="top-wrapper">
            <h1 class="white-heading">Pain</h1>
          </div>
          <div class="bottom-wrapper">
            <div class="icon-wrapper">
              {% render 'pain-icon' %}
              </div>
            <div>Ease discomfort.</div>
          </div>
        </a>

        <a href="/collections/stress" class="shop-card green">
          <div class="top-wrapper _2">
            <h1 class="white-heading">Stress</h1>
          </div>
          <div class="bottom-wrapper">
            <div class="icon-wrapper green">
              {% render 'stress-icon' %}
            </div>
            <div>Feel calm.</div>
          </div>
        </a>

        <a href="/collections/sleep" class="shop-card blue">
          <div class="top-wrapper _3">
            <h1 class="white-heading">Sleep</h1>
          </div>
          <div class="bottom-wrapper">
            <div class="icon-wrapper blue">
              {% render 'sleep-icon' %}
            </div>
            <div>Awaken refreshed.</div>
          </div>
        </a>

        <a href="/collections/multifunctional" class="shop-card dark-green">
          <div class="top-wrapper _4">
            <h1 class="white-heading">Multi</h1>
          </div>
          <div class="bottom-wrapper">
            <div class="icon-wrapper dark-green">
              {% render 'multi-icon' %}
            </div>
            <div>The all-in-one.</div>
          </div>
        </a>

        <a href="/collections/pet-products" class="shop-card light-blue">
          <div class="top-wrapper _5">
            <h1 class="white-heading">Pets</h1>
          </div>
          <div class="bottom-wrapper">
            <div class="icon-wrapper light-blue">
              {% render 'pet-icon' %}
            </div>
            <div>Relief they need.</div>
          </div>
        </a>

      </div>
    </div>
  </section>

  <div class="mobile-bar">

    {% render 'logo-slider' %}
    </div>


  <section class="section-mobile-green">
    <div class="spd-wrapper no-padding-left no-margin-left no-padding-right-mobile">
      <div class="flex-wrapper center mobile-wrap">
        <div class="inner-50 padding-top left">
          <div class="rounded-image-wrapper mobile-full"><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/get_your_life_back_Main_Image_V3.jpg?v=1714676865" loading="lazy" alt="" class="image-rounded-top-right"></div>
        </div>
        <div class="inner-50 flex-end">
          <div class="right-inner-wrapper _575">
            <div class="heading-wrapper desktop">
              <h1 class="section-heading margin-bottom-20">Get Your Life Back</h1>
              <p>Don’t give in to pain, stress, and sleep issues even if nothing you’ve tried has worked. We’ll help you find transformative relief that will get you feeling like you again.*</p>
            </div>
            <div class="heading-wrapper spd-mobile">
              <h1 class="section-heading dark-green no-margin-bottom">Get Your<br> Life Back</h1>

              {% comment %}
                <h1 class="section-heading dark-green margin-top-10"></h1>
              {% endcomment %}

              <p>Don’t give in to pain, stress, and sleep issues even if nothing you’ve tried has worked. We’ll help you find transformative relief that will get you feeling like you again.*</p>
            </div>
            <div class="flex-wrapper gap-30 vertical margin-top-58">
              <div class="flex-wrapper gap-30 mobile-feature-card">
                <div class="feature-image-wrapper _1"></div>
                <div class="feature-bottom-text-mobile">
                  <h4 class="section-sub-heading no-margin-top">Nearly Instantaneous Results.</h4>
                  <p>Especially when taken consistently, CBD can deliver life-changing results in as little as 5 minutes by interacting naturally with receptors in your body.*</p>
                </div>
              </div>
              <div class="flex-wrapper gap-30 mobile-feature-card">
                <div class="feature-image-wrapper _2"></div>
                <div class="feature-bottom-text-mobile">
                  <h4 class="section-sub-heading no-margin-top">No Harsh Side Effects, Ever.</h4>
                  <p>It isn’t a solution if it causes unpleasant side effects. CBD is your natural alternative to pharmaceutical drugs and over-the-counter medications.*</p>
                </div>
              </div>
              <div class="flex-wrapper gap-30 mobile-feature-card">
                <div class="feature-image-wrapper _3"></div>
                <div class="feature-bottom-text-mobile">
                  <h4 class="section-sub-heading no-margin-top">99.7% Success Rate.</h4>
                  <p>Our industry-leading formulations have helped thousands overcome even the most stubborn cases of stress, pain, and sleep problems.*</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="desktop-bar">

    {% render 'logo-slider' %}
    </div>


    
  <section class="slider-section home">

  <div class="mobile-slider-image-wrapper">

    <div class="slider-image-inner">
      <h1 class="section-heading white">Change Your Life With Our</h1>
      <h1 class="section-heading dark-green">Best Sellers</h1>
    </div>

    <style>
      @media screen and (max-width: 991px) {
      .slider-image-inner{
          max-width: none;
      }
      }
      @media screen and (max-width: 767px) {
        .slider-image-inner{
          max-width: 310px;
      }
      }
    </style>
  </div>



    <div id="home-slider" class="spd-wrapper">

    <div class="heading-wrapper-center flex mobile-hidden">

      <button class="scroll-btn slider-btn left-collection-arrow home"><img
        src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Group_420.svg?v=1709226622"
        alt="" class="right-icon-arrow"></button>

      <h1 class="section-heading">Change Your Life With Our Best Sellers</h1>

      <button class="scroll-btn slider-btn right-collection-arrow home"><img
      src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Group_420.svg?v=1709226622"
      alt="" class="right-icon-arrow"></button>
    </div>


    {% render 'product-slider-home', collection_handle: 'homepage-best-sellers' %}


      
    </div>
  </section>
  <section class="section green">
    <div class="spd-wrapper no-padding-right no-padding-left mission">
      <div class="flex-wrapper center padding-top-133 padding-bottom-132">

      {% comment %}
        
        <div class="mission-mobile-image"><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/b4cb95c42cefb006fcbaccbd9890ee3a_bde990be-3c63-4b10-b082-5d1b3bf1c3f0.jpg?v=1711989911" loading="lazy"  alt=""></div>
      {% endcomment %}

        <div class="inner-50 padding-right-20 left-60">
          <div class="right-inner-wrapper _489">
            <div class="heading-wrapper">
              <h1 class="section-heading dark-green no-margin-top">Our Mission is Your Well-Being</h1>
              <h4 class="section-sub-header">We’re three close friends dedicated to helping people feel their best.</h4>
              <p>After experiencing the miraculous benefits of CBD in our own lives, we found our calling in sharing this incredible plant-based solution with as many people as possible.<br><br>R&amp;R is a military term meaning rest and relaxation. As a veteran-owned company, we chose this term to guide how we want our customers to feel in their bodies and minds. We’re striving towards a world where no one lives with discomfort that prevents them from living their best lives–and this world is possible thanks to CBD.</p>
              
              <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Signature_VECTOR-01.svg?v=1713203197" loading="lazy"  alt="" class="signature-image">
              <p style="margin-bottom: 0px; font-size: 14px; font-weight: 500; magrin-top: 10px; letter-spacing: 2px;">R&R CO-FOUNDERS</p>

            </div>
          </div>
        </div>
        <div class="inner-50 padding-top center">
          <div class="multi-image-wrapper">
            

          {% comment %}
            
       
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/31b399269490696ad07847473b8b9cbe.jpg?v=1711650850" loading="lazy" alt="" class="image-rounded-top-right no-radius mobile-show">
          
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/29ce0466dfb7ab7792dda2f176c3964d.jpg?v=1714687804" loading="lazy" alt="" class="image-rounded-top-right no-radius mobile-hidden">
   {% endcomment %}

            <div class="multi-image-button-wrapper">
              <a href="/pages/about" class="rounded-button primary no-margin-top">READ OUR STORY</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



{% comment %}
  
  {% include 'collection-product-flyout-pdp'%}
{% endcomment %}
{% include 'collection-product-flyout-current'%}
 

{% schema %}
{
  "name": "Home Page",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
  ],
  "presets": [
    {
      "name": "Home Page"
    }
  ]
}
{% endschema %}
