<!-- /templates/404.liquid -->
<div class="jc-404-page-wrapper">
  <div class="jc-404-container">
	<header class="section-header section-header--404 text-center">
	  <h1 class="jc-section-heading">404 Page Not Found</h1>
	  <hr class="hr--small">
	  <p class="jc-404-text">The page you were looking for does not exist. <a class="jc-hero-contact-text-link green" href="/collections/all">Click here</a> to continue shopping.</p>
	</header>
  </div>
</div>
