
<div class="jc-disclaimer-wrapper-products quiz home">
  <div class="wrapper-outter padded">

    <div class="heading-wrapper center max-450">
      <h1 class="section-heading max-360 h1-new">Find Your Perfect CBD Solution</h1>

      <div class="max-485">

        <p class="p-smaller" >Let us help you discover a tailored CBD routine to address all of your concerns and fit seamlessly into your lifestyle.</p>
      </div>


      <a href="#" class=" rounded-button primary" style="margin-top: 25px; display: block; min-width: 241px; width:fit-content; margin-right: auto;
      margin-left: auto;">
              <h4 class="collection-link-text">GET STARTED</h4>
            </a>

            <div class="om-embedded-campaign" data-campaign-id="29"></div>

      <a href="#" id="open-modal-1" class="black-link">Schedule a Consultation</a>
      </div>
  </div>
</div>


{% schema %}
  {
    "name": "Quiz Section Home",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      
    ],
    "presets": [
      {
        "name": "Quiz Section Home"
      }
    ]
  }
  {% endschema %}
  
