
<div class="jc-disclaimer-wrapper-products quiz">
  <div class="wrapper-outter padded">

    <div class="heading-wrapper center max-400">
      <h1 class="max-360 h1-new">Not Sure Where to Start?</h1>

      <div class="max-485">

        <p class="p-smaller" >Lorem ipsum dolor sit amet, consectetur tge adipiscing elit, sed do eiusmod tempor incid ut labore et dolore magna aliqua dolore. </p>
      </div>


      <a href="#" class=" rounded-button primary" style="margin-top: 25px; display: block; min-width: 241px; width:fit-content; margin-right: auto;
      margin-left: auto;">
              <h4 class="collection-link-text">TAKE QUIZ</h4>
            </a>

            <div class="om-embedded-campaign" data-campaign-id="29"></div>

      <a href="#" id="open-modal-1" class="black-link">Schedule a Consultation</a>
      </div>
  </div>
</div>


{% schema %}
  {
    "name": "Quiz Section",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      
    ],
    "presets": [
      {
        "name": "Quiz Section"
      }
    ]
  }
  {% endschema %}
  
