<section class="section-padded section-green">
    <div class="spd-wrapper">
      <div class="heading-wrapper center margin-bottom-36">
        <h1 class="section-heading no-margin-top">The CBD That Works™</h1>
        <h4 class="sub-text mobile-max-230">Discover why we’re a cut above.</h4>
      </div>
      <div class="category-wrapper row">
        <div class="three-card-container">
          <div class="feature-card">
            <div class="feature-top-image _1"></div>
            <div class="feature-bottom-text">
              <h3 class="sub-text no-margin-top mobile-larger">USDA-Certified Organic Hemp</h3>
              <p>We’ve selected a superior, genetically unique strain of hemp with a robust cannabinoid, terpene, and flavonoid profile and work with local family farms to grow USDA-certified organic crops.</p>
            </div>
          </div>
          <div class="feature-card">
            <div class="feature-top-image _2"></div>
            <div class="feature-bottom-text">
              <h3 class="sub-text no-margin-top mobile-larger">Always Third-Party Tested</h3>
              <p>Our CBD extract is always third-party tested for potency, purity, and safety to ensure you experience the transformation you deserve.</p>
            </div>
          </div>
          <div class="feature-card">
            <div class="feature-top-image _3"></div>
            <div class="feature-bottom-text">
              <h3 class="sub-text no-margin-top mobile-larger">Expert Formulation</h3>
              <p>We assembled a world-class team of scientists, doctors, chemists, and others to develop and share our unique products with the world.</p>
            </div>
          </div>
        </div>
        <div class="center-button-wrapper">
          <a href="/collections/all-products" class="rounded-button primary no-margin-top">Experience the Best</a>
        </div>
      </div>
    </div>
  </section>







{% schema %}
  {
    "name": "Feature Cards",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
    ],
    "presets": [
      {
        "name": "Feature Cards"
      }
    ]
  }
  {% endschema %}
  