<section>
  <div data-poster-url="https://uploads-ssl.webflow.com/62d7331e2672d697b84370db/66043fdc49386dfba808dced_VIDEO BKG Money Back Guarantee_Compressed-poster-00001.jpg" data-video-urls="https://uploads-ssl.webflow.com/62d7331e2672d697b84370db/66043fdc49386dfba808dced_VIDEO BKG Money Back Guarantee_Compressed-transcode.mp4,https://uploads-ssl.webflow.com/62d7331e2672d697b84370db/66043fdc49386dfba808dced_VIDEO BKG Money Back Guarantee_Compressed-transcode.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" class="background-video w-background-video w-background-video-atom"><video id="084ee1eb-fb43-3596-7c7b-5e9b8e3c3fec-video" autoplay="" loop="" poster="https://uploads-ssl.webflow.com/62d7331e2672d697b84370db/66043fdc49386dfba808dced_VIDEO BKG Money Back Guarantee_Compressed-poster-00001.jpg" style="background-image:url(&quot;https://uploads-ssl.webflow.com/62d7331e2672d697b84370db/66043fdc49386dfba808dced_VIDEO BKG Money Back Guarantee_Compressed-poster-00001.jpg&quot;)" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
      <source src="https://uploads-ssl.webflow.com/62d7331e2672d697b84370db/66043fdc49386dfba808dced_VIDEO BKG Money Back Guarantee_Compressed-transcode.mp4" data-wf-ignore="true">
      <source src="https://uploads-ssl.webflow.com/62d7331e2672d697b84370db/66043fdc49386dfba808dced_VIDEO BKG Money Back Guarantee_Compressed-transcode.webm" data-wf-ignore="true">
    </video>
    <div class="video-text-wrapper">
      <div class="top-green-block">
        <h1 class="section-heading green-yellow no-margin-bottom mobile-larger">99.7%</h1>
      </div>
      <h1 class="section-heading video-heading">Of Customers Experience Results</h1>
      <p class="margin-bottom-41">We know you’ll love our products–that’s why our <span class="text-span">Money-Back Guarantee gives you </span><span class="text-span-2">60 days</span> to try them out. Life is stressful enough: we make sure your relief journey isn’t.</p>
      <a href="/collections/all-products" class="rounded-button primary white-btn no-margin-top">SHOP WITH EASE</a>
    </div>
  </div>
</section>



{% schema %}
  {
    "name": "Video Background",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
    ],
    "presets": [
      {
        "name": "Video Background"
      }
    ]
  }
  {% endschema %}
  