 <div class="jc-meta-page-wrapper">
      <div class="w-container">
        <h1 class="jc-section-heading">{{ page.title }}</h1>
        <div class="jc-content-wrapper-meta rte">
          {{ page.content }}
        </div>
      </div>
</div>

<style>
p a{
  color: #99bcb8;
}
p a:hover{
  color: #99bcb8;
}
color: #004943;
</style>