<div style="padding-top: 100px;" class="rte jc-page-content-rte">
  {% comment %}
    
    {{ page.content }}
  {% endcomment %}

        <div class="yotpo-widget-instance" data-yotpo-instance-id="523282"></div>
</div>



<div class="jc-hero-bottom-wrapper-referrals">
        <div class="jc-hero-bottom-container-referrals">
          <h2 class="jc-main-heading medium center">How It Works</h2>
          <div class="jc-hero-list-wrapper-referrals">
            <div class="jc-hero-list-item-referrals">
                <img class="number-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Number_1.svg?v=1718119152">
              <p class="jc-content-text-works">Enter your email address above, then click “Next”.</p>
            </div>
            <div class="jc-hero-list-item-referrals">
                <img class="number-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Number_2.svg?v=1718119152">
              <p class="jc-content-text-works">Enter the email address of the person you’d like to refer and click “Submit”. </p>
            </div>
            <div class="jc-hero-list-item-referrals">
                <img class="number-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Number_3.svg?v=1718119152">
              <p class="jc-content-text-works">You can also share your unique referral code via text message. Just copy your code under “More Ways to Share” and send it in a message to the person you’re referring. </p>
            </div>
            <div class="jc-hero-list-item-referrals">
                <img class="number-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Number_4.svg?v=1718119152">
              <p class="jc-content-text-works">Once the person you refer purchases any R&R product with their discount code, you’ll automatically earn 500 points ($25) you can redeem on your next order.</a></p>
            </div>
            <div class="jc-hero-list-item-referrals">
              <img class="number-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Number_5.svg?v=1718119152">
            <p class="jc-content-text-works">Our Referral Program is unlimited! Refer as many friends as you’d like and get 500 points ($25) with every new referral who places an order.</a></p>
          </div>

            <div class="jc-disclaimer-text-works-wrapper">

 			<div>
            <p class="jc-disclaimer-text-works vet"><em>If you or your friend have not received an email with the discount code/link, please check your spam/junk folder. Valid while supplies last. Can be combined with Subscribe & Save discounts for one order only.</em></p>
                        </div>
          </div>	        
          </div>
        </div>
  </div>






  <div class="wrapper-outter mobile-only">
    <div class="guarentee-wrapper referral">
        <div class="jc-risk-content-wrapper full with-padding refferal">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-referrals_AST_hemp_plant.jpg?v=1658784317" alt="" class="jc-risk-free-img-big referral">
        </div>
        <div class="jc-risk-content-wrapper text referrals">
          <div class="guarentee-text-wrapper">
              <h1 class="jc-section-heading">This program won't work if:</h1>
          </div>
          <div class="bullet-container">
            <div class="green-dot-wrapper">
              <div class="green-dot"></div>
            </div>
              <p class="paragraph-text">The IP address is the same for both email accounts (this is built into the system to prevent fraudulent activity).  For instance, two people using the same computer would most likely prevent the code from working.</p>
        </div>

            <div class="bullet-container">
                    <div class="green-dot-wrapper">
                    <div class="green-dot "></div>
            </div>
                        <p class="paragraph-text">One user is using two different email addresses for the same person; this is not allowed as it is not a true referral.</p>
                    
              </div>

              <div class="bullet-container">
                    <div class="green-dot-wrapper">
                    <div class="green-dot"></div>
            </div>
                        <p class="paragraph-text">If two users are on the same computer, cookies may be preventing redemption. Have one user try on a different device, like a smartphone.</p>
                    
              </div>

              <div class="bullet-container">
                    <div class="green-dot-wrapper">
                    <div class="green-dot"></div>
            </div>
                        <p class="paragraph-text">Advocate and Referral Names were entered using the same name. A person cannot refer themself.</p>
                    
              </div>
              <div class="email-to-wrapper">
                <p class="paragraph-text">Email us at <a class="jc-faq-expand-text-link" href = "mailto: emailTo:contact@rrmeds.com">contact@rrmeds.com</a> with any questions!</p>
              </div>
          </div>
    </div>
  </div>








      <div class="image-and-text white wf-section refferal">
        <div class="wrapper-inner alt row">

          <div class="image-and-text-right">
            <div class="our-hemp-img-1 referral"><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-referrals_AST_hemp_plant.jpg?v=1658784317" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-referrals_AST_hemp_plant.jpg?v=1658784317 500w" sizes="(max-width: 479px) 83vw, (max-width: 767px) 72vw, 42vw" alt=""></div>
          </div>


          <div class="image-and-text-left padding-left">
            
            <h2 class="jc-col-heading-works">This program won't work if:</h2>
            <div class="bullet-container">
                <div class="green-dot-wrapper">
                  <div class="green-dot"></div>
                </div>
                  <p class="paragraph-text">The IP address is the same for both email accounts (this is built into the system to prevent fraudulent activity).  For instance, two people using the same computer would most likely prevent the code from working.</p>
            </div>

                <div class="bullet-container">
                        <div class="green-dot-wrapper">
                        <div class="green-dot "></div>
                </div>
                            <p class="paragraph-text">One user is using two different email addresses for the same person; this is not allowed as it is not a true referral.</p>
                        
                  </div>

                  <div class="bullet-container">
                        <div class="green-dot-wrapper">
                        <div class="green-dot"></div>
                </div>
                            <p class="paragraph-text">If two users are on the same computer, cookies may be preventing redemption. Have one user try on a different device, like a smartphone.</p>
                        
                  </div>

                  <div class="bullet-container">
                        <div class="green-dot-wrapper">
                        <div class="green-dot"></div>
                </div>
                            <p class="paragraph-text">Advocate and Referral Names were entered using the same name. A person cannot refer themself.</p>
                        
                  </div>
          </div>
        </div>
        <div class="email-to-wrapper">
                <p class="paragraph-text">Email us at <a class="jc-faq-expand-text-link" href = "mailto: emailTo:contact@rrmeds.com">contact@rrmeds.com</a> with any questions!</p>
        </div>
      </div>

      {% section 'sk-banner-with-text-section-referal' %}
      
